$white-color: #ffffff;
$primary-color: #ffc4b6;
$border-radius: 20px;
$green-color: #026f30;

.store-promotion-card-selected {
  background-color: #db4d29 !important;
}
.store-promotion-card {
  font-style: normal;
  padding: 16px 32px;
  gap: 12px;
  background: $primary-color;
  position: relative;
  overflow: hidden;
  .cart-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px 12px 12px;
    background: $white-color;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    .content-left {
      width: 44px;
      text-align: left;
      svg {
        width: 32px;
        height: 32px;
      }
    }
    .content-right {
      width: calc(100% - 44px);
      .title {
        text-align: left;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        height: 48px;
        color: #282828;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .value {
        margin-top: 8px;
        align-items: center;
        padding: 8px 12px;
        background: #db4d29;
        border-radius: 8.46541px;

        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 12px;
        color: #ffffff;
        width: fit-content;
      }
      .name-of-discount-type {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #282828;
        text-align: left;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .footer {
        padding-top: 8px;
        border-top: 1px dashed #c1c1c1;
        display: flex;
        align-items: flex-end;
        height: 33px;
        .date-time {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin-left: 14px;
          color: #282828;
        }
        .clock-icon {
          display: flex;
        }
      }
    }
    .ant-card-body {
      padding: 0px;
    }
  }

  $circleDiameter: 24px;
  .circle {
    width: $circleDiameter;
    height: $circleDiameter;
    border-radius: 50%;
    background-color: $white-color;
  }
  .right-circle {
    display: grid;
    width: calc($circleDiameter / 2);
    position: absolute;
    float: left;
    right: 0px;
    top: 0px;
    height: calc(100% + $circleDiameter);
    transform: translate(0px, -$circleDiameter);
  }
  .left-circle {
    display: grid;
    width: calc($circleDiameter / 2);
    position: absolute;
    float: left;
    left: 0px;
    top: 0px;
    height: calc(100% + $circleDiameter);
    transform: translate(-$circleDiameter / 2, -$circleDiameter);
  }
}

@media screen and (max-width: 576px) {
  .store-promotion-card {
    font-style: normal;
    padding: 12px 20px;
    gap: 12px;
    background: $primary-color;
    position: relative;
    overflow: hidden;
    .cart-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 8px;
      background: $white-color;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      .content-left {
        width: 31px;
        text-align: left;
        svg {
          width: 22.5px;
          height: 22.5px;
        }
      }
      .content-right {
        width: calc(100% - 31px);
        .title {
          text-align: left;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          height: 32px;
          color: #282828;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .value {
          margin-top: 4px;
          align-items: center;
          padding: 4px 6px;
          background: #db4d29;
          border-radius: 8.46541px;

          font-style: normal;
          font-weight: 700;
          font-size: 10px;
          line-height: 12px;
          color: #ffffff;
          width: fit-content;
        }
        .name-of-discount-type {
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 17px;
          color: #282828;
          text-align: left;
          margin-top: 4px;
          margin-bottom: 4px;
        }
        .footer {
          padding-top: 3px;
          border-top: 1px dashed #c1c1c1;
          display: flex;
          align-items: center;
          .date-time {
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 17px;
            margin-left: 9.8px;
            color: #282828;
          }
          .clock-icon {
            display: flex;
            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }

    $circleDiameter: 15.9px;
    .circle {
      width: $circleDiameter;
      height: $circleDiameter;
      border-radius: 50%;
      background-color: $white-color;
    }
    .right-circle {
      display: grid;
      width: calc($circleDiameter / 2);
      position: absolute;
      float: left;
      right: 0px;
      top: 0px;
      height: calc(100% + $circleDiameter);
      transform: translate(0px, -$circleDiameter);
    }
    .left-circle {
      display: grid;
      width: calc($circleDiameter / 2);
      position: absolute;
      float: left;
      left: 0px;
      top: 0px;
      height: calc(100% + $circleDiameter);
      transform: translate(-$circleDiameter / 2, -$circleDiameter);
    }
  }
}
