.overview-widget {
  width: 100%;
  max-width: 452px;
  height: 163px;
  border-radius: 16px;
  padding: 24px;
  background-size: cover;
  .text-amount {
    font-weight: 800;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.3px;
    color: #ffffff;
  }
  .text-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    margin-top: 8px;
  }
  .widget-icon-container {
    display: flex;
    justify-content: center;
    height: 115px;
    svg {
      margin-top: auto;
    }
  }
}

@media (max-width: 500px) {
  .overview-widget {
    .text-amount {
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
      height: 40px;
    }
    .text-description {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    .widget-icon-container {
      display: flex;
      justify-content: center;
      height: 75px;
      svg {
        max-height: 70px;
        max-width: 70px;
      }
    }
  }
}
