.fnb-table-action-icon {
    svg {
        width: 26px;
        height: 26px;
    }

    svg path {
        fill: #A5ABDE;
        transition: 0.2s;
    }
}

.ant-tabs-extra-content {
    padding-right: 30px;
    padding-left: 20px;
}