.transfer-material-view {
  .ant-steps-label-vertical .ant-steps-item-content{
    width: 148px;
  }

  .ant-steps-label-vertical.ant-steps-small:not(.ant-steps-dot) .ant-steps-item-icon{
    margin-left: 60px;
  }

  .ant-steps-label-vertical .ant-steps-item-tail{
    margin-left: 70px;
  }

  .fnb-steps {
    min-height: 80px;
  }
  .item-dropdown {
    font-size: 16px;
    margin-right: 10px;
  }

  .color-edit {
    color: #389e0d !important;
  }
  .color-cancel {
    color: #cf1322 !important;
  }

  .icon-dropdown-action {
    margin-left: 12px;
  }

  .ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot
    .ant-steps-item.ant-steps-item-finish
    .ant-steps-icon-dot,
  .ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot
    .ant-steps-item.ant-steps-item-process.ant-steps-item-active
    .ant-steps-icon-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #50429b;
    background-clip: content-box;
    padding: 3px;
    border: 1px solid #50429b;
  }

  .ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot
    .ant-steps-item-wait
    .ant-steps-icon-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e4e4e6;
    background-clip: content-box;
    padding: 3px;
    border: 1px solid #e4e4e6;
  }

  .ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot
    .ant-steps-item.ant-steps-item-error.ant-steps-item-active
    .ant-steps-icon-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #db1b1b;
    background-clip: content-box;
    padding: 3px;
    border: 1px solid #db1b1b;
  }

  .ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot
    .ant-steps-item.ant-steps-item-error.ant-steps-item-active
    .ant-steps-icon {
    top: 0;
    left: 0 !important;
  }

  .ant-steps-dot .ant-steps-item-tail,
  .ant-steps-dot.ant-steps-small .ant-steps-item-tail {
    top: 8px;
    margin: 0 0 0 76px;
  }

  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: #2b2162;
  }

  .back-to-list {
    font-size: 15px;
    color: #868686;
  }
  .text-code {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #2b2162;
  }

  .button-action {
    color: #428bc1;
    margin-top: 10px;
  }

  .card-parent {
    .card-general-info {
      border-radius: 12px;
      .ant-card-head {
        border-bottom: none;
      }
      .ant-card-head-title {
        color: #2b2162;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 0;
      }
      .ant-card-body {
        .title-branch-warehouse {
          color: #9f9f9f;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.3px;
        }
        .content-branch-warehouse {
          color: #282828;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
        }
      }
    }
  }

  .card-material-info {
    border-radius: 12px;
    .ant-card-head {
      border-bottom: none;
    }
    .ant-card-head-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
    }

    .name-material {
      margin-left: 12px;
    }

    .right-total-material {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      border-radius: 16px;
      background: #fbfbfb;

      .total {
        display: flex;
        padding: 24px;
        gap: 24px;
        margin-top: 0;
      }
    }

    .total {
      .material-quantity {
        font-size: 24px;
        line-height: 21px;
        font-weight: 700px;
      }

      .material-quantity-label {
        font-size: 20px;
        line-height: 21px;
      }

      .total-width {
        width: 200px;
      }
    }
  }

  .text-time-history {
    color: #888a98;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
  }

  .ant-steps-item-finish {
    .ant-steps-item-title {
      color: #000;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.3px;
    }
  }

  .ant-steps-item-active {
    .ant-steps-item-title {
      color: #2b2162;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3px;
    }
  }
  .ant-steps-item-wait {
    .ant-steps-item-title {
      color: #888a98;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3px;
    }
  }

  .title-status-final.ant-steps-item-active {
    .ant-steps-item-title {
      font-weight: 600;
    }
  }

  //#region xs: '(min-width: 575px)',
  @media (max-width: 575px) {
    .total {
      .total-width {
        width: 150px;
      }
    }

    .steps-custom {
      margin: 30px 0;
      overflow: auto;
      min-height: fit-content;
      .fnb-steps {
        min-height: auto;
      }
    }

    .total {
      flex-direction: row;
      flex-wrap: nowrap;

      .material-quantity {
        font-size: 15px;
        line-height: 21px;
        font-weight: 700px;
      }

      .material-quantity-label {
        font-size: 15px;
        line-height: 21px;
      }
    }
  }

  .steps-wrapper {
    overflow: auto;
    margin-bottom: 10px;

    .step-region {
      min-width: 650px;
      margin: 5px 0;
    }
  }


  .steps-transfer-material {
    .ant-steps-item {
      .ant-steps-item-container {
        .ant-steps-item-content {
          .ant-steps-item-title {
            white-space: nowrap;
            margin-top: 12px;
          }
        }
      }
      .ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot .is-skip-step {
        .ant-steps-item-container {
          .ant-steps-item-icon {
            .ant-steps-icon {
              span.ant-steps-icon-dot {
                background-color: #ffffff;
              }
            }
          }
          .ant-steps-item-content {
            .ant-steps-item-title {
              color: #888a98;
            }
          }
        }
      }
    }
  }

  .ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot {
    .ant-steps-item.ant-steps-item-finish.steps-transfer-material-item.is-skip-step {
      .ant-steps-icon-dot {
        background-color: #ffffff !important;
      }
      .ant-steps-item-content {
        .ant-steps-item-title {
          color: #888a98;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.3px;
        }
      }
    }
  }
}

.dropdown-menu-action-transfer-material {
  border-radius: 12px !important;
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    padding: 12px 24px;
    border-radius: 12px !important;
  }
}


.custom-steps-transfer-material-default {
  .ant-steps-item-container > {
    .ant-steps-item-tail {
      padding: 3.5px 10px;
    }

    .ant-steps-item-tail::after {
      height: 2px;
    }

    .ant-steps-item-icon .ant-steps-icon svg {
      width: 24px;
      height: 24px;
    }

    .ant-steps-item-content > .ant-steps-item-description {
      color: #888A98 !important;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3px;
    }
  }

  .ant-steps-item-finish {
    .ant-steps-item-container > .ant-steps-item-tail::after {
      background-color: #2B2162;
    }

    .ant-steps-item-content .ant-steps-item-title {
      color: #000 !important;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-bottom: 12px
    }
  }

  .ant-steps-item-process {
    .ant-steps-item-container > .ant-steps-item-tail::after {
      background-color: #A5ABDE;
    }

    .ant-steps-item-content .ant-steps-item-title {
      color: #2B2162 !important;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-bottom: 12px
    }
  }

  .ant-steps-item-wait {
    .ant-steps-item-container > .ant-steps-item-tail::after {
      background-color: #A5ABDE;
    }

    .ant-steps-item-content .ant-steps-item-title {
      color: #888A98 !important;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-bottom: 12px
    }
  }
}

.custom-steps-transfer-material-cancel {
  .ant-steps-item-container > {
    .ant-steps-item-tail {
      padding: 3.5px 10px;
    }

    .ant-steps-item-tail::after {
      height: 2px;
      background-color: #2B2162 !important;
    }

    .ant-steps-item-icon .ant-steps-icon svg {
      width: 24px;
      height: 24px;
    }

    .ant-steps-item-content > .ant-steps-item-description {
      color: #888A98 !important;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3px;
    }
  }

  .ant-steps-item-finish {
    .ant-steps-item-content .ant-steps-item-title {
      color: #000 !important;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-bottom: 12px
    }
  }

  .ant-steps-item-process {
    .ant-steps-item-content .ant-steps-item-title {
      color: #2B2162 !important;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-bottom: 12px
    }
  }

  .ant-steps-item-wait {
    .ant-steps-item-content .ant-steps-item-title {
      color: #888A98 !important;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-bottom: 12px
    }
  }

  .ant-steps-item-error {
    .ant-steps-item-content .ant-steps-item-title {
      color: #282828 !important;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-bottom: 12px
    }
  }
}