.modal-view-area-table {
  top: 0;
  height: auto;
  height: 100%;

  .ant-modal-header {
    border: none;
    padding: 24px;
    border-radius: 24px;
  }

  .ant-modal-content {
    border-radius: 24px;
    margin-top: 20px;
    height: calc(100% - 20px);
  }

  .ant-modal-body {
    padding-top: 0;
    height: calc(100% - 88px);
  }
  .area-status {
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
  }

  .active {
    color: #33b530;
    background: rgba(51, 181, 48, 0.1);
  }

  .in-active {
    color: #ff8c21;
    background: rgba(255, 140, 33, 0.1);
  }

  .description-container {
    background-color: #f7f5ff;
    border-radius: 24px;
    padding: 24px 14px 24px 24px;

    .title-description {
      color: #50429b;
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
    }
  }
  .text-line-description {
    overflow: auto;
    height: calc(100% - 48px);
    position: relative;
  }

  .ant-modal-close-x {
    margin-top: 24px;
  }

  .close-modal-icon {
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 24px;
    svg > path {
      stroke: #817cba;
    }
  }
  .box-container {
    gap: 24px;
    flex-flow: nowrap;
    height: 100%;
    .name-detail {
      gap: 12px;
      margin: 24px 24px 0 0;
      font-size: 18px;
    }
    .box-thumbnail-default {
      width: 400px;
      height: 400px;
      background-color: #f7f5ff;
      border-radius: 24px;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .text-image-no-updated {
      margin-top: 12px;
      color: #bdbacc;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
    }
    .box-left-info {
      position: relative;
      height: 100%;
      overflow: auto;
    }
  }
  .parent-name {
    color: #282828;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
  }
  .no-data {
    background-color: #f7f5ff;
    height: calc(100% - 40px);
    border-radius: 24px;
  }
  .no-data-found-wrapper {
    height: calc(100% - 40px);
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 764px) {
  .modal-view-area-table {
    top: 20px !important;
    max-width: 100%;
    .ant-modal-body {
      .box-container {
        flex-flow: row wrap;
        flex-wrap: wrap;
        flex-direction: column;
        .image-detail {
          display: flex;
          justify-content: center;
        }
        .description-container {
          margin-top: 24px !important;
        }
        .text-line-description {
          max-height: 100%;
        }
        .box-thumbnail-default {
          width: 100%;
        }
      }
    }
    .ant-modal-content {
      border-radius: 16px 16px 0 0 !important;
      height: auto;
    }
  }
}
