.intruction-promotion-config {
  border-radius: 16px;
  background: #f7f5ff;
  height: 90%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  overflow: scroll;
  overflow-x: hidden;
  .tooltip-promotion-config {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
  }
  // Region title
  .title-danger {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    color: #db1b1b;
  }
  .title-warning {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    color: #ff8c21;
  }
  .title-default {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    color: #282828;
  }
  .title-primary {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    color: #3051ff;
  }
  .title-success {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    color: #1ca362;
  }
  // End region title

  // Region text
  .text-danger {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #db1b1b;
  }
  .text-warning {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #ff8c21;
  }
  .text-default {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #282828;
  }

  .text-primary {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #3051ff;
  }
  .text-success {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #1ca362;
  }
  // End region text

  .discount-value {
    min-width: 100px;
  }
  .wrapper-content {
    display: flex;
    flex-direction: column;
    &--rg-12 {
      row-gap: 12px;
    }
    &--cg-75 {
      column-gap: 75px;
    }
    &--rg-10 {
      row-gap: 10px;
    }
    &--mw-350px {
      max-width: 350px;
    }
    &--list {
      margin-left: 24px;
      margin-bottom: unset;
    }
    &--direction-row {
      flex-direction: row;
      min-width: 100px;
    }
  }
}
