.readmore-dialog {
    .ant-modal-mask {
        background-color: rgba(0, 0, 0, 0.80);
    }
    .ant-modal-title
    {
        .title {
            text-align: left;
        }
    }
    .reservation-readmore {
        overflow-y: auto;
        overflow-x: hidden;
        height: 67vh;
        padding: 0 10px 0 0;
    }
    .reservation-readmore::-webkit-scrollbar {
        width: 4px;
        height: 86px;
    }
    .reservation-readmore::-webkit-scrollbar-thumb {
        background: #E1E1E1; 
        border-radius: 20px;
    }
    .reservation-readmore::-webkit-scrollbar-track {
        background: rgba(235, 235, 235, 0.60);
    }
    .readmore-dialog-body {
        width: 850px !important;
        padding-bottom: 0 !important;
        .ant-modal-content {
            padding: 32px;
            .title {
                line-height: 24px;
                margin-bottom: 24px;
            }
            .title-detail-description {
                line-height: 24px;
                margin-bottom: 16px;
            }
            .title-seats {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 16px;
            }
            .ant-image {
                margin-bottom: 16px;
                width: 100%;
            }
            .ant-image-mask, .readmore-image {
                border-radius: 8px;
            } 
  
            .readmore-content {
                article {
                    width: 100% !important;
                }
                figure {
                    display: inline !important;
                    text-align: center;
                    * {
                        text-align: center;
                        width: 100%;
                    }
                }
                overflow-x: hidden;
                padding-bottom: 12px;
            }
            .ant-modal-close{
                top: 32px;
                right: 32px;
                .ant-modal-close-x{
                    font-weight: 700;
                    color: #000;
                    font-size: 24px;
                }
            }
        }
    }
}

.box-drawer-readmore{
    border-radius: 16px 16px 0px 0px;
    .ant-drawer-body
    {
        overflow-y: scroll;
        overflow-x: hidden;

        .readmore-content {
            overflow-x: hidden;
            article {
                width: 100% !important;
            }
            figure {
                display: inline !important;
                text-align: center;
                * {
                    text-align: center;
                    width: 100%;
                }
            }
            padding-bottom: 12px;
        }
    }

    .ant-drawer-body::-webkit-scrollbar {
        width: 4px;
        height: 86px;
    }
    .ant-drawer-body::-webkit-scrollbar-thumb {
        background: #E1E1E1; 
        border-radius: 20px;
    }
    .ant-drawer-body::-webkit-scrollbar-track {
        background: rgba(235, 235, 235, 0.60);
    }
}

@media screen and (min-width: 576px) and (max-width: 1199px) {
    .box-drawer-readmore {
        .ant-drawer-header {
            padding: 24px 32px 20px;
            border-bottom: 0px;

            .ant-drawer-header-title {
                flex-direction: row-reverse;
            }

            .ant-drawer-title {
                .content-center {
                    justify-content: left;

                    .title {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .ant-drawer-body {
            padding: 0 32px 20px;

            .ant-image-mask,
            .readmore-image {
                border-radius: 8px;
            }

            .title-detail-description {
                margin-bottom: 12px;
            }

            .title-seats {
                margin-bottom: 12px;
            }

            .ant-image {
                margin-bottom: 26px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .box-drawer-readmore {
        .ant-drawer-header {
            padding: 32px 16px 20px;
            border-bottom: 0px;

            .ant-drawer-header-title {
                flex-direction: row-reverse;
            }

            .ant-drawer-title {
                .ant-drawer-close {
                    margin-right: 5px;
                }

                .content-center {
                    justify-content: left;

                    .title {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .ant-drawer-body {
            padding: 0 16px 20px;

            .ant-image-mask,
            .readmore-image {
                border-radius: 8px;
            }

            .title-detail-description {
                margin-bottom: 12px;
            }

            .title-seats {
                margin-bottom: 12px;
            }

            .ant-image {
                margin-bottom: 26px;
                width: 100%;
            }
        }
    }
}