.fnb-notify-dialog-product-dependencies {
  .ant-modal-title {
    color: #50429b !important;
  }
  .ant-modal-content {
    .ant-modal-footer {
      .ant-btn-primary {
        margin: auto !important;
      }
    }
  }
}

.text-content-notification-product-dependencies {
  padding-bottom: 32px;
}

.table-product-dependencies {
  .ant-table-thead {
    .ant-table-cell {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      color: #463796;
    }
  }
}
