.pos-display-image {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 12px;
  .display-image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .promotion-label {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 8px;
    background: #ff5206;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    padding: 4px 6px;
    span {
      display: block;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

@media (max-width: 575px) {
  .pos-display-image {
    .promotion-label {
      top: 8px;
      right: 8px;
      height: fit-content;
      span {
        font-size: 13px;
      }
    }
  }
}
