.chart-title{
  font-size: 24px;
  font-weight: 700;
  color: #2B2162;
}

@media (max-width: 480px) {
  .line-chart {
    overflow: auto;
    .ant-card-body{
      height: 420px !important;
      width: 650px !important;
    }
    .legend-container ul {
      justify-content: start !important;
    }
  }
}

