.customer-delivery-address-wrapper {
  width: 100%;
  height: 100%;
  padding-left: 35px;
  padding-right: 35px;
  .my-address-container {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    .title-container {
      height: 48px;
      padding: 12px;
      .title-text {
        font-weight: 700;
        font-size: 20px;
        line-height: 40px;
        color: #000000;
      }
    }
    .address-list-container {
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      .address-detail-box {
        cursor: pointer;
        padding-top: 8px;
        padding-bottom: 24px;
        display: flex;
        border-bottom: 2px solid #d9d9d9;
        .address-content {
          width: 100%;
          .address-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            color: #000000;
          }
          .address-detail-text {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            margin-top: 16px;
            color: #000000;
          }
          .address-default-text {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #fef7ed;
            background: #026f30;
            border-radius: 12px;
            padding: 6px 16px;
            margin-left: 16px;
          }
        }
      }
    }
  }
}

// Adapt mobile screen
@media screen and (max-width: 600px) {
  .customer-delivery-address-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.address-list-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.address-list-container::-webkit-scrollbar-track {
  border-radius: 2px;
}

.address-list-container::-webkit-scrollbar-thumb {
  background: #026f30;
  border-radius: 2px;
}

.address-list-container::-webkit-scrollbar-thumb:hover {
  background: #64b084;
}
