
.badge-package-status {
    border-radius: 16px;
    min-height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: inline-flex;
    span {
        margin: auto;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

.badge-package-status.activated {
    background-color: rgba(51, 181, 48, 0.1);
    span {
        color: #33B530;
    }
}

.badge-package-status.expired {
    background-color: rgba(133, 133, 133, 0.1);
    span {
        color: #858585;
    }
}

.badge-package-status.waitingForActivation {
    background-color: rgba(255, 140, 33, 0.1);
    span {
        color: #FF8C21;
    }
}

.badge-package-status.default {
    background: rgba(252, 13, 27, 0.1);
    span {
        color: #FC0D1B;
    }
}
