################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.suo
*.user
_ReSharper.*
bin
obj
.vs
.vscode
sources/front-end/gofood/android/app/debug.keystore
sources/front-end/gofood/ios/gofood.xcodeproj/project.pbxproj
sources/front-end/gofood/ios/Podfile.lock
/sources/back-end/GoFoodBeverage/AzureFunctionTrigger/Properties/PublishProfiles
/sources/back-end/GoFoodBeverage/GoFoodBeverage.WebApi/.config/dotnet-tools.json
sources/front-end/store-web/node_modules
sources/front-end/store-web/package-lock.json
/sources/front-end/store-web/src/theme/
/sources/front-end/storeapp/package-lock.json
/sources/front-end/gofood/package-lock.json
/sources/front-end/store-web/public/store.config.json
/sources/front-end/store-web/1_getTheme.cmd
/sources/front-end/store-web/2_getTheme.cmd
sources/front-end/go-food-beverage-pos/.idea/
sources/front-end/go-food-beverage/.idea/
/sources/front-end/POSApp/android/app/src/main/assets/index.android.bundle
sources/front-end/posapp/android/app/src/main/assets/index.android.bundle
sources/front-end/store-web/.idea/.gitignore
sources/front-end/store-web/.idea/modules.xml
sources/front-end/store-web/.idea/php.xml
sources/front-end/store-web/.idea/store-web.iml
sources/front-end/store-web/.idea/vcs.xml
sources/front-end/store-web/.idea/inspectionProfiles/Project_Default.xml
sources/front-end/posapp/.yarn/
sources/front-end/posapp/yarn.lock
/sources/front-end/store-web/.yarn
/sources/front-end/go-food-beverage-pos/yarn.lock
/sources/front-end/store-web/yarn.lock
/sources/front-end/store-web/.yarnrc.yml
/sources/front-end/store-web/public/store.config.json
/sources/front-end/go-food-beverage/.yarn
/sources/front-end/go-food-beverage/.yarnrc.yml
/sources/front-end/go-food-beverage/yarn.lock
/sources/front-end/POSApp
/.yarn/releases
/.yarnrc.yml
/sources/front-end/go-food-beverage-pos/.yarn
/sources/front-end/POSApplication/.yarn
/sources/front-end/POSApplication/android/app/src/main/assets/index.android.bundle
/sources/front-end/POSApplication/yarn.lock
/sources/front-end/POSApplication/.env
/sources/front-end/POSApplication/android/app/src/main/res
