.account-information-theme1 {
  width: 100%;
  .acc-info {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #d9d9d9;
    padding: 24px 0 24px 52px;
    margin-bottom: 80px;
    margin-left: 28px;
  }

  .arrow-left-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #000000;
    display: none;
    svg {
      margin-right: 20px;
    }
  }
  .fnb-input-theme {
    height: 100%;
    font-size: 18px;

    .ant-input {
      font-size: 18px;
    }
  }
  .fnb-input[disabled] {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    background: #f7f7f7;
    border: none;
    cursor: not-allowed;
    opacity: 1;
  }
  .my-profile-img {
    width: 240px;
    height: auto;
    max-width: 90%;
    position: relative;
    margin: 0 auto 30px;
    border-radius: 12px;
    img {
      width: 240px;
      height: auto;
      max-width: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
    .camera-upload-img {
      position: absolute;
      top: 15px;
      right: 15px;
      &:hover {
        cursor: pointer;
      }
    }
    svg {
      height: 30px;
      width: 27px;
    }
  }
  .personal-info {
    margin: 0 auto;
    .personal-info-fullname,
    .personal-info-phone-code,
    .personal-info-phone-number,
    .personal-info-email {
      .ant-form-item-control-input-content {
        height: 60px;
      }
    }

    .personal-info-birth-day {
      .store-web .ant-picker-input {
        flex-direction: row-reverse;
      }
    }

    .ant-row {
      row-gap: 40px !important;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .info-title {
      text-align: end;
      margin: auto !important;
      display: flex;
      padding-left: 8px;
      padding-right: 0;
      justify-content: flex-start;
    }

    .personal-info-phone-code {
      .ant-select {
        height: 100%;
        .ant-select-selector {
          height: 100%;
          align-items: center;
          display: flex;
          justify-content: center;
          margin: auto;
          font-size: 18px;
        }
      }
    }
    .ant-form-item-explain-error {
      position: absolute;
      margin-top: 6px;
      font-size: 13px;
      line-height: normal;
      font-weight: 400;
    }
    .css-dev-only-do-not-override-15rg2km {
      row-gap: 40px !important;
    }
    .ant-row .ant-col-lg-20 .ant-form-item {
      margin-bottom: 0px;
    }
    .ant-row .ant-col {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
    }
    .account-info-save {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      width: 214px;
      height: 60px;
      border-radius: 12px;
      outline: none;
      margin: 55px 0;
      float: right;
      position: relative;
      right: 7%;
    }

    .pass-action {
      float: right;
      .password-info-cancel {
        font-style: normal;
        color: #c1c1c1;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        border-radius: 12px;
        height: 60px;
        padding: 12px 24px;
        gap: 16px;
        position: relative;
        margin: 40px 24px;
        right: 18%;
      }

      .password-info-save {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        width: 214px;
        height: 60px;
        border-radius: 12px;
        outline: none;
        margin: 40px 0;
        position: relative;
        right: 18%;
      }
    }

    .pass-action-password-info-save-theme1 {
      float: none;
      display: flex;
      justify-content: flex-end;

      .password-info-save {
        right: 7%;
      }
    }

    .ant-picker-input input {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: #000000;
    }

    .personal-info-phone-number {
      padding-right: 20px !important;
    }

    .exist-phone-code {
      color: #ff4d4f;
      margin-left: 8px;
    }
    .personal-info-gender {
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
      }
      .ant-form-item {
        margin-bottom: 0px;
      }
      .ant-radio > span {
        margin-right: 10px;
      }
      .ant-radio ~ span {
        margin-right: 40px;
      }

      .ant-radio-wrapper .ant-radio-inner {
        background: #ffffff;
        border: 1px solid #a5abde;
        width: 24px;
        height: 24px;
      }

      .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
        border: 1px solid #ff8c21;
      }

      .ant-radio-wrapper .ant-radio-inner::after {
        background: #ff8c21;
      }

      .ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
        transform: scale(-0.95);
      }
    }
  }
  .select-personal-info-dropdown {
    width: 100%;
    margin-right: 24px;
    .ant-select-selector:hover {
      border: none !important;
    }
    .ant-select-selector {
      border-radius: 12px !important;
      border: none !important;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
      background: #ffffff !important;
      height: 52px !important;
      cursor: pointer !important;
      .ant-select-selection-search {
        .ant-select-selection-search-input {
          height: 100% !important;
          font-size: 18px !important;
          padding-left: 5px !important;
        }
      }
      .ant-select-selection-placeholder {
        font-size: 18px !important;
        padding-left: 5px !important;
        margin: auto;
      }
      .ant-select-selection-item {
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        line-height: 60px !important;
        letter-spacing: 0.3px !important;
        color: #000000 !important;
        padding-left: 5px !important;
      }
    }
    .ant-select-arrow {
      user-select: all !important;
      padding-right: 5px !important;
    }
  }

  .acc-pass {
    margin-bottom: 40px !important;
  }

  .fnb-input-pass {
    height: 100%;
    font-size: 18px;
    border-radius: 12px;
    width: 91%;

    .ant-input {
      font-size: 18px;
    }
  }

  .password-setup-container {
    background-color: #fafafa;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    padding: 24px 0px 24px 0px;
    margin: 0px 28px 0px 28px;

    .password-setup {
      display: flex;
      flex-direction: column;
      align-items: center;

      .password-not-setup {
        color: #282828;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin: 24px;
      }

      .setup-password-link {
        color: #026f30;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }
}

.password-success-message {
  background-color: #333e5a;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: white;
  border-radius: 16px;
  height: 56px;
  padding: 10px 16px 10px 16px;
  width: fit-content;
}

@media (max-width: 991px) and (min-width: 575px) {
  .my-profile-theme1-container {
    .my-profile-right {
      width: 100% !important;

      .account-information-theme1 {
        .arrow-left-title {
          padding-left: 30px;
          margin-bottom: 30px;
        }

        .my-profile-account {
          .personal-info {
            .ant-row {
              row-gap: 0px !important;

              .personal-info-fullname,
              .personal-info-email,
              .personal-info-gender,
              .personal-info-phone-code,
              .personal-info-phone-number,
              .personal-info-birth-day,
              .personal-info-gender {
                margin-top: 12px !important;
                margin-bottom: 35px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .my-profile-theme1-container {
    .my-profile-right {
      .account-information-theme1 {
        .arrow-left-title {
          display: flex !important;
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 576px) {
  .account-information-theme1 {
    width: calc(100% - 32px);
    margin: 0 16px;
    .my-profile-account {
      justify-content: center;
      margin-top: 19px;
      .my-profile-img {
        display: none;
      }
    }
    .personal-info {
      width: 100%;
      margin: unset;

      .ant-row {
        row-gap: 8px !important;
        .fnb-input-theme {
          height: 100%;
          font-size: 16px;

          .ant-input {
            font-size: 16px;
          }
        }
        .personal-info-fullname,
        .personal-info-email,
        .personal-info-gender,
        .personal-info-phone-code,
        .personal-info-phone-number {
          margin-top: 5px !important;
          margin-bottom: 14px;
        }
      }

      .info-title {
        font-size: 16px !important;
        text-align: start;
        padding-right: 72px !important;
        margin-top: 20px !important;
      }

      .account-info-save {
        width: 100%;
        right: 0;
        margin-top: 14px;
      }

      .pass-action {
        float: none;
        width: 100%;
        .password-info-cancel {
          margin: 0px;
          right: 0;
          width: 100%;
          margin: 34px 0px 0px 0px;
        }

        .password-info-save {
          width: 100%;
          right: 0;
          margin-top: 34px;
          margin-bottom: 0px;
        }
      }

      .css-dev-only-do-not-override-15rg2km {
        row-gap: 24px !important;
      }
      .personal-info-phone-code {
        .fnb-input-customize {
          padding-left: 5px;
        }
      }
      .ant-picker-input input {
        font-size: 16px;
        line-height: 20px;
      }
      .personal-info-phone-number {
        padding-right: 8px !important;
      }
      .personal-info-gender {
        span {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
        }
        .ant-form-item {
          margin-bottom: 0px;
        }
        .ant-radio > span {
          margin-right: unset;
        }
        .ant-radio ~ span {
          margin-right: unset;
        }
        .ant-radio-group {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .fnb-input-pass {
      width: 100%;
    }

    .change-pass-title {
      margin-bottom: 16px;
    }

    .password-setup-container {
      background-color: #fafafa;
      border-radius: 32px;
      display: flex;
      justify-content: center;
      padding: 16px 0px 16px 0px;
      margin: 0px;

      .password-setup {
        display: flex;
        flex-direction: column;
        align-items: center;

        .password-not-setup {
          color: #282828;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin: 24px 0px 24px 0px;
          text-align: center !important;
        }

        .setup-password-link {
          color: #026f30;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }
  }

  .password-success-message {
    background-color: #333e5a;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    color: white;
    border-radius: 16px;
    height: 56px;
    padding: 10px 16px 10px 16px;
    width: max-content;
  }
}
