.product-detail-container {
  padding-top: 24px !important;
  padding: 16px;
  .product-header-content > * {
    margin-right: 8px;
  }
  .product-header-content > :last-child {
    margin-right: 0;
  }
  .product-header-content {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px 16px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 24px;
    a {
      color: #8d8d8d;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 177.778% */
      text-transform: capitalize;
    }
    .product-name {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 177.778% */
      color: #026f30;
    }
    span {
      color: #8d8d8d;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 177.778% */
      text-transform: capitalize;
    }
    .icon-right-arrow {
      width: 24px;
      height: 14px;
    }
    svg {
      path {
        fill: #8d8d8d;
      }
    }
  }
  .product-detail-content {
    background: #ffffff;
    border-radius: 16px;
    padding: 32px 32px;
    margin: 0 auto;
    .product-detail-flash-sale {
      display: block;
    }
    .flip-countdown-on-mobile {
      display: none;
    }
    .product-detail-content-left {
      padding-right: 48px;
      .product-detail-image {
        .product-detail-image-swiper {
          .slide-image {
            border: none;
          }
        }
      }
    }
    .product-detail-content-right {
      padding-left: 0px;
      .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        align-items: center;
      }
    }
    .product-detail-title {
      color: #026f30;
      
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-bottom: 16px;
    }
    .product-price {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.3px;
      display: flex;
    }
    .product-original-price {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3px;
      text-decoration-line: line-through;
      color: #b2b2b2;
      margin-left: 16px;
    }
    .product-price-name {
      font-size: 20px;
      line-height: 25px;
      margin: auto;
      letter-spacing: 0.3px;
      color: #b2b2b2;
    }
    .modify-quantity {
      margin-left: 26px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: end;
      align-items: center;
      background: #026f30;
      border-radius: 8px;
      height: 40px;
      .btn-reduce {
        width: 40px;
        height: 40px;
        min-width: unset !important;
        border-radius: 8px;
        float: right;
        border: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 36px;
          height: 36px;
        }
      }
      .btn-increase {
        width: 40px;
        height: 40px;
        min-width: unset !important;
        border-radius: 8px;
        float: right;
        border: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 36px;
          height: 36px;
        }
      }
      .quantity-product {
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
        align-items: center;
        width: 40px;
        height: 52px;
        float: right;
        display: flex;
        justify-content: center;
      }
      svg {
        path {
          fill: #000000;
        }
        rect {
          fill: #fff;
        }
      }
    }
    .quantity-responsive .modify-quantity-for-responsive {
      margin-left: 26px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: end;
      align-items: center;
      background: #026f30;
      border-radius: 8px;
      height: 40px;
      svg {
        path {
          fill: #000000;
        }
        rect {
          fill: #ffffff;
        }
      }
      .btn-reduce {
        width: 40px;
        height: 40px;
        min-width: unset !important;
        border-radius: 8px;
        float: right;
        border: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 36px;
          height: 36px;
        }
      }
      .btn-increase {
        width: 40px;
        height: 40px;
        min-width: unset !important;
        border-radius: 8px;
        float: right;
        border: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 36px;
          height: 36px;
        }
      }
      .quantity-product {
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
        align-items: center;
        width: 40px;
        height: 52px;
        float: right;
        display: flex;
        justify-self: center;
      }
    }
    .note {
      display: flex;
      margin-top: 24px;
      .product-detail-input {
        min-height: 60px !important;
        border-radius: 16px;
        color: #b2b2b2;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3px;
        padding: 18px 0px 18px 50px;
        border-radius: 12px;
        border: 1px solid #6d6d6d;
      }
      .note-icon-theme1 {
        width: 56px;
        position: relative;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: #f9f9f9;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        border: none;
        border-right: none;
        .note-icon {
          position: relative;
          width: 24px;
          height: 24px;
        }
        .border {
          height: 100%;
          width: 20px;
          position: absolute;
          right: -12px;
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
          background-color: #f9f9f9;
        }
      }
      .input-text-area-theme1 {
        flex: 1;
        .product-detail-input {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border: none;
          border-left: none;
          padding-left: 0px;
          background: #f9f9f9;
        }
        box-shadow: none;
      }
    }
    .btn-product-detail {
      width: 100%;
      height: 80px;
      border-radius: 16px;
    }
    .btn-submit {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      background: #026f30;
      border: none;
      margin-top: 32px;
    }
    .out-of-stock {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      background: #263238 !important;
      border: none;
      margin-top: 32px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn-add-to-cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn-add-to-cart-text {
        .add-to-card {
          display: flex;
          align-items: center;
          justify-content: center;
          display: grid;
          gap: 16px;
          grid-template-columns: auto auto;
        }
      }
      .btn-add-to-cart-original-price {
        
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
        text-decoration: line-through;
      }
    }
    .btn-add-to-cart-responsive {
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-add-to-cart-text {
        .add-to-card {
          display: flex;
          align-items: center;
          justify-content: center;
          display: grid;
          gap: 16px;
          grid-template-columns: auto auto;
        }
      }
      .btn-add-to-cart-original-price {
        text-decoration: line-through;
        
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
      }
    }
    .btn-favorite-product {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
      background: #ffffff;
      border: 1px solid #969696;
      margin-top: 16px;
      margin-bottom: 32px;
      .icon-favorite {
        margin-left: 27px;
      }
    }
    .product-detail-image {
      max-width: 100% !important;
      margin-bottom: 32px;
      .promotional-product {
        display: flex;
        position: absolute;
        width: 350px;
        height: 72px;
        left: -70px;
        top: 0px;
        background: #e91717;
        transform: rotate(-25deg);
        z-index: 1;
        align-items: center;
        span {
          
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          letter-spacing: 0.3px;
          text-align: center;
          color: #ffffff;
          align-items: center;
          width: 85%;
        }
      }
    }
    .product-rate {
      display: grid;
      width: fit-content;
      grid-template-columns: auto auto auto auto;
      gap: 8px;
      align-items: center;
      .ant-rate-star {
        display: flex;
        .ant-rate-star-second {
          span {
            display: flex;
          }
        }
      }
    }
    .product-detail-rate {
      font-size: 24px;
      color: #dc710e;
      vertical-align: bottom;
    }
    .total-review {
      color: #494949;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.3px;
    }
    .rate-number {
      color: #494949;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.3px;
    }
    .description-title {
      color: #494949;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-bottom: 8px;
      margin-top: 16px;
    }
    .description-content {
      color: #494949;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.3px;
      
      .ant-typography {
        color: #494949;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3px;
        
        margin-bottom: 0px;
      }
      .collapse-custom {
        color: #007eff;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
        
      }
      a {
        color: #007eff;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
        
      }
    }
    .options {
      margin-top: 32px;
      .combo-data-collapse-custom {
        border: none;
        .ant-collapse-item-active {
          border: none;
        }
        .ant-collapse-item {
          margin-top: 24px;
          .ant-collapse-header {
            border: none;
            border-radius: 8px;
            background: #263238;
            height: 55px;
            .ant-collapse-header-text {
              width: 80%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              span {
                color: #fff;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.3px;
              }
            }
          }
          .ant-collapse-content {
            border: none;
          }
          .caret-down-out {
            display: flex;
            height: 51px;
            padding: 12px 12px 12px 16px;
            justify-content: center;
            align-items: center;
            margin-right: -12px;
            gap: 8px;
            border-radius: 8px;
            background: #263238;
            span {
              color: #fff;
              
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 0.3px;
            }
          }
          .caret-up-out {
            display: flex;
            height: 51px;
            padding: 12px 12px 12px 16px;
            justify-content: center;
            align-items: center;
            margin-right: -12px;
            gap: 8px;
            border-radius: 8px;
            background: #f9f9f9;
            span {
              color: #424242;
              
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 0.3px;
            }
          }
        }
        .ant-collapse-item-active {
          .ant-collapse-header {
            border: none;
            border-radius: 8px;
            background: #f2f2f2;
            height: 55px;
            .ant-collapse-header-text {
              width: 80%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              span {
                color: #000;
                
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.3px;
              }
            }
          }
        }
      }
      .ant-collapse-item.ant-collapse-item-active.product-price-header {
        > .ant-collapse-header {
          background-color: #f7931e;
          border-radius: 15px !important;
          border: none;
          > .ant-collapse-header-text {
            color: #ffffff;
          }
        }
        > .ant-collapse-content.ant-collapse-content-active {
          border-top: none;
        }
      }
      .ant-collapse-item.product-price-header {
        > .ant-collapse-header {
          background-color: #f7931e;
          border-radius: 15px !important;
          border: none;
          > .ant-collapse-header-text {
            color: #ffffff;
          }
        }
        > .ant-collapse-content {
          border-top: none;
        }
        > .ant-collapse-content.ant-collapse-content-active > .ant-collapse-content-box {
          border: none;
          padding: 33px 0px 0px 0px !important;
        }
        > .ant-collapse-content > .ant-collapse-content-box {
          border: none;
          padding: 33px 0px 0px 0px !important;
        }
      }
      .product-price-header {
        border-radius: 15px;
      }
      .product-price-collapse {
        border: none;
        margin-bottom: 25px;
      }
      .product-price-collapse:last-child {
        margin-bottom: 0px;
      }
      .caret-right-outlined {
        font-size: 20px;
        color: #fff;
      }
      .product-detail-collapse {
        display: grid;
        gap: 24px;
        .selection {
          // display: grid;
          // grid-template-columns: 1fr;

          gap: 16px;
          align-items: center;
          .header {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.3px;
          }
        }
        border-radius: 15px;
        .collapse-panel-custom {
          .ant-collapse-header {
            background: #f3f3f3;
          }
        }
        .ant-collapse-item:first-child {
          .ant-collapse-header {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            background: #f3f3f3;
          }
        }
        .ant-collapse-item:last-child {
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          .ant-collapse-header {
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            background: #f3f3f3;
          }
          .ant-collapse-content {
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
          }
        }
        .ant-collapse-item.ant-collapse-item-active {
          .ant-collapse-header {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
          }
        }
        .ant-collapse-header-text {
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: #6a6a6a;
        }
        .ant-collapse-header {
          height: 66px;
        }
      }
      .combo-detail-collapse {
        .ant-collapse-header {
          height: 66px;
        }
        .ant-collapse-header-text {
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: #6a6a6a;
        }
      }
      .ant-radio-button-wrapper:not(:first-child)::before {
        background: none;
      }
      .group {
        display: grid;
        gap: 16px;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 16px;
      }
      .radio-option {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        align-items: center;
        width: auto;
        background: #fff;
        letter-spacing: 0.3px;
        display: flex;
        min-height: 82px;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid #f9f9f9;
        background: #f9f9f9;
        .radio-option-price {
          margin-bottom: 0px !important;
          padding-top: 10px;
        }
      }
      .ant-radio-button-wrapper-checked {
        span {
          color: #000;
          
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.3px;
        }
        align-items: center;
        display: flex;
        width: auto;
        background: #fff;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 2px;
        border: 1px solid #026f30;
        .ant-radio-button-checked {
          border-radius: 12px 60px 12px 12px;
          background-color: #fff;
        }
      }
    }

    .options .ant-collapse-content-box > .ant-radio-group.ant-radio-group-outline.ant-radio-group-large {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
    }

    .options .ant-collapse-content-box {
      padding: 32px 0px !important;
    }
    .topping > .ant-collapse-content > .ant-collapse-content-box {
      padding: 0px !important;
    }
  }
  .similar-product {
    background-color: #fff;
    border-radius: 16px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 36px;

    .similar-product-title {
      margin-bottom: 48px;
      color: #026f30;
      text-align: center;
      
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.3px;
      .button-left-arrow {
        display: block;
        background-image: url("../../../assets/icons/left-category-arrow-new-icon.svg") !important;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border-radius: 12px;
        width: 48px;
        background-size: cover;
        height: 48px;
        position: absolute;
        z-index: 1;
        right: 100px;
        cursor: pointer;
        &:hover {
          background-color: transparent;
        }
      }
      .button-right-arrow {
        display: block;
        background-image: url("../../../assets/icons/right-category-arrow-new-icon.svg") !important;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border-radius: 12px;
        width: 48px;
        height: 48px;
        position: absolute;
        background-size: cover;
        z-index: 1;
        right: 36px;
        cursor: pointer;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  .review-content {
    .header-comment {
      width: fit-content;
      border-radius: 16px;
      background: #ff3448;
      display: inline-flex;
      padding: 16px 35px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 8px;
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.3px;
    }
    border: none;
    border-radius: 16px;
    background: #f9f9f9;
    border-radius: 16px !important;
    margin-top: 80px !important;
    min-height: 488px;
    height: fit-content;
    .ant-card-head-title {
      height: 103px;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
    .ant-card-head {
      border-bottom: none;
    }
    .review-icon {
      margin: auto;
    }
    .review-text {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin-top: 10px;
    }
    .ant-card-body {
      padding: 24px;
      text-align: center;
      min-height: calc(448px - 63px);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
.product-detail-theme-1 {
  .close-branch-theme-1 {
    padding: 12px 0;
  }
  .close-branch-theme-1 + .product-detail-container {
    padding-top: 0px !important;
  }
}
.choose-options-header {
  display: none;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
#popup-choose-options {
  display: block;
  .quantity-responsive {
    display: none;
  }
  .close-icon {
    display: none;
  }
}
#popup-choose-options-for-responsive {
  display: none;
}
.btn-hide-show-popup-when-mobile {
  display: none;
}

.display-when-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .product-detail-container .similar-product {
    padding: 24px;
    margin-top: 32px;
    margin-bottom: 0px;
  }
  .mySwiper {
    display: none;
  }
  .product-header-content {
    display: none;
  }
  .product-detail-theme-1 {
    .close-branch-theme-1 {
      padding-top: 12px;
    }
  }
  .display-when-mobile {
    display: block;
  }
  .mobile-display-none {
    display: none !important;
  }
  .product-detail-container {
    padding: 24px;
    .product-detail-content {
      background: #ffffff;
      box-shadow: none;
      border-radius: 16px;
      margin: 0 auto;
      padding: 24px;
      .product-detail-flash-sale {
        display: none;
      }
      .flip-countdown-on-mobile {
        margin-top: 12px;
        display: block;
        .flash-sale-banner {
          border-radius: 8px;
        }
      }
      .product-detail-content-left {
        padding-right: 0px;
      }
      .product-detail-content-right {
        padding-left: 0px;
      }
      .product-detail-title {
        color: #026f30;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: left;
        margin-bottom: 12px;
        .hear-icon {
          height: 24px;
          width: 24px;
          float: right;
        }
      }
      .product-price {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
      }
      .product-original-price {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.3px;
        text-decoration-line: strikethrough;
        margin-left: 9px;
      }
      .product-price-name {
        font-size: 13px;
        line-height: 16px;
      }
      .modify-quantity {
        .quantity-product {
          padding: 0px 20px;
        }
      }
      .quantity-responsive {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .modify-quantity-for-responsive {
          padding-right: 8px;
          padding-left: 8px;
          display: flex;
          width: fit-content;
          padding: 2px;
          justify-content: center;
          align-items: center;
          height: 40px;
          .quantity-product {
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.3px;
            align-items: center;
            width: 50px;
            height: 36px;
            float: right;
          }
          .btn-reduce {
            width: 36px;
            height: 36px;
          }
          .btn-increase {
            width: 36px;
            height: 36px;
          }
        }
      }
      .button-background {
        position: fixed;
        z-index: 3;
        bottom: 0;
        left: 0;
        background: #fff;
        height: 102px;
        width: 100%;
      }
      .note {
        display: flex;
        margin-top: 16px;
        .product-detail-input {
          min-height: 48px;
          border-radius: 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          padding: 20px 0px 20px 40px;
          .ant-input-prefix {
            margin-left: -12px;
          }
        }
        .note-icon-theme1 {
          height: 65.6px;
          width: 48px;
          .note-icon {
            width: 24px;
            position: relative;
          }
        }
      }
      .btn-product-detail {
        height: 60px;
      }
      .quantity-responsive {
        width: calc(100% - 48px);
        position: fixed;
        margin: 24px;
        z-index: 4;
        bottom: 80px;
        left: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        border: 0px;
        margin-top: 32px;
        border-radius: 0px;
        height: 46px;
        background-color: white;
      }
      .btn-submit {
        width: calc(100% - 48px);
        position: fixed;
        margin: 24px;
        z-index: 4;
        bottom: 0;
        left: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        background: #026f30;
        border: 0px;
        margin-top: 32px;
        height: 80px;
        border-radius: 16px;
      }
      .btn-add-to-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn-add-to-cart-text {
          .add-to-card {
            display: flex;
            align-items: center;
            justify-content: center;
            display: grid;
            gap: 16px;
            grid-template-columns: auto auto;
          }
        }
        .btn-add-to-cart-price {
          color: #fff;
          
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.3px;
        }
        .btn-add-to-cart-original-price {
          color: #fff;
          
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.3px;
          text-decoration: line-through;
        }
      }
      .btn-favorite-product {
        display: none;
      }
      .btn-hide-show-popup-when-mobile {
        display: block;
        position: fixed;
        z-index: 2;
        bottom: 0;
        left: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        background: #026f30;
        border: 0px;
        margin-top: 32px;
        border-radius: 0px;
        height: 57px;
      }
      .product-detail-image {
        max-width: 100% !important;
        margin-bottom: 16px !important;
        .promotional-product {
          display: flex;
          position: absolute;
          width: 150px;
          height: 40px;
          left: -30px;
          top: 0px;
          background: #e91717;
          transform: rotate(-25deg);
          z-index: 1;
          align-items: center;
          span {
            
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 40px;
            letter-spacing: 0.3px;
            text-align: center;
            color: #ffffff;
            align-items: center;
            width: 80%;
          }
        }
      }
      .product-detail-rate {
        font-size: 16px;
        color: #dc710e;
        vertical-align: top;
      }
      .ant-rate-star {
        margin-right: 4px !important ;
      }
      .total-review {
        color: #494949;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3px;
        color: #494949;
      }
      .description-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #494949;
        margin-top: 16px;
        margin-bottom: 8px;
      }
      .description-content {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #494949;
        .ant-typography {
          color: #494949;
          
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
        }
        .collapse-custom {
          color: #007eff;
          
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.3px;
        }
        a {
          color: #007eff;
          
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.3px;
        }
      }
      .options {
        margin-top: 12px;
        .combo-data-collapse-custom {
          .ant-collapse-item {
            margin-top: 24px;
            .ant-collapse-header {
              height: 55px;
              .ant-collapse-header-text {
                width: 80%;
                span {
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  letter-spacing: 0.3px;
                }
              }
            }
            .ant-collapse-content {
              border: none;
            }
            .caret-down-out {
              padding: 12px 12px 12px 16px;
              span {
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.3px;
              }
            }
            .caret-up-out {
              height: 51px;
              padding: 12px 12px 12px 16px;
              span {
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.3px;
              }
            }
          }
          .ant-collapse-item-active {
            .ant-collapse-header {
              height: 55px;
              .ant-collapse-header-text {
                width: 80%;
                span {
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  letter-spacing: 0.3px;
                }
              }
            }
          }
        }
        .ant-collapse-item.ant-collapse-item-active.product-price-header {
          > .ant-collapse-header {
            background-color: #f7931e;
            border-radius: 12px !important;
            border: none;
            > .ant-collapse-header-text {
              color: #ffffff;
            }
          }
          > .ant-collapse-content.ant-collapse-content-active {
            border-top: none;
          }
        }
        .ant-collapse-item.product-price-header {
          > .ant-collapse-header {
            background-color: #f7931e;
            border-radius: 12px !important;
            border: none;
            > .ant-collapse-header-text {
              color: #ffffff;
            }
          }
          > .ant-collapse-content {
            border-top: none;
          }
          > .ant-collapse-content.ant-collapse-content-active > .ant-collapse-content-box {
            border: none;
            padding: 16px 0px 0px 0px !important;
          }
          > .ant-collapse-content > .ant-collapse-content-box {
            border: none;
            padding: 16px 0px 0px 0px !important;
          }
        }
        .product-price-header {
          border-radius: 12px;
        }
        .product-price-collapse {
          border: none;
          margin-bottom: 16px;
        }
        .product-detail-collapse {
          $borderRadius: 8px;
          border-radius: $borderRadius;
          .collapse-panel-custom {
            .ant-collapse-header {
              background: #f3f3f3;
            }
          }
          .ant-collapse-item:first-child {
            .ant-collapse-header {
              border-top-right-radius: $borderRadius;
              border-top-left-radius: $borderRadius;
              background: #f3f3f3;
            }
          }
          .ant-collapse-item:last-child {
            border-bottom-right-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
            .ant-collapse-header {
              border-bottom-right-radius: $borderRadius;
              border-bottom-left-radius: $borderRadius;
              background: #f3f3f3;
            }
            .ant-collapse-content {
              border-bottom-right-radius: $borderRadius;
              border-bottom-left-radius: $borderRadius;
            }
          }
          .ant-collapse-item.ant-collapse-item-active {
            .ant-collapse-header {
              border-bottom-right-radius: 0px;
              border-bottom-left-radius: 0px;
            }
          }
          .ant-collapse-header-text {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #6a6a6a;
          }
          .ant-collapse-header {
            height: 48px;
          }
        }
        .combo-detail-collapse {
          .ant-collapse-header {
            height: 48px;
          }
          .ant-collapse-header-text {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #6a6a6a;
          }
        }
        .ant-radio-button-wrapper:not(:first-child)::before {
          background: none;
        }
        .topping > .ant-collapse-content > .ant-collapse-content-box {
          padding: 0px;
        }
        .radio-option {
          width: 100%;
          color: #969696;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          min-height: 75px;
          padding: 8px;
          border-radius: 8px;
          border: 1px solid #9f9f9f;
          .radio-option-price {
            margin-bottom: 0px !important;
            padding-top: 0px;
          }
        }
        .ant-radio-button-wrapper-checked {
          background-color: #026f30;
          color: #ffffff;
        }
      }
      .options .ant-collapse-content-box {
        padding: 16px 0px !important;
      }
    }
    .similar-product {
      .similar-product-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
        margin-bottom: 23px;
        .button-left-arrow {
          width: 32px;
          height: 32px;
          right: 66px;
        }
        .button-right-arrow {
          width: 32px;
          height: 32px;
          right: 24px;
        }
      }
    }
    .review-content {
      border: 1px solid #d9d9d9;
      border-radius: 16px !important;
      margin-top: 32px !important;
      min-height: 160px;
      .ant-card-head-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        height: 68px;
        .header-comment {
          display: inline-flex;
          padding: 12px 16px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin-top: 0px;
          margin-left: 12px;
          position: absolute;
          top: 12px;
          left: 12px;
        }
      }
      .ant-card-head {
        border-bottom: none;
      }
      .review-icon {
        margin: auto;
      }
      .review-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
      }
      .ant-card-body {
        text-align: center;
        min-height: 120px;
      }
    }
    #popup-choose-options {
      .close-icon {
        position: absolute;
        right: 16px;
        top: 16px;
        display: block;
      }
      display: none;
      position: fixed;
      z-index: 3;
      bottom: 0;
      left: 0;
      height: calc(100% - 200px);
      width: 100%;
      padding: 24px;
      background: #ffffff;
      padding-bottom: 166px;
      overflow-y: auto;
      border-radius: 12px 12px 0px 0px;
      .product-rate {
        display: none;
      }
      .description-title {
        display: none;
      }
      .description-content {
        display: none;
      }
      .quantity-responsive {
        display: flex;
        justify-content: space-between;
      }
      .modify-quantity {
        display: none;
      }
    }
    #popup-choose-options-for-responsive {
      display: block;
      .quantity-responsive {
        display: block;
      }
    }
    .choose-options-header {
      display: flex;
      align-items: center;
      height: 30px;
      gap: 10px;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      svg {
        width: 50px;
        height: 100%;
        padding: 5px;
      }
    }
  }
  .overlay-product-detail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1000%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: none;
  }

  .overlay-product-detail.d-block {
    display: block !important;
  }
}

/* Mobile - ant-xs */
@media (max-width: 575px) {
  .product-detail-container .similar-product {
    padding: 16px;
    margin-top: 40px;
  }
  .mySwiper {
    display: none;
  }
  .product-header-content {
    display: none;
  }
  .product-detail-theme-1 {
    .close-branch-theme-1 {
      padding-top: 12px;
    }
    .product-detail-container {
      padding-top: 16px !important;
    }
  }
  .display-when-mobile {
    display: block;
  }
  .mobile-display-none {
    display: none !important;
  }
  .product-detail-container {
    padding: 16px;
    .product-detail-content {
      background: #ffffff;
      box-shadow: none;
      border-radius: 16px;
      margin: 0 auto;
      padding: 16px;
      .product-detail-flash-sale {
        display: none;
      }
      .flip-countdown-on-mobile {
        margin-top: 12px;
        display: block;
        .flash-sale-banner {
          border-radius: 8px;
        }
      }
      .product-detail-content-left {
        padding-right: 0px;
      }
      .product-detail-content-right {
        padding-left: 0px;
      }
      .product-detail-title {
        color: #026f30;
        
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 160% */
        letter-spacing: 0.3px;
        text-align: left;
        margin-right: 20px;
        margin-bottom: 12px;
        .hear-icon {
          height: 24px;
          width: 24px;
          float: right;
        }
      }
      .product-price {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
      }
      .product-original-price {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.3px;
        text-decoration-line: strikethrough;
        margin-left: 8px;
      }
      .product-price-name {
        font-size: 13px;
        line-height: 16px;
      }
      .modify-quantity {
        .quantity-product {
          padding: 0px 20px;
        }
      }
      .quantity-responsive {
        margin: 0px 16px;
        width: calc(100% - 32px);
        .text-quanity {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
        }
        .modify-quantity-for-responsive {
          padding-right: 8px;
          padding-left: 8px;
          display: flex;
          width: fit-content;
          padding: 2px;
          justify-content: center;
          align-items: center;
          height: 28px;
          .quantity-product {
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.3px;
            align-items: center;
            width: 30px;
            height: 24px;
            float: right;
          }
          .btn-reduce {
            .ant-btn-icon {
              svg {
                width: 24px;
                height: 24px;
              }
            }
            width: 24px;
            height: 24px;
          }
          .btn-increase {
            .ant-btn-icon {
              svg {
                width: 24px;
                height: 24px;
              }
            }
            width: 24px;
            height: 24px;
          }
        }
      }
      .button-background {
        position: fixed;
        z-index: 3;
        bottom: 0;
        left: 0;
        background: #fff;
        height: 102px;
        width: 100%;
      }
      .note {
        display: flex;
        margin-top: 16px;
        .product-detail-input {
          min-height: 48px;
          border-radius: 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          padding: 20px 0px 20px 40px;
          .ant-input-prefix {
            margin-left: -12px;
          }
        }
        .note-icon-theme1 {
          height: 65.6px;
          width: 48px;
          .note-icon {
            width: 24px;
            position: relative;
          }
        }
      }
      .btn-product-detail {
        height: 60px;
        width: calc(100% - 32px);
      }
      .btn-submit {
        position: fixed;
        z-index: 4;
        bottom: 0;
        left: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        background: #026f30;
        border: 0px;
        margin: 12px 16px;
        border-radius: 12px;
        height: 44px;
        .btn-add-to-cart {
          display: flex;
          justify-content: space-between;
          align-items: center;
          svg {
            width: 20px;
            height: 20px;
          }
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px; /* 166.667% */
          letter-spacing: 0.3px;
          .btn-add-to-cart-price {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.3px;
          }
          .btn-add-to-cart-original-price {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.3px;
          }
        }
      }
      .btn-favorite-product {
        display: none;
      }
      .btn-hide-show-popup-when-mobile {
        display: block;
        position: fixed;
        z-index: 2;
        bottom: 0;
        left: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        background: #026f30;
        border: 0px;
        margin-top: 32px;
        border-radius: 0px;
        height: 57px;
        width: 100%;
      }
      .product-detail-image {
        max-width: 100% !important;
        margin-bottom: 16px !important;
        .promotional-product {
          display: flex;
          position: absolute;
          width: 150px;
          height: 40px;
          left: -30px;
          top: 0px;
          background: #e91717;
          transform: rotate(-25deg);
          z-index: 1;
          align-items: center;
          span {
            
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 40px;
            letter-spacing: 0.3px;
            text-align: center;
            color: #ffffff;
            align-items: center;
            width: 80%;
          }
        }
      }
      .product-detail-rate {
        font-size: 16px;
        color: #dc710e;
        vertical-align: top;
      }
      .ant-rate-star {
        margin-right: 4px !important ;
      }
      .total-review {
        color: #494949;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3px;
        color: #494949;
      }
      .description-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #494949;
        margin-top: 16px;
        margin-bottom: 8px;
      }
      .description-content {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #494949;
        .ant-typography {
          color: #494949;
          
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
        }
        a {
          color: #007eff;
          
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.3px;
        }
      }
      .options {
        .combo-data-collapse-custom {
          border: none;
          .ant-collapse-item {
            margin-top: 16px;
            .ant-collapse-header {
              border: none;
              border-radius: 8px;
              background: #263238;
              height: 52px;
              .ant-collapse-header-text {
                width: 65%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                span {
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  letter-spacing: 0.3px;
                }
              }
            }
            .ant-collapse-content {
              border: none;
            }
            .caret-down-out {
              display: flex;
              height: 51px;
              padding: 12px 12px 12px 16px;
              justify-content: center;
              align-items: center;
              margin-right: -12px;
              gap: 8px;
              border-radius: 8px;
              background: #263238;
              span {
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.3px;
              }
            }
            .caret-up-out {
              display: flex;
              height: 48px;
              padding: 12px 12px 12px 16px;
              justify-content: center;
              align-items: center;
              margin-right: -12px;
              gap: 8px;
              border-radius: 8px;
              background: #f9f9f9;
              span {
                color: #424242;
                
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.3px;
              }
            }
          }
          .ant-collapse-item-active {
            .ant-collapse-header {
              border: none;
              border-radius: 8px;
              background: #f2f2f2;
              height: 52px;
              .ant-collapse-header-text {
                width: 65%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                span {
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  letter-spacing: 0.3px;
                }
              }
            }
          }
        }
        margin-top: 12px;
        .ant-collapse-item.ant-collapse-item-active.product-price-header {
          > .ant-collapse-header {
            background-color: #f7931e;
            border-radius: 12px !important;
            border: none;
            > .ant-collapse-header-text {
              color: #ffffff;
            }
          }
          > .ant-collapse-content.ant-collapse-content-active {
            border-top: none;
          }
        }
        .ant-collapse-item.product-price-header {
          > .ant-collapse-header {
            background-color: #f7931e;
            border-radius: 12px !important;
            border: none;
            > .ant-collapse-header-text {
              color: #ffffff;
            }
          }
          > .ant-collapse-content {
            border-top: none;
          }
          > .ant-collapse-content.ant-collapse-content-active > .ant-collapse-content-box {
            border: none;
            padding: 16px 0px 0px 0px !important;
          }
          > .ant-collapse-content > .ant-collapse-content-box {
            border: none;
            padding: 16px 0px 0px 0px !important;
          }
        }
        .product-price-header {
          border-radius: 12px;
        }
        .product-price-collapse {
          border: none;
          margin-bottom: 16px;
        }
        .product-detail-collapse {
          $borderRadius: 8px;
          border-radius: $borderRadius;
          .collapse-panel-custom {
            .ant-collapse-header {
              background: #f3f3f3;
            }
          }
          .ant-collapse-item:first-child {
            .ant-collapse-header {
              border-top-right-radius: $borderRadius;
              border-top-left-radius: $borderRadius;
              background: #f3f3f3;
            }
          }
          .ant-collapse-item:last-child {
            border-bottom-right-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
            .ant-collapse-header {
              border-bottom-right-radius: $borderRadius;
              border-bottom-left-radius: $borderRadius;
              background: #f3f3f3;
            }
            .ant-collapse-content {
              border-bottom-right-radius: $borderRadius;
              border-bottom-left-radius: $borderRadius;
            }
          }
          .ant-collapse-item.ant-collapse-item-active {
            .ant-collapse-header {
              border-bottom-right-radius: 0px;
              border-bottom-left-radius: 0px;
            }
          }
          .ant-collapse-header-text {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #6a6a6a;
          }
          .ant-collapse-header {
            height: 48px;
          }
          .selection {
            .group {
              grid-template-columns: 1fr;
              margin-top: 12px;
            }
          }
        }
        .combo-detail-collapse {
          .ant-collapse-header {
            height: 48px;
          }
          .ant-collapse-header-text {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #6a6a6a;
          }
        }
        .ant-radio-button-wrapper:not(:first-child)::before {
          background: none;
        }
        .topping > .ant-collapse-content > .ant-collapse-content-box {
          padding: 0px;
        }
        .radio-option {
          color: #969696;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          min-height: 44px;
          padding: 12px;
          border-radius: 8px;
          border: 1px solid #9f9f9f;
          .group-price {
            padding-right: 6px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            span {
              margin-right: 8px;
            }
          }
          span {
            width: 100%;
          }
          .radio-option-price {
            margin-bottom: 0px !important;
            padding-top: 0px;
          }
        }
        .ant-radio-button-wrapper-checked {
          background-color: #026f30;
          color: #ffffff;
        }
      }
      .options .ant-collapse-content-box {
        padding: 16px 0px !important;
      }
    }
    .similar-product {
      .similar-product-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
        .button-left-arrow {
          width: 32px;
          height: 32px;
          right: 56px;
        }
        .button-right-arrow {
          width: 32px;
          height: 32px;
          right: 16px;
        }
      }
    }
    .review-content {
      border: 1px solid #d9d9d9;
      border-radius: 16px !important;
      margin-top: 40px !important;
      min-height: 160px;
      .ant-card-head-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        .header-comment {
          display: inline-flex;
          padding: 12px 16px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin-top: 0px;
          margin-left: 0px;
          position: absolute;
          top: 12px;
          left: 12px;
        }
      }
      .ant-card-head {
        border-bottom: none;
      }
      .review-icon {
        margin: auto;
      }
      .review-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
      }
      .ant-card-body {
        text-align: center;
        min-height: 120px;
        padding: 16px;
      }
    }
    #popup-choose-options {
      .close-icon {
        position: absolute;
        right: 16px;
        top: 20px;
        display: block;
      }
      display: none;
      position: fixed;
      z-index: 3;
      bottom: 0;
      left: 0;
      height: 80%;
      width: 100%;
      padding: 16px;
      background: #ffffff;
      padding-bottom: 106px;
      overflow-y: auto;
      border-radius: 12px 12px 0px 0px;
      .product-rate {
        display: none;
      }
      .description-title {
        display: none;
      }
      .description-content {
        display: none;
      }
      .quantity-responsive {
        bottom: 56px;
      }
    }
    #popup-choose-options-for-responsive {
      display: block;
      .quantity-responsive {
        display: flex;
        justify-content: space-between;
      }
    }
    .choose-options-header {
      display: flex;
      align-items: center;
      height: 30px;
      gap: 10px;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      svg {
        width: 50px;
        height: 100%;
        padding: 5px;
      }
    }
  }
  .overlay-product-detail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1000%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: none;
  }

  .overlay-product-detail.d-block {
    display: block !important;
  }
}

.overflow-hidden {
  overflow: hidden;
}
.btn-quantity {
  width: 52px;
  height: 52px;
}
