.similar-product-content {
  width: 100%;
  padding-left: 5px;
  .swiper-button-prev,
  .swiper-button-next {
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    z-index: 1;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    opacity: 1;
  }
  .slick-list {
    .slick-slide {
      display: flex;
      justify-content: center;
    }
  }
  .swiper-button-prev::after {
    content: url("../../../assets/icons/left-category.svg") !important;
  }
  .swiper-button-next::after {
    content: url("../../../assets/icons/right-category.svg") !important;
  }
  .swiper-slide {
    width: auto;
    margin-right: 24px !important;
    height: unset;
  }
  .product-card {
    width: 342px;
    border-radius: 14px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 8px;
    .product-list-image.flash-sale-border,
    .product-list-image {
      .fnb-display-image {
        padding-top: unset;
        height: 260px;
      }
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      .fnb-display-image {
        .display-image {
          height: 260px;
        }
      }
      .display-image {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
    .product-image {
      width: 340px;
      height: 340px;
    }
    .product-card-content {
      padding: 18px 24px 8px 24px;
      .product-name {
        display: -webkit-box; /* Sử dụng thuộc tính -webkit-box cho tính tương thích */
        -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị */
        -webkit-box-orient: vertical; /* Chiều dọc */
        overflow: hidden; /* Ẩn các dòng vượt quá giới hạn */
        text-overflow: ellipsis; /* Thêm dấu "..." cho dòng bị ẩn */
        max-height: 3.6em; /* Điều này phụ thuộc vào kích thước phông chữ và dòng */
        height: 60px;
        color: #000;
        
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.3px;
        svg {
          width: 100%;
        }
      }
      .star-vote {
        margin-top: 16px;
        display: grid;
        width: fit-content;
        gap: 8px;
        grid-template-columns: 1fr 1fr;
        color: #000;
        text-align: center;
        
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3px;
        align-items: center;
      }
      .product-price {
        margin-top: 12px;
        
        font-style: normal;
        font-weight: 700;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        height: 53px;
        .price-container {
          display: flex;
          flex-direction: row;
          .selling-price {
            float: left;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.3px;
            color: #026f30;
            margin-right: 7px;
          }
          .original-price {
            display: flex;
            align-items: flex-end;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: #c1c1c1;
            letter-spacing: 0.3px;
            text-decoration-line: line-through;
            margin-left: 2px;
          }
        }

        .add-to-cart {
          margin-left: auto;
          background: transparent;
          border: none;
          border-radius: 6px;
          width: 59px;
          height: 59px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 18px;
          align-items: center;
          text-align: center;
          letter-spacing: 0.3px;
          color: #ffffff;
          position: absolute;
          right: 8px;
          .ant-btn-icon {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .out-of-stock {
          background: #263238;
          text-transform: uppercase;
        }
      }
    }
  }
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
  .flash-sale-border {
    border: 5px solid #ff5406;
    border-radius: 14px;
  }
}

/* Mobile */
@media (max-width: 1200px) {
  .title-product-list {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 32px;
  }
  .similar-product-content {
    padding-left: 0px;
    position: unset;
    .swiper-slide {
      margin-right: 25px !important;
    }
    .product-card {
      .product-list-image {
        height: 156px !important;
        .fnb-display-image {
          height: 150px !important;
          .display-image {
            height: 156px !important;
          }
        }
      }
      .flash-sale-border {
        .fnb-display-image {
          height: 150px !important;
          .display-image {
            height: 148px !important;
          }
        }
      }
      width: 177px;
      .product-name {
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important; /* 150% */
        letter-spacing: 0.3px !important;
        height: 48px !important;
        margin-top: 12px;
      }
      .product-price {
        overflow: hidden;
        height: 45px !important;
        margin-top: 12px !important;
        .price-container {
          flex-direction: column !important;
          .selling-price {
            font-size: 17px !important;
            font-style: normal !important;
            font-weight: 700 !important;
            line-height: normal !important;
            letter-spacing: 0.3px !important;
          }
          .original-price {
            font-size: 12px !important;
            line-height: 20px !important;
          }
        }

        .add-to-cart {
          width: 32px !important;
          height: 32px !important;
          display: flex;
          svg {
            width: 32px;
            height: 32px;
          }
        }
      }
      .product-list-image {
        .fnb-display-image {
          padding-top: unset;
        }
        .flash-sale {
          margin-left: -1px;
          padding: 1.5px 12px !important;
          width: unset !important;
          .flash-sale-logo {
            margin-left: unset !important;
            margin-top: unset !important;
            width: 100px !important;
            height: 16px !important;
          }
        }
      }
      .product-card-content {
        padding: 12px;
        .star-vote {
          margin-top: 8px;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
          color: #000;
        }
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 20px !important;
    height: 20px !important;
    border-radius: 4px !important;
  }
  .swiper-button-prev {
    left: 0px;
  }
  .swiper-button-next {
    right: 0px;
  }
  .similar-product-content .swiper-button-prev::after {
    content: url("../../../assets/icons/left-responsive.svg") !important;
  }
  .similar-product-content .swiper-button-next::after {
    content: url("../../../assets/icons/right-responsive.svg") !important;
  }
}

@media (max-width: 575px) {
  .title-product-list {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 32px;
  }
  .similar-product-content {
    padding-left: 0px;
    position: unset;
    .swiper-slide {
      margin-right: 16px !important;
    }
    .product-card {
      .product-list-image {
        height: 156px !important;
        .fnb-display-image {
          height: 150px !important;
          .display-image {
            height: 156px !important;
          }
        }
      }
      .flash-sale-border {
        .fnb-display-image {
          height: 150px !important;
          .display-image {
            height: 148px !important;
          }
        }
      }
      width: 177px;
      .product-name {
        font-size: 16px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 24px !important; /* 150% */
        letter-spacing: 0.3px !important;
        height: 48px !important;
        margin-top: 12px;
      }
      .product-price {
        overflow: hidden;
        height: 45px !important;
        margin-top: 12px !important;
        .price-container {
          flex-direction: column !important;
          .selling-price {
            font-size: 17px !important;
            font-style: normal !important;
            font-weight: 700 !important;
            line-height: normal !important;
            letter-spacing: 0.3px !important;
          }
          .original-price {
            font-size: 12px !important;
            line-height: 20px !important;
          }
        }

        .add-to-cart {
          width: 32px !important;
          height: 32px !important;
          display: flex;
          svg {
            width: 32px;
            height: 32px;
          }
        }
      }
      .product-list-image {
        .fnb-display-image {
          padding-top: unset;
        }
        .flash-sale {
          margin-left: -1px;
          padding: 1.5px 12px !important;
          width: unset !important;
          .flash-sale-logo {
            margin-left: unset !important;
            margin-top: unset !important;
            width: 100px !important;
            height: 16px !important;
          }
        }
      }
      .product-card-content {
        padding: 12px;
        .star-vote {
          margin-top: 8px;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
          color: #000;
        }
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 20px !important;
    height: 20px !important;
    border-radius: 4px !important;
  }
  .swiper-button-prev {
    left: 0px;
  }
  .swiper-button-next {
    right: 0px;
  }
  .similar-product-content .swiper-button-prev::after {
    content: url("../../../assets/icons/left-responsive.svg") !important;
  }
  .similar-product-content .swiper-button-next::after {
    content: url("../../../assets/icons/right-responsive.svg") !important;
  }
}
