.flash-sale-banner {
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 10px 18px;
  min-height: 60px;
  background-image: url("../../assets/images/background-flash-sale.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  .flash-sale-banner-logo {
    height: 34px;
    flex-shrink: 0;
    svg {
      width: fit-content;
      filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.25));
      g {
        width: 140px;
        height: 28px;
      }
    }
  }
  .flash-sale-banner-title {
    text-align: center;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
    text-align: right;
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 18px;
  }
  .flash-sale-banner-price {
    display: none;
  }
  .flip-countdown {
    justify-content: flex-end;
    margin-left: 10px;
    --fcc-digit-block-width: 20px !important;
    --fcc-digit-block-height: 40px !important;
    --fcc-digit-font-size: 18px !important;
    ._3cpN7 {
      background-color: #ffffff;
      border-radius: 6px;
      ._2EBbg {
        ._SKh-V {
          color: #50429b;
          
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          letter-spacing: 0.3px;
          border-top-right-radius: 6px;
        }
        ._106d2 {
          color: #50429b;
          
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          letter-spacing: 0.3px;
          padding-right: 8.3px;
          border-bottom-right-radius: 6px;
        }
        ._3luxx {
          ._2v-d4 {
            color: #50429b;
            
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.3px;
          }
          ._1GZQ7 {
            color: #50429b;
            
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.3px;
          }
        }
        box-shadow: none;
        margin-right: 0px;
        ._1GZQ7 {
          border-bottom: none;
        }
        ._SKh-V {
          border-bottom: none;
          padding-right: 8.3px;
        }
      }
      ._2EBbg:first-child {
        width: 20px;
        padding-left: 8.3px;
      }
      ._2EBbg:last-child {
        width: 20px;
        padding-right: 8.3px;
      }
    }
    ._2hRXr {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .flash-sale-banner-countdown {
    justify-content: flex-end;
    .flash-sale-zero {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .flash-sale-banner {
    margin-bottom: 0px;
    margin-top: 0px;
    .flash-sale-banner-title {
      font-size: 18px;
      line-height: 30px;
      margin-right: 0;
    }
    .flip-countdown {
      --fcc-digit-block-width: 18px !important;
      --fcc-digit-block-height: 30px !important;
      --fcc-digit-font-size: 18px !important;
    }
  }
}

/* Mobile - ant-xs */
@media (max-width: 575px) {
  .flash-sale-banner-countdown {
    justify-content: center;
  }
  .flash-sale-banner {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px 24px;
    .flash-sale-banner-title {
      color: #fff;
      text-align: center;
      
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-bottom: 5px;
      margin-right: 0;
    }
    .flash-sale-banner-price {
      display: flex;
      align-items: baseline;
      .selling-price {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #ffffff;
      }
      .original-price {
        padding-left: 12px;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #ffffff;
        text-decoration: line-through;
      }
    }
    .flip-countdown {
      --fcc-digit-block-width: 16px !important;
      --fcc-digit-block-height: 24px !important;
      --fcc-digit-font-size: 16px !important;
      --fcc-separator-size: 3px !important;
      margin-left: 0px;
      ._3cpN7 {
        ._2EBbg {
          ._SKh-V {
            border-top-right-radius: 0;
          }
          ._106d2 {
            padding-right: 0;
            border-bottom-right-radius: 0;
          }
          ._SKh-V {
            padding-right: 0;
          }
        }
        ._2EBbg:first-child {
          width: 12px;
          padding-left: 0;
        }
        ._2EBbg:last-child {
          width: 12px;
          padding-right: 0;
        }
      }
    }
  }
}
