.header {
  display: flex;
  justify-content: space-between;
}

.logoSession {
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 3px;
  border: 1px solid #000;
}

.headerRight {
  padding-right: 8px;
  padding-top: 8px;
  float: right;
  text-align: right;
}

.headerLeft {
  padding-left: 8px;
  padding-top: 8px;
  float: left;
  text-align: left;
}

.code {
  font-style: "normal";
  font-weight: 700;
  color: #000000;
}

.content {
  font-style: "normal";
  font-weight: 400;

  &.showNumber {
    font-weight: 600 !important;
  }

  &.right {
    padding-right: 8px;
    float: right;
  }

  &.left {
    padding-left: 8px;
    float: left;
  }

  &.note {
    padding-left: 20px;
    float: left;
  }
}

.trContent {
  display: "table";
  width: "100%";
}

.titleName {
  padding-left: 8px;
  font-style: "normal";
  font-weight: 700;
}

.contentOption {
  display: flex;
  font-style: "normal";
  font-weight: 400;
  justify-content: space-between;

  &.name {
    padding-left: 20px;
    width: 70%;
  }

  &.value {
    padding-right: 8px;
  }
}

.tableStamp>tr {
  vertical-align: inherit !important;
}