.product-not-in-branch-theme1 {
  .ant-modal-content {
    width: 685px;
    .ant-modal-body {
      .confirmation-dialog-content {
        
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #000000;
      }
    }
    .ant-modal-footer {
      padding-bottom: 39px;
      .button-okay {
        text-align: center;
        align-items: center;
        float: none !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
      }
    }
  }
}

/* Mobile */
@media (max-width: 575px) {
  .product-not-in-branch-theme1 {
    .ant-modal-content {
      width: 100% !important;
      .ant-modal-header {
        .ant-modal-title {
          
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          align-items: center;
          text-align: center;
        }
      }
      .ant-modal-body {
        .confirmation-dialog-content {
          
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
        }
      }
      .ant-modal-footer {
        padding-bottom: 15px !important;
        .button-okay {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}
