@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans");

.nav-category-sticky {
  position: fixed;
  top: 100px;
  width: 100%;
  z-index: 100;
  .product-list-menu-theme-1 {
    border-radius: 0 !important;
    ul {
      height: 100px;
    }
  }
}

.container-product-list {
  margin-bottom: 30px;
  .empty-product-list {
    padding-bottom: 300px;
  }
}

.list-product-by-category {
  padding: 0 6px;
  background: #fff;
}

.product-list-header-theme-1 {
  .header-page-title {
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
  }
  .hr-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row-header-page {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
  }
  .ant-col {
    margin-bottom: 30px;
  }
  .ant-row.ant-row-middle.row-header {
    height: 100%;
    justify-content: center !important;
  }
  .font-size-title {
    font-size: 60px;
    line-height: 75.6px;
    letter-spacing: 0.3px;
    font-weight: 700;
    letter-spacing: 0.3px;
    width: fit-content;
    height: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  hr {
    margin-top: 30px;
    width: 430px;
  }
}

.product-list-menu-theme-1 {
  background: #ffffff;
  border-radius: 25px;
  ul {
    display: flex;
    flex-flow: row;
    height: 145px;
    align-content: center;
    list-style-type: none;
    border-radius: 5px;
    align-items: center;
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
  }
  li {
    width: fit-content;
  }
  .swiper {
    height: 100%;
  }
  .swiper-slide {
    width: fit-content !important;
    display: flex;
    align-items: center;
  }
  li a {
    display: block;
    text-align: center;
    border-bottom: none;
  }
  #nav-category {
    border-radius: 25px;
    width: 1556px;
    margin-bottom: 0 !important;
    gap: 16px;
    padding: 0 35px;
    user-select: none;
    li > a {
      font-size: 24px;
    }
  }

  .ellipsisCategory {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.product-list-page-theme-1 {
  .product-list-title {
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    color: #026f30;
    padding-top: 33px;
    margin-bottom: 100px;
  }
  .product-card-theme-1 > .product-card > .w-100 > .product-list-image {
    width: unset !important;
    height: unset !important;
  }
  .margin-bottom-product-category-title {
    margin-bottom: 100px;
  }
  img {
    width: 340px;
    height: 340px;
  }
  .promotion-tag {
    width: 154.44px;
    height: 42.43px;
    background-color: #e91717;
    color: #ffffff;
    transform: rotate(-33deg);
    position: absolute;
    top: 0px;
    left: -22.96px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    padding-left: 35.96px;
    .promotion-tag-discount-value {
      margin-left: -16px;
      font-size: 16px;
    }
    .promotion-tag-discount-max-value {
      margin-left: -28px !important;
      margin-top: 13px;
      font-size: 13px;
    }
  }
  .Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
  }
  .Column {
    display: table-cell;
    background-color: red; /*Optional*/
  }
  .product-discount {
    color: #9f9f9f;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-decoration-line: line-through;
    font-size: 24px;
    line-height: 60px;
  }
  .btn-add-to-cart {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .mb-0 {
    margin-bottom: 0;
  }
  .ant-row {
    gap: 65px;
  }
}

.confirm-dialog-switch-branch {
  .confirmation-modal {
    .ant-modal-content {
      .ant-modal-body {
        .confirmation-dialog-content {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
      .ant-modal-footer {
        .button-confirm-dialog {
          text-align: center;
          padding-left: 0px !important;
          padding-right: 0px !important;
        }
        .btn-cancel {
          flex: 1;
        }
        .btn-confirm {
          flex: 1.25;
        }
      }
    }
  }
}


/*Adapt Screen Resolution 4:3*/
@media screen and (max-width: 1024px) {
  .product-list-menu-theme-1 {
    ul {
      height: 110px;
      justify-content: flex-start;
    }
  }
  .confirm-dialog-switch-branch {
    .confirmation-modal {
      .ant-modal-content {
        .ant-modal-header{
          .ant-modal-title{
            padding-top: 32px;
            font-size: 24px;
            line-height: normal;
          }
        }
        .ant-modal-body {
          padding-top: 12px;
          min-height: 0px;
          .confirmation-dialog-content {
            font-size: 18px;
          }
        }
        .ant-modal-footer {
          .button-confirm-dialog {
            padding-left: 0px !important;
            padding-right: 0px !important;
            padding-top: 15px;
            span {
              font-size: 18px;
              line-height: 32px;
            }
          }
        }
      }
    }
  }
}

/*Mobile*/
@media screen and (max-width: 600px) {
  .nav-category-sticky {
    top: 0;
  }
  .product-list-padding {
    padding: 0 16px;
  }

  .product-list-menu-theme-1 {
    width: calc(100% - 32px);
    margin: auto;
    ul {
      height: 72px !important;
      justify-content: flex-start;
    }
    #nav-category {
      width: auto;
      padding: 0 16px;
      li > a {
        font-size: 16px;
      }
      li:hover a,
      .active-category-item {
        font-size: 16px;
        line-height: 20px;
      }
      .active-category-item::before,
      ::after {
        font-size: 22px;
      }
    }
    .ellipsisCategory {
      max-width: 100px;
      line-height: 30px;
    }
  }
  .hr-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  .row-header-page {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
  }
  .product-list-header-theme-1 {
    .ant-col {
      margin-bottom: 30px;
    }
  }
  .ant-row.ant-row-middle.row-header {
    height: 100%;
    justify-content: center !important;
  }
  .font-size-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
  }

  .margin-bottom-product-category-title {
    margin-bottom: 54px !important;
  }

  .product-list-page-theme-1 {
    .product-list-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      display: flex;
      align-items: center;
      letter-spacing: 0.3px;
      color: #026f30;
      padding-top: 20px;
      padding-left: 16px;
      margin-bottom: 54px;
    }
    img {
      width: 168px !important;
      height: 168px !important;
    }
    .ant-row {
      gap: 16px;
    }
    .promotion-tag {
      width: 90.51px;
      height: 24.87px;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      left: -13.46px;
      transform: matrix(0.85, -0.52, 0.57, 0.82, 0, 0);
      padding-left: 16.96px;
      .promotion-tag-discount-value {
        margin-left: -8px;
        margin-top: 2px;
        font-size: 10px;
      }
      .promotion-tag-discount-max-value {
        margin-top: 8px !important;
        margin-left: -13px !important;
        font-size: 8px;
      }
    }
    .product-discount {
      font-size: 13px;
      line-height: 20px;
    }
  }
  
  .confirm-dialog-switch-branch {
    .confirmation-modal {
      .ant-modal-content {
        .ant-modal-header{
          .ant-modal-title{
            padding-top: 12px;
            font-size: 17px;
            line-height: normal;
          }
        }
        .ant-modal-body {
          padding-top: 8px;
          .confirmation-dialog-content {
            font-size: 15px;
          }
        }
        .ant-modal-footer {
          .button-confirm-dialog {
            padding-left: 0px !important;
            padding-right: 0px !important;
            padding-top: 15px;
            span {
              font-size: 17px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

.scroll-nav-category::-webkit-scrollbar {
  height: 0px;
}
