.menu-item-card {
  min-height: 786px;
  margin-top: 24px;
  .menu-item-header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu-item-title {
      font-weight: 700;
      font-size: 24px;
      color: #2b2162;
    }
    .btn-add-menu-item {
      display: flex !important;
      min-width: 204px;
      background: #ffffff;
      svg,
      span {
        margin: auto;
      }

      span {
        margin-left: 8px;
      }
    }
  }
  .table-menu-item-container {
    margin-top: 24px;
    height: 100%;
    .table-menu-item {
      .text-name {
        color: #428bc1;
      }
      .action-container {
        display: flex;
        align-items: center;
        .sort-container {
          margin-right: 20px;
          display: inline;
        }
      }
      .expanded-record {
        border-radius: 12px;
        .expand-record-item {
          height: 116px;
          display: flex;
          align-items: center;
          border-top: 1px solid #0000000f;
          margin-left: 125px;
          .item-text {
            padding-left: 148px;
          }
        }
      }
    }
  }
}

.add-menu-item-modal {
  .mt-36 {
    margin-top: 36px;
  }
  .child-menu-container {
    background: #f7f5ff;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 431px;
    min-height: 310px;
    .title-box {
      position: absolute;
      top: 0;
      left: 12px;
      .title-text {
        padding-top: 27px;
        padding-left: 12px;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #2b2162;
      }
    }
    .child-menu-box {
      max-height: 362px;
      overflow: scroll;
      overflow-x: hidden;
      width: 99%;
      margin-top: 69px;
      margin-left: 24px;
      .icon-box {
        display: flex;
        justify-content: center;
      }
      .text-info-box {
        display: flex;
        justify-content: center;
        .text-info {
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: #858585;
        }
      }

      .child-menu-name {
        letter-spacing: 0.3px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #fff;
        background: #50429b;
        border-radius: 16px;
        padding: 10px 30px;
      }

      .child-menu-item {
        margin-top: 44px;
        .child-menu-item-name {
          letter-spacing: 0.3px;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #50429b;
          background: #ffffff;
          border-radius: 16px;
          padding: 10px 30px;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 260px;
        }
      }
    }
  }
}
.table-notification-confirm-delete {
  width: 472px;
  max-height: 270px;
  background-color: #f7f5ff;
  border-radius: 16px;
  font-size: 24px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    max-height: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;

    li {
      text-align: left;

      a {
        color: #f5832b;
      }
    }

    li::marker {
      color: #50429b;
    }
  }
}

.icon-disabled {
  opacity: 0.5;
}

.menu-items-text-line-clamp-1 {
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #282828;
}
