.condition-customer-segment {
  .ant-btn-default {
    background-color: #ffffff !important;
  }
}

.day-box {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 25px;

  p {
    font-weight: 400;
    font-size: 20px;
  }
}

.customer-segment-data {
  .ant-form-item-explain-error {
    position: unset;
  }
}

@media only screen and (max-width: 428px) {
  .date-picker-customer-segment {
    max-width: 266px;
  }
  .customer-segment-trash-icon {
    position: absolute;
    top: 10px;
    right: -40px;
  }
}
