#signature-product {
  width: 100%;
  padding: 0 24px;
  height: 843px;

  .signature-product-theme-1 {
    height: 100%;

    .signature-product-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;

      .signature-product-image {
        width: 609px;
        img {
          width: 100%;
          height: 452px;
          max-height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 50px;
        }
      }

      .signature-product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40vw;

        .signature-product {
          text-align: center;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
        }

        .signature-product-title {
          text-align: center;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.3px;
          margin-top: 12px;
        }

        .signature-product-description {
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 0.3px;
          margin: 40px auto;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .try-now-btn {
          .signature-product-btn {
            border-radius: 20px;
            transition: box-shadow 0.3s ease-in-out;
            border: none;
            outline: none;
            span {
              padding: 20px 190px;
              text-align: center;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              font-family: Plus Jakarta Sans;
            }

            &:hover {
              cursor: pointer;
              box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
              span {
              }
            }
          }
        }
      }
    }

    .swiper-pagination-bullet {
      width: 19px;
      height: 19px;
    }

    .swiper-pagination-bullet-active {
      background-color: #026F30;
    }
  }
}

@media (max-width: 575px) {
  #signature-product {
    height: auto;
    padding-bottom: 16px;

    .signature-product-theme-1 {
      .signature-product-container {
        gap: 10px;

        .signature-product-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          img {
            width: 100%;
            max-width: 100%;
            height: 239px;
          }
        }

        .signature-product-info {
          width: 100%;
          display: flex;
          align-items: start;

          .signature-product-title {
            font-size: 24px;
          }

          .signature-product-description {
            font-size: 16px;
            margin: 12px auto;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .try-now-btn {
            .signature-product-btn {
              border-radius: 8px;
              span {
                padding: 8px 20px;
                font-size: 16px;
              }

              &:hover {
                background-color: initial;
                color: initial;
              }
            }
          }
        }

        .signature-product-mobile {
          padding-top: 20px;
          padding-bottom: 8px;
        }
      }
    }

  }
}

@media (max-width: 1199px) and (min-width: 576px) {
  #signature-product {
    height: 297px;
    .signature-product-theme-1 {
      .signature-product-container {
        .signature-product-image {
          width: 336px;
          max-width: 40vw;
          img {
            width: 100%;
            height: 249px;
            max-height: 100%;
          }
        }

        .signature-product-info {
          display: flex;
          align-items: start;
          max-width: 300px;

          .signature-product-title {
            font-size: 18px;
            margin-top: 12px;
          }

          .signature-product-description {
            font-size: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            margin-bottom: 16px;
            margin-top: 8px;
          }

          .try-now-btn {
            .signature-product-btn {
              border-radius: 8px;
              span {
                padding: 8px 20px;
                font-size: 16px;
              }

              &:hover {
                background-color: initial;
                color: initial;
              }
            }
          }
        }

      }
    }

  }
}

@media (max-width: 575px) {
  #signature-product {
    .signature-product-theme-1 {
      .signature-product-container { 
        .signature-product-info { 
          max-width: 100%;
        }
      }
    }
  }
}