.modal-notification {
  .ant-modal-content {
    background-color: #fff;
    border-radius: 40px;

    .ant-modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #50429b;
        text-align: center;
        padding-top: 24px;
      }
      .dear-text {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #000;
        text-align: center;
      }
      .your-text {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        color: #000;
        text-align: center;
      }
      .please-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
        color: #000;
        text-align: center;
      }
      .contact-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #000;
        text-align: center;

        span {
          font-weight: 700;
        }
      }
      .activate-account-btn {
        background-color: #ff8c21;
        border-radius: 16px;
        color: #fff;
        margin: 9px auto 12px;
      }
    }
  }
}

.modal-kindly-notification {
  .ant-modal-content {
    background-color: #fff;
    border-radius: 40px;

    .ant-modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #50429b;
        text-align: center;
        margin-top: 0px !important;
        padding-top: 24px;
      }

      .dear-text {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #000;
        text-align: center;
      }
      .your-text {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        color: #000;
        text-align: center;
      }
      .please-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
        color: #000;
        text-align: center;
      }
      .contact-text {
        margin-top: 36px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #000;
        text-align: center;

        span {
          font-weight: 700;
        }
      }
      .renew-btn {
        background-color: #ff8c21;
        border-radius: 16px;
        color: #fff;
        min-width: 275px;
      }
      .check-box-style {
        margin-top: 24px;
      }
      .modal-footer {
        text-align: center;
        margin-top: 8px;
      }
      .ignore-btn {
        border-radius: 16px;
        border: 1px solid #a5abde;
        color: #a5abde;
        min-width: 112px;
        margin-right: 12px;
      }
      .text-package-name {
        color: #50429b;
      }
      .text-package-expire-days {
        color: #ff8c21;
      }
      .text-package-expire {
        color: #ed4c5c;
      }
      .img-width {
        width: 242px;
      }
    }
  }
}

@media (max-width: 480px) {
  .modal-kindly-notification {
    .ant-modal-content {
      .ant-modal-body {
        .title {
          font-size: 18px;
        }

        .ignore-btn {
          border-radius: 8px;
          border: 1px solid #a5abde;
          color: #a5abde;
          min-width: 66px;
          min-height: 35px;
          height: 35px;
          margin-right: 7px !important;
          font-size: 10px;
        }

        .renew-btn {
          background-color: #ff8c21;
          border-radius: 8px;
          color: #fff;
          min-height: 35px;
          min-width: 160px;
          font-size: 10px;
          height: 35px;
        }

        .img-width {
          width: 141px;
        }

        .dear-text {
          font-size: 12px;
        }

        .your-text {
          font-size: 12px;
          line-height: 18px;
        }

        .contact-text {
          font-size: 10px;
          margin-top: 16px;
        }

        .check-box-style {
          .ant-checkbox-inner {
            width: 14px;
            height: 14px;
            border-radius: 4px;
          }

          .ant-checkbox + span {
            font-size: 12px;
            padding-left: 0px;
            padding-bottom: 2px;
          }
          margin-top: 10px;
        }
        .ant-checkbox-wrapper {
          align-items: center;
        }

        .modal-footer {
          padding-top: 16px;
        }
      }
    }
  }
}
