.toast-message-calculation-change-password {
  width: fit-content;
  height: 40px;
  padding: 16px 18px;
  background-color: #effbf2;
  border-radius: 12px;
  border: 1px solid #299c44;
  display: flex;
  align-items: center;
  left: 40%;
  z-index: 999;
  .ant-notification-notice-description {
    color: #299C44;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-left: 10px;
  }
  .ant-notification-notice-content {
    margin-bottom: 9px;
  }
}

/* Mobile: 576px */
@media (max-width: 576px) {
  .toast-message-calculation-change-password {
    width: 247px !important;
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;
      color: #ffffff;
      margin-left: 10px;
    }
  }
}
