.modal-promotion-campaign-usage-detail {
  .ant-modal-content {
    border-radius: 32px;
    height: 810px;
    .ant-modal-close {
      margin-top: 24px;
      margin-right: 20px;
    }
    .title-container {
      .modal-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #2B2162;
        background: unset;
        text-align: center;
      }
    }
    .table-usage-detail {
      margin-top: 24px;
      width: 1920px;
    }
  }
}

@media (max-width: 500px) {
  .modal-promotion-campaign-usage-detail {
    .ant-modal-content {
      border-radius: 20px;
      .ant-modal-close {
        margin-top: 16px;
        margin-right: 8px;
        .ant-modal-close-x {
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
      .title-container {
        .modal-title {
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          color: #50429B;
          text-align: left;
        }
      }
    }
  }
}
