.flash-sale-slider {
  .swiper-slide {
    width: auto;
    margin-right: 32px !important;
    height: unset;
  }
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
}

/* Mobile - ant-xs */
@media (max-width: 575px) {
  .flash-sale-slider {
    .swiper-slide {
      margin-right: 16px !important;
    }
  }
}
