.select-language {
  background-color: #dfdfdf;
  border: unset;
  border-radius: unset;
  height: 50px;
  .ant-card-body {
    display: flex;
    padding: 8px 16px;
    border-radius: 0;
    position: relative;
    span {
      margin: auto 0;
    }
    .lang-flag {
      display: flex;
    }
    .lang-name {
      margin-left: 10px;
    }
    .change-icon {
      position: absolute;
      right: 5%;
      top: 15px;
    }
  }
}

@media (max-width: 600px) {
  .select-language {
    .lang-flag {
      margin-top: 5px !important;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .lang-name {
      
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
    }
  }
}
