.loyalty-point-component {
  width: 100%;
  height: fit-content;
  background-image: url("../../../../assets/images/loyalty-point-card-default.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px;
  .membership-level-img {
    img {
      height: 48px;
      width: 48px;
    }
  }
  .membership-info {
    .customer-name {
      width: 100%;
      span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
      }
      .customer-name-text {
        margin-left: 0px !important;
      }
    }
    .membership-name {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: relative;
      width: 82px;
      margin-top: 6px;
      background: #ffffff;
      border-radius: 3px;
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        text-align: center;
      }

      .membership-name-text {
        margin-left: 0px !important;
      }
    }
  }
  .bar-code-container {
    height: 51px;
    margin-top: 16px;
    background-image: url("../../../../assets/images/barcode-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    .bar-code,
    .bar-code-value {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .bar-code-value {
      height: 6px;
      top: -7px;
      span {
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 20px;
        color: #000000;
        letter-spacing: 2px;
      }
    }
  }
  .point-amount {
    margin-top: 16px;
    svg {
      margin-right: 6px;
    }
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      display: flex;
      align-items: center;
      color: #ffffff;
    }
  }
}
/* Mobile */
@media (max-width: 575px) {
  .loyalty-point-component {
    width: calc(100% - 32px);
    margin: 16px;
    .membership-info {
      padding-left: 10px;
    }
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .loyalty-point-component {
    width: 361px;
    margin: 0 auto;
  }
}
