.point-history-filter-theme1 {
  display: flex;
  justify-content: space-between;
  margin: 24px 0px;
  .search {
    .input-search {
      width: 400px;
      height: 44px; 
      border: none;
      box-shadow: none !important;
    }
  }

  .filter {
    position: relative;
    .btn-filter {
      min-width: 93px;
      height: 44px;
      background: #ffffff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.154px;

      color: #000000;
      &:hover {
        color: #000000;
        border-color: #ffffff !important;
      }
      .close-circle-icon {
        margin-left: 8px;
        svg {
          fill: #ccc;
        }
      }

      .filter-count-number {
        color: #ff3448;
        margin-left: 4px;
      }
    }

    .btn-filter-icon {
      width: 160px;
    }
  }
}

.popover-point-history-customize {
  .ant-popover-arrow {
    display: none !important;
  }
  .ant-popover-content {
    .ant-popover-inner {
      width: 446px;
      height: auto;
      padding-right: 0px !important;
      padding-top: 24px;
      padding-bottom: 24px;
      border-radius: 16px;
    }
  }
}

.content-theme1 {
  .title-name {
    color: #000;
    font-size: 18px;
    
    font-weight: 600;
    line-height: 24px;
    min-width: 80px;
    padding-left: 8px;
    width: 80px;
  }
  .ant-form-item-control-input {
    .ant-form-item-control-input-content {
      .ant-radio-group {
        display: flex;
        flex-wrap: wrap;
        margin-left: 24px;
        .ant-radio-button-wrapper {
          height: 52px;
          margin-right: 16px;
          border: none;
          outline: none;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 12px;
          border-radius: 12px;
          background: #fff;
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
          color: #000;
          font-size: 18px;
          
          line-height: 21px;
          letter-spacing: 0.3px;
          .check-icon {
            display: none;
          }
        }

        .ant-radio-button-wrapper-checked {
          height: 52px;
          margin-right: 16px;
          border-radius: 12px;
          background: #026f30;
          border: none;
          outline: none;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 12px;

          .check-icon {
            margin-right: 8px;
            display: inline-flex;
            align-items: center;
            color: inherit;
            font-style: normal;
            line-height: 0;
            text-align: center;
            text-transform: none;
            vertical-align: -0.125em;
            position: relative;
            left: -4px;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
          }
          .ant-radio-button {
            ::before {
              display: none !important;
            }
          }
        }

        .ant-radio-button-wrapper::before {
          display: none;
        }
      }
    }
  }

  .filter-by {
    display: flex;
    width: 100%;
    flex-wrap: inherit;
  }

  .from-time,
  .to-time {
    .date-picker-customize-theme1 {
      height: 52px;
      border-radius: 12px;
      width: 288px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
      &:hover {
        border-color: #fff !important;
      }
      margin-left: 24px;

      .ant-picker-input > input {
        color: #000;
        font-size: 18px;
        
        line-height: 21px;
        letter-spacing: 0.3px;
      }

      ::-webkit-input-placeholder,
      :-ms-input-placeholder,
      ::placeholder {
        font-size: 18px;
        
        line-height: 21px;
        letter-spacing: 0.3px;
      }
    }
  }

  .submit-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn-reset {
      color: #000;
      text-align: center;
      font-size: 18px;
      
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.3px;
      cursor: pointer;
    }
    .btn-apply {
      margin: 0px 24px;
      button {
        width: 108px;
        height: 40px;
        border-radius: 12px;
        background: #026f30;
        color: #fff;
        text-align: center;
        font-size: 18px;
        
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.3px;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.popup-picker-customize-theme1 {
  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    width: 40px;
    height: 40px;
    border-radius: 40px !important;
    background: #282828 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-picker-cell-in-view.ant-picker-cell-today
    .ant-picker-cell-inner::before {
    border: none;
  }
  .ant-picker-content {
    tr th {
      color: #19181a;
      text-align: center;
      font-size: 18px;
      
      font-weight: 600;
      line-height: 24px;
    }
  }

  .ant-picker-header {
    padding: 0 40px;
    .ant-picker-header-view {
      .ant-picker-month-btn {
        color: #5e8dec;
        font-size: 18px;
        
        font-weight: 500;
      }

      .ant-picker-year-btn {
        color: #000;
        font-size: 18px;
        
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 576px) {
  .point-history-filter-theme1 {
    .search .input-search {
      width: 265px !important;
    }
    .filter .btn-filter {
      width: 48px !important;
      min-width: 48px !important;
      .filter-count-number {
        margin-left: 0px;
      }
      .ant-btn-icon {
        margin: unset !important;
      }
    }
  }

  .popover-point-history-customize {
    .ant-popover-content {
      .ant-popover-inner {
        width: 366px !important;
        padding-top: 12px !important;
        margin-top: 28px;
        margin-left: 12px;
        padding: 12px 0px !important;
        padding-bottom: 16px !important;
        .sort-by {
          flex-wrap: nowrap;
        }
      }
    }
  }
  .content-theme1 {
    .title-name {
      font-size: 15px !important;
      min-width: 80px !important;
      width: 80px !important;
    }
    .ant-form-item-control-input {
      .ant-form-item-control-input-content {
        .ant-radio-group {
          display: flex;
          flex-wrap: wrap;
          // margin-left: 24px;
          .ant-radio-button-wrapper {
            font-size: 13px !important;
            height: 45px;
            .check-icon {
              display: none;
            }
          }

          .ant-radio-button-wrapper-checked {
            .check-icon {
              margin-right: 8px;
              display: inline-flex;
              align-items: center;
              color: inherit;
              font-style: normal;
              line-height: 0;
              text-align: center;
              text-transform: none;
              vertical-align: -0.125em;
              position: relative;
              left: -4px;
              text-rendering: optimizeLegibility;
              -webkit-font-smoothing: antialiased;
            }
            .ant-radio-button {
              ::before {
                display: none !important;
              }
            }
          }

          .ant-radio-button-wrapper::before {
            display: none;
          }
        }
      }
    }

    .filter-by {
      display: flex;
      width: 100%;
      flex-wrap: inherit;
    }

    .from-time,
    .to-time {
      .date-picker-customize-theme1 {
        width: 240px;
        margin-left: 24px;
        .ant-picker-input > input {
          font-size: 15px;
        }

        ::-webkit-input-placeholder,
        :-ms-input-placeholder,
        ::placeholder {
          font-size: 15px;
        }
      }
    }

    .submit-form {
      .btn-reset {
        font-size: 15px !important;
      }
      .btn-apply {
        margin: 0px 24px;
        button {
          font-size: 15px !important;
        }
      }
    }
  }
}
