.flash-sale-banner-zero {
  justify-content: flex-end;
  margin-left: 10px;
  --fcc-flip-duration: 0.5s;
  --fcc-digit-block-width: 24px;
  --fcc-digit-block-height: 40px;
  --fcc-digit-font-size: 24px;
  --fcc-digit-color: #000000;
  --fcc-divider-color: rgba(0, 0, 0, 0.1);
  --fcc-divider-height: 1px;
  --fcc-background: #ffffff;
  --fcc-separator-size: 0px;
  --fcc-separator-color: transparent;
  ._2EBbg {
    font-weight: 700;
  }
  ._2EBbg:first-child {
    margin-right: 2px;
  }
  ._2hRXr {
    margin-left: 0px;
  }
}
