.middle-content {
  padding: 16px;
  .selected-menu-back {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #50429b;
    padding: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
  }
  .selected-menu {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #50429b;
    border-radius: 12px;
    padding: 16px;
    background-color: #f7f5ff;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
  }
  .selected-menu-active {
    background-color: #50429b;
    color: #fff;
    svg > path,
    svg > rect {
      fill: #fff;
    }
  }
  .menu-right-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #50429b;
    li {
      border-radius: 12px;
      padding: 16px;
      background-color: #f7f5ff;
      margin-bottom: 20px;
      display: flex;
      span {
        cursor: pointer;
      }
    }
  }
  .padding-icon {
    margin-right: 18px;
    cursor: pointer;
  }
  .colorPicker {
    width: 48px !important;
    height: 48px !important;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px !important;
  }

  .colorPickerBox {
    float: right;
  }

  .backgroundType {
    float: right;
    padding-right: 0px !important;
  }

  .backgroundType .radioBackgroundType span {
    padding-right: 0;
  }

  .backgroundBox {
    display: flex;
    float: right;
  }

  .buttonResetColor {
    margin-left: 29px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .resetBackgroundColorIcon {
    cursor: pointer;
  }

  .tooltipBox {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background: #50429b;
    border-radius: 5px;
  }

  .tooltipText {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
  }
  .generalCustomize {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #282828;
    margin-bottom: 44px;
    padding-left: 24px;
  }

  .errorMessage {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #ff0000;
  }
  .non-image {
    max-width: 100%;
  }
  .text-non-image {
    column-gap: 15px;
  }
  .ant-input-affix-wrapper > input.ant-input {
    text-overflow: ellipsis;
  }
  .text-title {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #282828;
  }
  .check-box-select-all-categories {
    margin-top: -38px;
    float: right;
  }
}
