.account-header-theme1-container {
  width: 100%;
  height: 100%;
  .account-info {
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 8px;
      margin: 12px 16px 12px 12px;
      object-fit: cover;
    }
    .account-name {
      display: flex;
      flex-direction: column;
      
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #000000;
      span {
        margin-bottom: 12px;
      }
      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #026f30;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .account-list {
    .account-title {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: #000000;
      span {
        margin-right: 20px;
        margin-left: 12px;
      }
    }
  }
}

/* Mobile */
@media (max-width: 740px) {
  .account-header-theme1-container {
    width: 100%;
  }
}
