.page-product-list-theme1 {
  position: relative;
  .banner-top-product-list {
    position: relative;
    z-index: 3;
    &__img {
      width: 100%;
      max-height: 410px;
      object-fit: cover;
    }
    &__banner-color {
      width: 100%;
      max-height: 410px;
      height: 410px;
    }
    &__title {
      position: absolute;
      text-transform: capitalize;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.3px;
      text-transform: capitalize;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .wrapper-nav-and-products {
    margin-top: -5px;
    &--background-type-image {
      background-size: cover; 
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
    }
    .section-product-list {
      display: flex;
      flex-direction: column;
      row-gap: 80px;
      padding-bottom: 80px;
    }
  }
}
.ant-notification.ant-notification-bottom:has(.message-scan-qr-code) {
  min-width: 0px;
  display: flex;
  flex-direction: column;
}
.message-scan-qr-code {
  padding: 16px;
  width: max-content;
  display: flex;
  align-self: center;
  margin-left: 0px;
  margin-right: 0px;
  .ant-notification-notice-content {
    .ant-notification-notice-with-icon {
      .ant-notification-notice-message {
        padding-inline-end: 0px;
      }
    }
  }
}

// Tablet
@media (max-width: 1280px) and (min-width: 576px) {
  .content-component-wrapper {
    .page-product-list-theme1 {
      .banner-top-product-list {
        &__title {
          font-size: 32px;
        }
        &__banner-color {
          max-height: 200px;
        }
        &__img {
          max-height: 200px;
        }
      }
      .section-product-list {
        row-gap: 36px;
        padding-bottom: 36px;
      }
    }
  }
}

// Mobile
@media (max-width: 575px) {
  .page-product-list-theme1 {
    .banner-top-product-list {
      &__img {
        max-height: 100px;
      }
      &__banner-color {
        max-height: 100px;
      }
      &__title {
        font-size: 24px;
      }
    }
    .section-product-list {
      row-gap: 16px !important;
      padding-bottom: 16px !important;
    }    
  }
}

//  Other 
@media (max-width: 1280px) and (min-width: 575px) {
  .content-component-wrapper {
    padding: 0px 0px;
    margin: 0 auto;
  }
}