// Variables
$height-img-product-desktop: 315px;
$width-img-product-desktop: 315px;
$height-img-product-tablet: 230px;
$width-img-product-tablet: 230px;
$height-img-product-mobile: 157px;
$width-img-product-mobile: 157px;

.product-card-theme1 {
  background: #f9f9f9;
  border-radius: 12px;
  width: $width-img-product-desktop;
  .product-card {
    &__flashsale-img {
      width: $width-img-product-desktop;
      position: absolute;
      border-radius: 12px 12px 0 0;
    }

    &__flashsale-bottom {
      position: absolute;
      bottom: 0;
      width: 75%;
    }
    &__img-box {
      position: relative;
      overflow: hidden;
      height: $height-img-product-desktop;
      border-radius: 12px 12px 0 0;
      -webkit-border-radius: 12px 12px 0 0;
      &--is-flashsale {
        margin: 5px;
        height: calc($height-img-product-desktop - 10px);
        border-radius: 12px;
      }
    }
    &__img {
      width: $width-img-product-desktop;
      height: $height-img-product-desktop;
      border-radius: 12px 12px 0 0;
      object-fit: cover;
      background: #f9f9f9;
    }
    &__percent-discount {
      border-radius: 8px;
      background: #ff5206;
      padding: 4px 6px;
      width: fit-content;
      right: 12px;
      top: 12px;
      position: absolute;
      z-index: 1;
      //  Text
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__content {
      padding: 24px 16px 24px 27px;
      height: calc(100% - $height-img-product-desktop);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0 0 12px 12px;
    }

    &__title {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 175% */
      letter-spacing: 0.3px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 16px;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
    }

    &__price-block {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &__price-sell {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 116.667% */
      letter-spacing: 0.3px;
    }

    &__price-discount {
      color: #c1c1c1;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
      letter-spacing: 0.3px;
      text-decoration: line-through;
    }

    &__btn-add-to-cart {
      display: flex;
      align-items: flex-end;
    }
  }
}

@media (min-width: 1281px) {
  .product-card-theme1 {
    transition: all 0.3s ease;
    .product-card {
      &__img,
      &__title,
      &__btn-add-to-cart svg path {
        transition: all 0.5s ease;
      }

      &__btn-add-to-cart {
        svg {
          path {
            fill: none;
          }
        }
        &:hover {
          cursor: pointer;
          svg {
            path {
              fill: #ff8c21 !important;
              transition: all 0.5s ease;
            }
          }
        }
      }
    }
    &:hover {
      .product-card {
        &__img,
        &__title,
        &__btn-add-to-cart svg path,
        &__price-sell {
          transition: all 0.5s ease;
        }
        &__img {
          display: inline-block; /* shrink wrap to image */
          overflow: hidden; /* hide the excess */
          display: block; /* no whitespace */
          transform: scale(1.16);
          will-change: transform;
          cursor: pointer;
        }
        &__title {
          color: #fff;
          cursor: pointer;
        }
        &__percent-discount {
          cursor: pointer;
        }
        &__btn-add-to-cart {
          svg {
            path {
              fill: #fff;
            }
          }
        }

        &__price-sell {
          color: #fff;
        }
      }
    }
  }
}

// Tablet
@media (max-width: 1280px) and (min-width: 576px) {
  .product-card-theme1 {
    width: $width-img-product-tablet;
    .product-card {
      &__flashsale-img {
        width: $width-img-product-tablet;
      }
      &__img-box {
        height: $height-img-product-tablet;
        &--is-flashsale {
          height: calc($height-img-product-tablet - 10px);
          border-radius: 12px;
        }
      }
      &__percent-discount {
        font-size: 14px;
        right: 8px;
        top: 8px;
      }
      &__img {
        width: $width-img-product-tablet;
        height: $height-img-product-tablet;
      }

      &__title {
        font-size: 16px;
      }

      &__content {
        padding: 16px;
        height: calc(100% - $height-img-product-tablet);
      }

      &__price-sell {
        font-size: 18px;
      }
      &__price-discount {
        font-size: 14px;
      }
    }
  }
}

// Mobile
@media (max-width: 575px) {
  .product-card-theme1 {
    width: $height-img-product-mobile;
    .product-card {
      &__flashsale-img {
        width: $width-img-product-mobile;
      }
      &__img-box {
        height: $height-img-product-mobile;
        &--is-flashsale {
          margin: 3px;
          height: calc($height-img-product-mobile - 10px);
          border-radius: 8px;
        }
      }
      &__percent-discount {
        font-size: 13px;
        right: 6px;
        top: 6px;
      }
      &__img {
        width: $width-img-product-mobile;
        height: $height-img-product-mobile;
      }

      &__title {
        font-size: 13px;
        line-height: 24px;
      }

      &__content {
        padding: 8px 8px 12px 8px;
        height: calc(100% - $height-img-product-mobile);
      }

      &__price-sell {
        font-size: 15px;
        line-height: normal;
      }
      &__price-discount {
        font-size: 13px;
        line-height: normal;
      }

      &__btn-add-to-cart {
        align-items: flex-start;
        svg {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}
