.page-product-list-theme1 {
  &--is-customize {
    .banner-top-product-list {
      &__img {
        height: 410px;
      }
    }
    .wrapper-sticky-slider-category-product-list-theme1 {
      max-width: 1400px !important;
      width: 99% !important;
      margin-left: auto;
      margin-right: auto;
    }
    .section-product-list {
      row-gap: 80px;
      display: flex;
      flex-direction: column;
      .product-list-card-theme1 {
        max-width: 1400px !important;
        width: 99% !important;
        .product-list {
          &__container {
            .product-card-theme1 {
              .product-card {
                &__price-sell {
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
}
