.ant-radio-button-wrapper-checked {
  .fill-medium-reservation-icon-right-profile {
    filter: contrast(0.6);
  }
  .fill-white-reservation-icon-right-profile {
    fill: #fafafa !important;
  }
}

.my-reservations-theme1 {
  border-radius: 0px 12px 12px 0px;
  border: 1px solid #f6f6f6;
  background: #fff;
  min-height: 70vh;
  padding-left: 80px;
  padding-top: 42px;
  padding-bottom: 32px;
  min-width: 162px;
  min-height: 90vh;
  .list-reservations {
    &__wrapper-title {
      margin-bottom: 25px;
      display: flex;
      column-gap: 16px;
    }
    &__icon-title {
      display: none;
    }
    &__title {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &__divide-header {
      border-top: 1px solid #d9d9d9;
      border-radius: 10px;
    }
    &__contain-filter-status {
      margin-left: auto;
      margin-right: 5%;
      overflow: scroll;
      .filter-status-reservation {
        width: max-content;
        margin-top: 20px;
        display: flex;
        column-gap: 72px;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        .item-filter-reservation {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          &__title {
            color: #959595;
            font-size: 18px;
            font-weight: 500;
          }
          &__divide {
            display: none;
            width: 130%;
          }

          &--is-selected {
            .item-filter-reservation {
              &__divide {
                border-top: 2px solid;
                border-radius: 10px;
                display: block;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
    &__section-list {
      margin-top: 38px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      column-gap: 28px;
      row-gap: 32px;
      .list-reservations_no-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 70px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        min-height: 35vh;
        &__img {
          width: 95%;
          max-height: 400px;
          height: fit-content;
        }
        &__title {
          color: #000;
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
  .button-create-reserve {
    position: sticky;
    display: flex;
    bottom: 48px;
    padding: 12px 18px;
    margin-top: 24px;
    border-radius: 18px;
    width: fit-content;
    height: 65px;
    left: 88%;
    cursor: pointer;
    a {
      display: flex;
      align-items: center;
      column-gap: 14px;
      text-decoration: none;
    }
    &__title {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

@media (max-width: 1540px) and (min-width: 1201px) {
  .my-reservations-theme1 {
    padding-left: unset;
    .list-reservations {
      &__wrapper-title {
        padding-left: 22px;
      }
      &__contain-filter-status {
        padding-left: 22px;
      }
      &__section-list {
        max-width: 95%;
        padding-left: unset;
        margin-left: auto;
        margin-right: auto;
        column-gap: 2%;
        .card-reservation-theme1 {
          width: 49%;
        }
      }
    }
  }
}

@media (max-width: 1200px) and (min-width: 576px) {
  .my-profile-theme1-styled {
    padding-top: 0 !important;
  }
  .my-reservations-theme1 {
    padding-top: 20px;
    padding-left: 22px;
    .list-reservations {
      &__wrapper-title {
        margin-bottom: 38px;
      }
      &__title {
        font-size: 16px;
        color: #000;
        letter-spacing: 0.3px;
      }
      &__icon-title {
        width: 24px;
        height: 24px;
      }
      &__divide-header {
        display: none;
      }
      &__contain-filter-status {
        .filter-status-reservation {
          column-gap: 32px;
          margin-top: 0;
          .item-filter-reservation {
            &--is-selected {
              .item-filter-reservation {
                &__divide {
                  margin-top: 14px;
                }
              }
            }
          }
        }
      }
      &__section-list {
        column-gap: 1.5%;
        row-gap: 24px;
        margin-right: 22px;
        .list-reservations_no-data {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 70px;
          margin-top: 52px;
          &__img {
            max-width: 300px;
          }
          &__title {
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.15px;
          }
        }
      }
    }
    .button-create-reserve {
      height: 56px;
      bottom: 36px;
      padding-left: 20px;
      padding-right: 20px;
      a {
        column-gap: 12px;
      }
      svg {
        width: 24px;
        height: 24px;
      }
      &__title {
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 1165px) and (min-width: 992px) {
  .my-reservations-theme1 {
    padding-left: unset;
    .list-reservations {
      &__wrapper-title {
        padding-left: 22px;
      }
      &__contain-filter-status {
        .filter-status-reservation {
          padding-left: 22px;
        }
      }
      &__section-list {
        margin-left: 22px;
        margin-right: 22px;
        column-gap: 2% !important;
        .card-reservation-theme1 {
          width: 49%;
        }
      }
    }
  }
}
@media (max-width: 991px) and (min-width: 841px) {
  .my-reservations-theme1 {
    padding-left: unset;
    .list-reservations {
      &__wrapper-title {
        padding-left: 10px;
      }
      &__contain-filter-status {
        .filter-status-reservation {
          padding-left: 12px;
        }
      }
      &__section-list {
        max-width: 95%;
        column-gap: 12px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
@media (max-width: 840px) and (min-width: 576px) {
  .my-reservations-theme1 {
    padding-left: unset;
    .list-reservations {
      &__wrapper-title {
        padding-left: 22px;
      }
      &__contain-filter-status {
        padding-left: 22px;
      }
      &__section-list {
        max-width: 95%;
        padding-left: unset;
        margin-left: auto;
        margin-right: auto;
        column-gap: 2%;
        .card-reservation-theme1 {
          width: 49%;
        }
      }
    }
  }
}

// Mobile
@media (max-width: 575px) {
  .my-reservations-theme1 {
    padding-left: unset;
    padding-top: 20px;
    .list-reservations {
      &__wrapper-title {
        margin-bottom: 16px;
        margin-top: 16px;
        padding-left: 27px;
      }
      &__title {
        font-size: 16px;
        color: #000;
        letter-spacing: 0.3px;
      }
      &__icon-title {
        display: block;
        width: 24px;
        height: 24px;
      }
      &__divide-header {
        display: none;
      }

      &__contain-filter-status {
        .filter-status-reservation {
          padding-left: 27px;
          column-gap: 24px;
          margin-top: unset;
          .item-filter-reservation {
            &--is-selected {
              .item-filter-reservation {
                &__divide {
                  margin-top: 8px;
                  width: 115%;
                }
              }
            }
          }
        }
      }
      &__section-list {
        column-gap: 10px;
        row-gap: 24px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        .list-reservations_no-data {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 70px;
          margin-top: 52px;
          &__img {
            max-width: 250px;
          }
          &__title {
            font-size: 13.352px;
            font-weight: 400;
          }
        }
      }
    }

    .button-create-reserve {
      height: 56px;
      bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      a {
        column-gap: 12px;
      }
      svg {
        width: 24px;
        height: 24px;
      }
      &__title {
        font-size: 15px;
      }
    }
  }
}
