.discount-item-popover {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 6px;
  .name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    user-select: none;
    min-width: 100px;
    max-width: 55%;
    height: fit-content;
    .discount-code-popover {
      border-radius: 8px;
      border: 1px solid #cdc6ff;
      background: #ece8fe;
      display: flex;
      padding: 8px 12px;
      align-items: center;
      gap: 8px;
      .discount-code-name {
        color: #50429b;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }
  .amount {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 30px;
    color: #000000;
    user-select: none;
    margin-left: 20px;
  }
}
