.grid-no-column {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.grid-name-column {
  a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #428bc1;
  }

  .text-overflow {
    width: 423px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-name {
    color: #428bc1;
  }
}

.grid-discount-column {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  .discount-text {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .discount-percent {
    font-weight: 700;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .discount-max {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .discount-amount {
    font-weight: 700;
    text-align: right;
    margin-bottom: 20px;
  }
}

.grid-time-column {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  .start-text {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .start-date {
    font-weight: 700;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .end-text {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .end-date {
    font-weight: 700 !important;
    text-align: right !important;
    margin-bottom: 20px;
  }
}

.grid-status-column {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 36px;

  .status-finished {
    background: rgba(219, 27, 27, 0.1);
    border-radius: 16px;
    width: 99px;
    display: flex;
    align-items: center;
    color: #db1b1b;
    padding: 12px;
    width: fit-content !important;
    .text-status-finished {
      font-size: 16px;
      margin-bottom: 0px !important;
    }
  }

  .status-active {
    background: rgba(51, 181, 48, 0.1);
    border-radius: 16px;
    width: 82px;
    display: flex;
    align-items: center;
    color: #33b530;
    padding: 12px;
    height: auto !important;
    width: fit-content !important;
    .text-status-active {
      font-size: 16px;
      margin-bottom: 0px !important;
    }
  }

  .status-scheduled {
    background: rgba(255, 140, 33, 0.1);
    border-radius: 16px;
    width: 120px;
    display: flex;
    align-items: center;
    color: #ff8c21;
    padding: 12px;
  }

  .combo-status-active {
    background: rgba(51, 181, 48, 0.1);
    border-radius: 16px;
    width: 82px;
    display: flex;
    align-items: center;
    color: #33b530;
    padding: 12px;
  }
}

.discount-amount {
  .ant-input-number-group-addon {
    opacity: 1;
    padding: unset;
    .radio-group-discount {
      width: 152px;
      .ant-radio-button-wrapper {
        height: 60px !important;
        display: table-cell;
        vertical-align: middle;
      }
      .ant-radio-button-wrapper-checked {
        background: #50429b !important;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
        color: #ffffff !important;
        border-color: #50429b !important;
      }
      .percent-option {
        border-radius: 12px 0px 0px 12px;
        width: 76px;
      }
      .currency-option {
        border-radius: 0px 12px 12px 0px;
        width: 76px;
      }
    }
  }
}

.check-box-select-all {
  margin-top: -38px;
  float: right;
}

.promotion-guideline-page-title {
  display: inline-block;
  margin-right: 12px;
}

.check-box-select-all {
  margin-top: -38px;
  float: right;
}

@media (max-width: 576px) {
  .fnb-row-page-header-flash-sale {
    .ant-col {
      .fnb-title-header {
        font-size: 20px !important;
      }
      .shop-add-new-button {
        height: 44px !important;

        span {
          font-size: 14px;
        }
      }
    }
    .fnb-col {
      width: 100%;
      flex: unset !important;
      max-width: unset !important;
    }
    .fnb-text-flash-sale {
      display: flex;
      align-items: flex-end;
      svg {
        transform: translate(-550%, -6px);
      }
    }
  }
}
@media (max-width: 992px) {
  .fnb-flash-sale-filter {
    .default-mode {
      display: block !important;
      .select-bar-action-group {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .action-group {
        width: 100% !important;
        display: flex;
        flex-direction: row-reverse;
        margin-left: -5px !important;
        .action-button-calendar-component {
          width: 100%;
          .ant-btn-default {
            height: 44px;
            .fnb-btn-div-icon-calendar {
              margin-top: unset !important;
              margin-left: unset !important;
            }
            .fnb-div-text-date-time .fnb-text-date-time {
              line-height: 44px;
              margin-bottom: 0px !important;
              height: 44px;
            }
            .fnb-div-down {
              svg > path {
                stroke: #ccc;
              }
            }
          }
        }
      }
    }
  }
}
