.overview-theme1 {
  .overview-header-text {
    
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    padding-left: 16px;
  }
  .overview-point {
    display: flex;
    margin-top: 12px;
    flex-wrap: wrap;
    .earn-point {
      width: 388px;
      height: 154px;
      margin-right: 24px;
      margin-bottom: 16px;
      background: #ffffff;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      padding: 24px;

      .rank {
        display: flex;
        .icon,
        .thumbnail-url-rank {
          width: 68px;
          height: 68px;
        }
        .range-slider {
          margin-left: 32px;
          position: relative;
          top: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .rank-text {
            
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #026f30;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
          }
          .slider {
            width: 248px;
            .fnb-gdas-range {
              -webkit-appearance: none;
              width: 100%;
              height: 16px;
              // background-image: linear-gradient(to right, red, green);
              outline: none;
              -webkit-transition: 0.2s;
              transition: opacity 0.2s;
              background: linear-gradient(90deg, #539149 0%, #8fc288 100%);
              border-radius: 16px;
            }

            .fnb-gdas-range::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 20px;
              height: 20px;
              background: #8fc288;
              border: 3px solid transparent;
              border-radius: 50%;
              cursor: pointer;
              //   background-image: linear-gradient(white, white),
              //     linear-gradient(to right, red, green);
              background-attachment: fixed, fixed;
              background-clip: padding-box, border-box;
              border: 2px solid #ffffff;
              box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25);
              border-radius: 16px;
            }

            .fnb-gdas-range::-moz-range-thumb {
              width: 20px;
              height: 20px;
              background: #8fc288;
              border: 3px solid transparent;
              border-radius: 50%;
              cursor: pointer;
              //   background-image: linear-gradient(white, white),
              //     linear-gradient(to right, red, green);
              background-attachment: fixed, fixed;
              background-clip: padding-box, border-box;
              border: 2px solid #ffffff;
              box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25);
              border-radius: 16px;
            }
          }
        }
      }

      .point {
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #555555;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;

        .score {
          color: #ff8c21;
        }
      }
    }

    .statistics-point {
      width: 708px;
      height: 154px;
      left: 492px;
      top: 175px;
      background: #ffffff;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      padding: 32px 40px;
      .statistics-name,
      .point {
        
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
      }
      .statistics {
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .statistics-name {
        }
        .point {
        }
      }
    }

    .expired-points {
      position: relative;
      top: -40px;
      left: 40px;
      .score {
        color: #ff8c21;
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 992px) {
  .overview-theme1 {
    .overview-point .statistics-point {
      width: 640px;
    }
    .overview-point .earn-point {
      margin-right: 12px;
    }
  }
}

@media (max-width: 992px) and (min-width: 576px) {
  .overview-theme1 {
    .overview-header-text {
      font-size: 20px !important;
    }
    .overview-point {
      flex-wrap: unset !important;
      .earn-point {
        width: 326px;
        padding: 12px !important;
        .point {
          font-size: 13px !important;
          padding-left: 12px;
        }
        .slider {
          width: 200px !important;
        }
      }

      .statistics-point {
        width: 400px;
        margin-top: 0px;
        padding: 16px !important;
        margin-left: 16px !important;

        .statistics-name {
          font-size: 13px !important;
        }

        .point {
          font-size: 15px !important;
        }
      }

      .expired-points {
        top: -40px;
        left: 30px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 576px) {
  .overview-theme1 {
    .overview-header-text {
      font-size: 17px !important;
    }
    .overview-point {
      flex-direction: column;
      align-items: center;
      .earn-point {
        width: 361px;
        padding: 12px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
        .point {
          font-size: 15px !important;
          padding-left: 12px;
        }
        .slider {
          width: 220px !important;
        }
      }

      .statistics-point {
        width: 361px;
        height: 105px;
        margin-left: 0px !important;
        margin-top: 16px;
        padding: 16px !important;

        .statistics {
          height: 60px;
        }
        .statistics-name {
          font-size: 13px !important;
        }

        .point {
          font-size: 15px !important;
          padding-bottom: 4px;
        }
      }

      .expired-points {
        top: -26px;
        left: 16px;
        font-size: 13px;
      }
    }
  }
}
