.table-customize-loyalty-point-theme1 {
  .ant-table-content {
    background: #fafafa;
  }
  .order-id-theme1 {
    color: #3566e3;
    font-size: 16px;
    
  }

  .branch-name-theme1,
  .total-amount-theme1 {
    color: #000;
    font-size: 18px;
    
    font-weight: 700;
  }

  .point-theme1-positive {
    color: #ff8c21;
    font-size: 18px;
    
    font-weight: 700;
  }

  .point-theme1-minus {
    color: #e80f1c;
    font-size: 18px;
    
    font-weight: 700;
  }

  .time-theme1 {
    color: #000;
    font-size: 18px;
    
  }
  .platform-theme1 {
    width: 46px;
    height: 29px;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  .platform-pos-theme1 {
    background: #50429b;
  }
  .platform-web-theme1 {
    background: #f7931e;
  }
  .platform-app-theme1 {
    background: #b3b3dd;
  }
  .ant-table-pagination.ant-pagination {
    display: flex;
    justify-content: center;
  }
  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next {
    width: 46px;
    height: 52px;
    border-radius: 16px;
    background: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
  }
  .ant-pagination .ant-pagination-item-active {
    border-radius: 16px;
    background: #026f30;
    width: 46px;
    height: 52px;
    border: none;
    outline: none;
    a {
      color: white;
    }
  }
}

.customize-loyalty-point-mobile-devices-theme1 {
  margin-bottom: 24px;
  justify-content: space-between;
  .col-name {
    text-align: start;
    .branch-name {
      color: #000;
      font-size: 15px;
      
      font-weight: 700;
    }

    .order-code {
      color: #979797;
      font-size: 13px;
      
      margin: 4px 0px;

      .order-code-id {
        color: #3566e3;
      }
    }

    .total-amount {
      color: #2e2e2e;
      font-size: 15px;
      
      font-weight: 600;
    }
  }

  .col-point {
    text-align: end;

    .time {
      color: #979797;
      text-align: right;
      font-size: 13px;
      
    }

    .point {
      color: #f7931e;
      font-size: 13px;
      
      font-weight: 700;
    }

    .platform-name {
      border-radius: 6px;
      background: #50429b;
      color: #fff;
      text-align: right;
      font-size: 13px;
      
      font-weight: 700;
      height: 20px;
      width: 36.837px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
    }

    .point-platform {
      display: flex;
      float: right;
      margin: 12px 0px;
    }

    .platform-pos-theme1 {
      background: #50429b !important;
    }
    .platform-web-theme1 {
      background: #f7931e !important;
    }
    .platform-app-theme1 {
      background: #b3b3dd !important;
    }

    .point-theme1-positive {
      color: #ff8c21;
      font-size: 13px;
      
      font-weight: 700;
      margin-right: 8px;
    }

    .point-theme1-minus {
      color: #e80f1c;
      font-size: 13px;
      
      font-weight: 700;
      margin-right: 8px;
    }
  }
}
