.card-notification-campaign-detail {
  .title-session {
    height: 25px;
    display: flex;
    align-items: center;
    padding-right: 24px;
    margin-bottom: 25px;

    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #2b2162;
    }
  }

  .view-detail-text {
    height: 25px;
    display: flex;
    align-items: center;
    color: #50429b;
    margin-bottom: 25px;

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #50429b;
    }
  }

  .text-container {
    padding-right: 24px;

    .text-label {
      font-weight: 400;
      font-size: 20px;
      line-height: 21px;
      letter-spacing: 0.3px;
      color: #9f9f9f;
      margin-bottom: 8px;
    }

    .text-detail {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.3px;
      color: #000000;
      margin-bottom: 32px;
    }
    .text-detail-disable {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.3px;
      color: #000000;
      margin-bottom: 32px;
      margin-left: 35px;
    }
  }

  .all-customer-checkbox {
    .all-customer-checkbox-text {
      margin-left: 0 !important;
    }
  }

  .selected-customer-segment-count {
    display: inline;
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .card-notification-campaign-detail {
    .all-customer-checkbox span:not([class]):has(.all-customer-checkbox-text) {
      padding-left: 8px !important;
    }
  }
}