@media (max-width: 575px){
    .ant-btn.ant-btn-default.cancel-leave-button {
        background: transparent !important;
        margin-right: 16px !important;
    }

    .create-new-purchase-order-form {
        .ant-card.ant-card-bordered.mt-1.fnb-card.h-auto {
            width: 343px;
        }

        .fnb-row-page-header {
            margin-bottom: 1em;

            .ant-col {
                .ant-space {
                    float: left !important;

                    .ant-space-item {
                        padding-left: 0;
                        border: none;
                    }
                }
            }
        }

        .ant-input-textarea {
            height: 200px !important;
        }

        .fnb-input {
            padding: 9px;
        }
    }
}
