.flash-sale-home-page-theme-1 {
  padding: 48px 24px;
  margin-bottom: 32px;
  position: relative;
  .flash-sale-logo {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-top: 32px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .ant-tabs {
    border-radius: 15px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    .ant-tabs-nav {
      padding-bottom: 18px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      margin-bottom: 0px;
      height: 250px;
      background-image: url("../../../../assets/images/background-flash-sale.png");
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: cover;
      background-position: center;
      .ant-tabs-nav-list {
        width: 100%;
        justify-content: space-evenly;
        .ant-tabs-tab,
        .ant-tabs-tab-active {
          align-items: flex-end;
          color: #fff;
          padding: 8px 0;
          .ant-tabs-tab-btn {
            color: #fff;
            text-align: center;
            
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.3px;
            text-shadow: 0 0 0.25px currentcolor;
          }
        }
        .ant-tabs-ink-bar {
          background: #fff;
          width: 100%;
        }
        .tab-item-name {
          font-weight: 500;
          font-size: 24px;
          line-height: 30px;
          text-align: center;
          letter-spacing: 0.3px;
          color: #ffffff;
          padding-bottom: 16px;
        }
        .tab-item-time {
          height: 40px;
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          letter-spacing: 0.3px;
          color: #ffffff;
          .flip-countdown {
            ._2hRXr {
              margin-left: 4px;
              margin-right: 4px;
            }
          }
        }
      }
    }
    .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
      height: 3px;
      border-radius: 3px;
    }
    .ant-tabs-content-holder {
      padding: 32px;
      background-color: #fff;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  .flip-countdown-title {
    display: none;
  }
}

/* Mobile - ant-xs */
@media (max-width: 575px) {
  .flash-sale-home-page-theme-1 {
    margin-top: 0px;
    margin-bottom: 16px;
    $flash-sale-home-page-padding: 16px;
    padding: $flash-sale-home-page-padding;
    .flash-sale-logo {
      padding-top: 16px;
      padding-bottom: 30px;
      width: calc(100% - $flash-sale-home-page-padding * 2);
      img {
        width: 150px;
      }
    }
    .ant-tabs {
      border-radius: 8px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      .ant-tabs-nav {
        padding-bottom: 16px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-bottom: 0px;
        height: 150px;
        background-image: url("../../../../assets/images/background-flash-sale-mobile.png");
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        .ant-tabs-nav-list {
          width: 100%;
          justify-content: space-evenly;
          text-align: center;
          .ant-tabs-tab,
          .ant-tabs-tab-active {
            align-items: flex-end;
            color: #fff;
            padding: 8px 0;
            margin: 0px;
            .ant-tabs-tab-btn {
              color: #fff;
              text-align: center;
              
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 30px;
              letter-spacing: 0.3px;
            }
          }
          .ant-tabs-ink-bar {
            background: #fff;
            width: 100%;
          }
          .tab-item-name {
            font-size: 13px;
            line-height: 16px;
            padding-bottom: 8px;
          }
          .tab-item-time {
            height: 32px;
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.3px;
            color: #ffffff;
            .flip-countdown {
              --fcc-digit-block-width: 16px !important;
              --fcc-digit-block-height: 24px !important;
              --fcc-digit-font-size: 16px !important;
              --fcc-separator-size: 3px !important;
              ._3cpN7 {
                ._2EBbg:first-child {
                  margin-right: 1px;
                }
                ._2EBbg {
                  div:first-child {
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                  }
                  div:nth-child(2) {
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                  }
                }
              }
              ._2hRXr {
                margin-left: 3px;
                margin-right: 3px;
              }
            }
          }
        }
      }
      .ant-tabs-content-holder {
        padding: 16px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}
