.customize-theme-footer {
  .store-information-address-box {
    height: 147px !important;
  }
  .social__link {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;

    .link__icon {
      margin-right: 16px;
    }
    .social__link__textInput {
      width: 100%;
    }
    .ant-form-item {
      flex: 1;
      margin-bottom: 0;
    }
    .ant-checkbox-wrapper {
      margin-left: 16px;
      padding-top: 15px;
    }
  }
  .mb-16 {
    margin-bottom: 16px;
  }
  .margin-auto {
    margin: auto;
  }
  .margin-left-notice {
    margin-right: 9.67px;
  }
  .size-general {
    font-size: 20px;
  }

  .visible-component {
    .ant-checkbox-inner {
      background-image: url(../../../../assets/icons/eye.svg);
      height: 16px;
      display: inline-block;
      padding: 0 0 0 0px;
      width: 50px !important;
      background-repeat: no-repeat;
      border: none !important;
      z-index: 1000;
      background-color: transparent;
    }
    .ant-checkbox-checked::after,
    .ant-checkbox-checked .ant-checkbox-inner {
      background: url(../../../../assets/icons/eye.svg) no-repeat !important;
      height: 24px;
      display: inline-block;
      padding: 0 0 0 0px;
      width: 50px !important;
      background-repeat: no-repeat;
      border: none !important;
    }
    .ant-checkbox-checked .ant-checkbox-inner::after {
      border: none !important;
    }
    span.ant-checkbox.ant-checkbox-checked {
      background-color: transparent;
    }
    span.ant-checkbox {
      background-color: transparent;
    }
  }
  .sub-collapse-customize {
    .ant-form-item-explain {
      margin-bottom: 20px;
    }
  }
  .ant-form-item-explain {
    display: none !important;
  }
}
