$layout-max-width: 1200px;
.pos-product-list {
  width: 100%;
  max-width: $layout-max-width;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  * {
    font-family: inherit;
  }

  .min-header {
    max-width: $layout-max-width;
  }
  /* scrollbar for Chrome, Safari and Opera */
  .pos-product-list-body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .pos-product-list-body::-webkit-scrollbar-thumb {
    background-color: var(--primaryColorTheme1);
    border-radius: 2px;
  }
  .pos-product-list-body {
    margin-top: 60px; //height of header
    background: #f9f9f7;
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: calc(100vh - 60px);
    .store-info {
      width: 100%;
      height: auto;
      min-height: auto;
      padding: 16px;
      border-radius: 12px;
      background-color: #ffffff;
      .store-info-title {
        .icon {
          margin-right: 12px;
        }
        .text {
          width: calc(100% - 36px);
          color: #000;
          text-align: left;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.3px;
        }
      }
      .store-info-sub-title {
        $width-icon: 24px;
        $margin-right-icon: 12px;

        margin-top: 16px;
        .icon {
          margin-right: $margin-right-icon;
          svg {
            width: $width-icon;
            height: $width-icon;
          }
        }
        .text {
          width: calc(100% - $width-icon - $margin-right-icon);
          color: #000;
          text-align: left;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
        }
      }
    }
    .list-product-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      overflow-y: scroll;
      scroll-behavior: smooth;
      width: 100%;
      padding: 0px;
    }
  }
}

@media (max-width: 575px) {
  .pos-product-list {
    .pos-product-list-body {
      padding: 16px;
      height: calc(var(--window-height) - 60px);
      .store-info {
        $width-icon: 24px;
        $margin-right-icon: 11px;
        padding: 12px 16px;
        .store-info-title {
          .icon {
            margin-right: $margin-right-icon;
          }
          .text {
            font-size: 16px;
          }
        }
        .store-info-sub-title {
          .icon {
            margin-right: 11px;
          }
          .text {
            width: calc(100% - $width-icon - $margin-right-icon);
            font-size: 16px;
          }
        }
      }
    }
  }
}
