$number_width: 60px;
$number_height: 60px;
$number_width_mobile: 40px;
$number_height_mobile: 40px;

.input-otp {
  .input-otp__field {
    width: 60px;
    height: 60px;
    max-width: unset;
  }
}

.login_otp_container {
  padding: 136px 0px 136px 0px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  .login_otp_theme1 {
    margin: 0 auto;
    margin-right: 180px;
    width: 600px;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 120px;
    padding-left: 56px;
    padding-right: 56px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    .loading-overlay {
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(255, 255, 255, 0.7);
      .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
      }
    }
    .login_back {
      position: relative;
      top: 10px;
      left: 10px;
      cursor: pointer;
    }
    .login_otp_title1 {
      margin: auto;
      text-align: center;

      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      align-items: center;
      color: #000000;
      margin-top: -25px;
    }
    .login_otp_phone {
      margin: auto;
      text-align: center;

      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      align-items: center;
      text-align: center;
    }
    .login_otp_title2 {
      margin: auto;
      text-align: center;

      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      align-items: center;
      text-align: center;
      color: #000000;
      margin-top: 60px;
    }
    .login_otp_title3 {
      margin: auto;
      text-align: center;

      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      padding-bottom: 40px;
      margin-top: 10px;
    }
    .login_otp_resend_title {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      align-items: center;
      text-align: center;
      color: #000000;
    }
    .login_otp_resend1 {
      cursor: pointer;
      margin: auto;
      text-align: center;
      color: rgba(94, 141, 236, 1);
    }
    .login_otp_resend2 {
      cursor: pointer;
      margin: auto;
      text-align: center;
      color: #bebebe;
    }
    .login_otp_numbers {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-top: 20px;
      padding-bottom: 50px;
      .login_otp_number1 {
        height: $number_height;
        width: $number_width;
        .login_otp_n1 {
          text-align: center;
          background: rgba(255, 255, 255, 0.7);
          border: 1px solid #6d6d6d;
          border-radius: 12px;
          width: 100%;
          height: 100%;

          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 23px;
          align-items: center;
          text-align: center;
        }
      }
      .login_otp_number2 {
        height: $number_height;
        width: $number_width;
        .login_otp_n2 {
          text-align: center;
          text-align: center;
          background: rgba(255, 255, 255, 0.7);
          border: 1px solid #6d6d6d;
          border-radius: 12px;
          width: 100%;
          height: 100%;

          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 23px;
          align-items: center;
          text-align: center;
        }
      }
      .login_otp_number3 {
        height: $number_height;
        width: $number_width;
        .login_otp_n3 {
          text-align: center;
          text-align: center;
          background: rgba(255, 255, 255, 0.7);
          border: 1px solid #6d6d6d;
          border-radius: 12px;
          width: 100%;
          height: 100%;

          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 23px;
          align-items: center;
          text-align: center;
        }
      }
      .login_otp_number4 {
        height: $number_height;
        width: $number_width;
        .login_otp_n4 {
          text-align: center;
          text-align: center;
          background: rgba(255, 255, 255, 0.7);
          border: 1px solid #6d6d6d;
          border-radius: 12px;
          width: 100%;
          height: 100%;

          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 23px;
          align-items: center;
          text-align: center;
        }
      }
      .login_otp_number5 {
        height: $number_height;
        width: $number_width;
        .login_otp_n5 {
          text-align: center;
          text-align: center;
          background: rgba(255, 255, 255, 0.7);
          border: 1px solid #6d6d6d;
          border-radius: 12px;
          width: 100%;
          height: 100%;

          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 23px;
          align-items: center;
          text-align: center;
        }
      }
      .login_otp_number6 {
        height: $number_height;
        width: $number_width;
        .login_otp_n6 {
          text-align: center;
          text-align: center;
          background: rgba(255, 255, 255, 0.7);
          border: 1px solid #6d6d6d;
          border-radius: 12px;
          width: 100%;
          height: 100%;

          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 23px;
          align-items: center;
          text-align: center;
        }
      }
    }
    .login_otp_error {
      color: red;

      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      align-items: center;
      text-align: center;
      margin-top: 20px;
    }
    .login_button_resend_box {
      display: none;
    }
  }
}

@media screen and (max-width: 639px) {
  .input-otp {
    .input-otp__field {
      width: 100%;
      height: 44px;
    }
  }
  .login_otp_container {
    background-image: url("");
    padding: 0px;
    .login_otp_theme1 {
      width: calc(100% - 32px) !important;
      margin: auto !important;
      margin-top: 35px !important;
      padding: 24px 16px 61px 16px !important;
      .login_back {
        height: 15.17px !important;
        width: 15.58px !important;
        left: 5px !important;
        top: -3px !important;
      }
      .login_otp_title1 {
        font-size: 18px !important;
        line-height: 23px !important;
        padding-bottom: 0 !important;
      }
      .login_otp_title2 {
        margin-top: 42px !important;
        font-size: 15px !important;
        line-height: 19px !important;
        padding-bottom: 0 !important;
      }
      .login_otp_title3 {
        font-size: 15px !important;
        line-height: 19px !important;
        padding-bottom: 0 !important;
        margin-bottom: 10px;
      }
      .login_otp_numbers {
        margin-top: 43px !important;
        padding-bottom: 45px !important;
        .login_otp_number1,
        .login_otp_number2,
        .login_otp_number3,
        .login_otp_number4,
        .login_otp_number5,
        .login_otp_number6 {
          height: $number_height_mobile !important;
          width: $number_width_mobile !important;
        }
      }
      .login_otp_error {
        font-size: 16px !important;
        line-height: 20px !important;
      }
    }
  }
}
