.login-page-wrapper {
  padding-top: 40px;
  padding-bottom: 54px;

  .login-page-container-theme1 {
    width: 560px;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 122px 56px 121px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .login-page-title {
      font-style: normal;
      font-weight: 700;
      font-size: 52px;
      line-height: 63px;
      padding-bottom: 74px;
    }

    .login-page-input {
      margin-bottom: 40px;
      padding: 12px 16px;
      border-radius: 12px;
      border: 1px solid #6d6d6d;
      background-color: rgba(255, 255, 255, 0.7);

      &:hover {
        box-shadow: initial !important;
        border: 1px solid #6d6d6d !important;
      }
    }

    .login-page-btn {
      height: 60px;
      color: #fff;
      border-radius: 12px;
      padding: 10px;
      border: none;
      outline: none;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      span {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

/*Mobile*/
@media (max-width: 740px) {
  .login-page-wrapper {
    .login-page-container-theme1 {
      width: calc(100% - 32px);
      padding: 56px 16px 60px;
      margin: 35px auto;

      .login-page-title {
        font-size: 40px;
        line-height: 49px;
        padding-bottom: 40px;
      }

      .login-page-input {
        margin-bottom: 30px;
      }

      .login-page-btn {
        margin-bottom: 29px;
        padding: 10px;
      }
    }
  }
}

/*Login page*/
.login-title {
  
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #282828;
  margin-top: 21px;
}
