.delivery-address-selector-default-hide {
  display: none !important;
}

.delivery-address-selector {
  .delivery-address-header-box {
    display: flex;
    align-items: center;
    width: 100%;
    background: #263238;
    height: 64px;
    color: #ffffff;
    .middle-box {
      margin: auto;
      display: flex;
    }
  }

  .delivery-address-button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    height: 44px;
    padding-left: 19px;
    padding-right: 16px;
    border-radius: 100px;
    display: flex;
    span {
      margin: auto 0;
      padding-left: 13px;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .delivery-address-button-bg {
    background: #026f30;
    display: flex;
    svg {
      margin: auto;
    }
  }

  .receiver-address-select-button {
    display: flex;
    svg {
      margin: auto;
    }
  }
  .store-branch-address-select-button {
    margin-left: 20px;
  }
}

.modal-delivery-address-selector {
  .ant-modal-content {
    border-radius: 36px;
    width: 100%;
    padding: 0;
    .ant-modal-header {
      .ant-modal-title {
        .header-container {
          background-color: #273b4a;
          position: absolute;
          display: flex;
          align-items: center;
          top: -34px;
          left: 23.3%;
          height: 68px;
          width: 491px;
          max-width: 491px;
          border-radius: 12px 12px 0px 0px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 16px;
          z-index: 9999;
          .header-left {
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 16px;
            width: 247px;
            justify-content: center;
            cursor: pointer;
          }
          .header-right {
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 16px;
            justify-content: center;
            width: 247px;
            cursor: pointer;
          }
          .header-text {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
          }
        }
      }
    }
    .ant-modal-body {
      padding: 0;
      padding-bottom: 19px;
      position: relative;
      .body-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .body-container {
        margin: auto;
        padding-top: 70px;
        .delivery-select-address-input {
          box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
          border-radius: 12px;
          width: 100%;
          height: 80px;
          margin-bottom: 10px;
        }

        div {
          width: 93%;
        }
        .delivery-address-popover {
          max-width: 93%;
          .address-popover-item {
            width: 100%;
          }
        }
      }
    }
  }
}

.address-detail-popover-content {
  margin-top: 9px;
  width: 421px;
  height: 200px;

  .address-detail {
    cursor: pointer;
  }

  .top-content,
  .bottom-content {
    width: 100%;
    height: 50%;
    display: flex;
  }
  .top-content {
    .left-box {
      width: 62px;
      display: flex;
      justify-content: center;
      .img-box {
        margin-top: 34px;
      }
    }
    .middle-box {
      width: 313px;
      padding-top: 24px;
      .text-delivery-to {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }
      .text-delivery-address {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
      }
    }
    .right-box {
      display: flex;
      justify-content: center;
      .icon {
        padding-top: 48px;
      }
    }
  }
  .bottom-content {
    .left-box {
      width: 62px;
      display: flex;
      justify-content: center;
      .img-box {
        margin-top: 20px;
      }
    }
    .middle-box {
      width: 313px;
      padding-top: 12px;
      .text-delivery-to {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }
      .text-delivery-address {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
      }
    }
    .right-box {
      display: flex;
      justify-content: center;
      .icon {
        padding-top: 36px;
      }
    }
  }
}

.shopping-cart-warning-dialog {
  .btn-shopping-cart-warning-continue {
    cursor: pointer;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  .ant-modal-content .ant-modal-footer {
    padding-bottom: 39px;
  }

  .shopping-cart-warning-content {
    padding-top: 30px;
    .text {
      padding: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      text-align: center;

      color: #000000;
      p {
        padding-top: 15px;
      }
    }

    .branch-name {
      font-weight: bolder;
    }
  }
}

@media screen and (max-width: 575px) {
  .modal-delivery-address-selector .ant-modal-content {
    .ant-modal-header .ant-modal-title .header-container {
      width: 70vw;
      max-width: 80vw;
      left: 10vw;
      right: 10vw;
      height: 48px;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      .header-left {
        .header-text {
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      .header-right {
        .header-text {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .ant-modal-body {
      .header-container {
        left: 27%;
      }
    }
  }
  .theme1-original-header {
    height: auto;
    .header-theme1-new {
      height: auto;
    }
  }

  .store-branch-address-selector {
    .ant-modal-header {
      height: 48px;
      .ant-modal-title {
        height: 48px;
        border-radius: 16px;
        padding: 8px;
        left: 0%;
        position: relative;
        top: -30px;
        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          margin-left: 10px;
        }

        svg {
          width: 36px;
          height: 36px;
        }
      }
    }

    .ant-modal-body {
      padding-top: 0px;
    }

    .ant-modal-content {
      border-radius: 24px;
    }
  }

  .modal-delivery-address-selector .ant-modal-content {
    min-height: 114px;
    border-radius: 24px;
  }

  .delivery-address-selector {
    display: flex;
  }

  .delivery-address-selector .store-branch-address-select-button {
    margin-left: 10px;
  }

  .delivery-address-selector .delivery-address-header-box {
    height: 56px;
  }

  .delivery-address-selector .delivery-address-button {
    border-radius: 100px;
    height: 32px;
    padding: 8px 8px 8px 8px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    max-width: 218px;
  }

  .delivery-address-selector .delivery-address-button span {
    padding-left: 5px;
  }

  .delivery-address-selector .delivery-address-button {
    svg {
      width: 15px;
      height: 17px;
      padding-bottom: 1px;
    }
  }

  .modal-delivery-address-selector .ant-modal-content .ant-modal-body .header-container {
    top: -25px;
    width: 251px;
    height: 48px;
    border-radius: 16px;
    .header-text {
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
    }

    svg {
      width: 36px;
    }
  }

  .modal-delivery-address-selector .ant-modal-content .ant-modal-body .body-container {
    padding-top: 40px;
  }

  .modal-delivery-address-selector .ant-modal-content .ant-modal-body .body-container .delivery-select-address-input {
    margin: auto;
    height: 56px;
  }

  .fnb-input-customize .ant-input:placeholder-shown {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}
