#themeBestSellingProduct {

//Mobile
.title-best-selling-product-list {
    font-size: 24px;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 24px;
    text-align: center;
}

.product-list-theme-1 {
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 0px;

    .swiper-slide {
        width: 160px !important;
        scale: 1;
    }

    .swiper-slide-active,
    .swiper-slide-next,
    .swiper-slide-prev {
        padding-top: 0;
        scale: 1;
    }

    .product-card {
        height: 237px;

        .product-name {
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 15px;
            line-height: 19px;
            margin: 10px 0;
        }

        .product-price {
            font-size: 15px;
            line-height: 19px;
        }

        .best-selling-theme1 {
            text-align: center;

            .product-name {
                color: #000;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0.3px;
            }

            .product-price {
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.3px;
            }
        }


    }

    .product-card-bestselling-theme1 {
        .product-image-cover {
            width: 160px;
            height: 160px;

            .product-image {
                border-radius: 12px;
                width: 160px;
                height: 160px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% 100%;

                .flash-sale {
                    width: 116px !important;
                    height: 20px !important;
                    padding-top: 1px;

                    .flash-sale-logo {
                        width: 82px !important;
                        height: 17px !important;
                        margin-left: 0px !important;
                        margin-top: 2px !important;
                    }
                }

                .promotion-label {
                    transform: none;
                    left: inherit;
                    border-radius: 8px;
                    background: #FF5206;
                    top: 8px;
                    right: 8px;
                    padding: 0px 8px;
                    width: auto;

                    span {
                        margin-left: 0px;
                        width: 100%;
                        
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }

    .flash-sale-border {
        border: 4px solid #ff5406;
    }
}

.theme-best-selling-product-theme1 {
    padding-bottom: 16px;
}

// Tablet & Desktop
@media screen and (min-width: 576px) {

    .title-best-selling-product-list {
        
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 76px;
        letter-spacing: 0.3px;
        text-align: center;
        padding-top: 80px;
    }

    .product-list-theme-1 {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 190px;

        .swiper-slide {
            width: 320px !important;
            border-radius: 48px;

            &:hover {
                scale: 1.3;
                z-index: 999;
                position: relative;
                left: 0.8%;
            }

            &:hover .product-image-cover .product-image {
                filter: brightness(50%); /* Giảm độ sáng xuống 50% để làm tối ảnh */
            }

            .product-card {
                .best-selling-theme1 {
                    border-bottom-right-radius: 48px;
                    border-bottom-left-radius: 48px;
                }

                &:hover {
                    border: 1px solid #ccc;
                }
            }
        }

        .product-card {
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 252px;
            height: 377px;
            position: relative;
            border-radius: 48px;
            background-color: #FBFBFB;

            .product-name {
                
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 28px;
                color: #000;
                max-width: 252px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-align: center;
                margin: 10px 0px 16px 0px;
                min-height: 50px;
                padding-top: 4px;
            }

            .product-price {
                
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                letter-spacing: 0.3px;
                text-align: center;

                .discount-price {
                    text-decoration: line-through;
                    color: #898a8d;
                    margin-left: 8px;
                }
            }

    .product-image-cover {
        width: 252px;
        height: 247px;
        border-radius: 48px;

                .product-image {
                    width: 252px;
                    height: 247px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    border-radius: 48px;
                    filter: brightness(100%);
                    transition: filter 0.3s;
                    .flash-sale {
                        width: 222px !important;
                        height: 48px !important;

                        .flash-sale-logo {
                            width: 100% !important;
                            height: 100% !important;
                        }
                    }

                    .fnb-display-image {
                        .display-image {
                            border-radius: 48px;
                            overflow: hidden;
                        }

                        .promotion-label {
                            transform: none;
                            left: inherit;
                            border-radius: 8px;
                            background: #FF5206;
                            top: 20px;
                            right: 16px;
                            padding: 0px 8px;
                            width: auto;

                            span {
                                margin-left: 0px;
                                width: 100%;
                                color: #FFF;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }
                }
            }

            .best-selling-theme1 {
                height: calc(100% - 247px);
                background-color: #FBFBFB;
                width: 100%;
            }

    &:hover .btn-order-now {
        bottom: 55%;
        opacity: 1;
        transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
        background-color: rgba(247, 147, 30, 0.8);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }

    .btn-order-now {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        padding: 20px 27px;
        border: none;
        border-radius: 15px;
        text-decoration: none;
        transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 0;
        cursor: pointer;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: rgba(247, 147, 30, 0.70);
        width: 168px;

                span {
                    width: 114px;
                    height: 30px;
                }

        &:hover {
        background: #F7931E;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        }
    }

            .flash-sale-discount {
                right: 25px;
            }
        }

        .horizontalImg {
            background-size: auto 100%;
        }

        .verticalImg {
            background-size: 100% auto;
        }

        .fitSizeImg {
            background-size: 100% 100%;
        }

        .flash-sale-border {
            border: 5px solid #ff5406;
            border-radius: 14px;
        }
    }

    .theme-best-selling-product-theme1 {
        margin-bottom: 0px;
    }
}

// Only tablet

@media screen and (min-width: 576px) and (max-width: 1199px) {
    .product-list-theme-1 {

    .product-card,
    .swiper-slide {
    width: 182px !important;
    height: 265px;
    border-radius: 16px;
    background-color: #FBFBFB;

            &:hover {
                scale: 1.0;
                border: none;
                left: 0px;
                transform: none;
                transition: none;
            }

            &:hover .product-image-cover .product-image {
                filter: brightness(100%);
            }

            .fnb-display-image {
        .display-image {}
            }
        }

    .product-card-bestselling-theme1,  .product-card {
            width: 182px;
            height: 178px;
            .product-image-cover {
                width: 182px;
                height: 178px;
                .product-image {
                    width: 100%;
                    height: 180px;
                    border-radius: 16px;

                    .flash-sale {
                        width: 160px !important;
                        height: 36px !important;

                        .flash-sale-logo {
                            width: 120px !important;
                            height: 24px !important;
                            margin-left: -10px !important;
                        }
                    }

                    .fnb-display-image {
                        .display-image {
                            border-radius: 16px;
                            height: 178px;
                        }
                        width: 182px;
                        height: 178px;
                    }
                }
            }

            .best-selling-theme1 {
                border-bottom-left-radius: 16px !important;
                border-bottom-right-radius: 16px !important;
                height: auto;

                .product-name {
                    margin-bottom: 0px;
                }

                .product-price {
                    padding-bottom: 12px;
                    font-size: 18px;
                }
            }
        }
    }
}
}