.ant-popover-content {
  height: 88px;
  .ant-popover-inner {
    .ant-popover-inner-content {
      .login_content_theme1-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        .login_content_theme1 {
          display: flex;
          .icon {
            position: relative;
            cursor: pointer;
          }
          .title {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            align-items: center;
            text-align: center;
            color: #000000;
            cursor: pointer;
            padding-left: 10px;
            padding-right: 5px;
          }
          &__icon-reservation {
            margin-left: 2px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .ant-popover-content {
    height: 56px !important;
    width: 100vw !important;
    margin-left: -16px !important;
    margin-top: -28px !important;
  }
}
