.checkout-taxes-theme1 {
  width: fit-content;
  .title {
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    user-select: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
  }
  .taxList {
    margin-top: 10px;
    .taxItem {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .vat {
        
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        user-select: none;
        min-width: 100px;
      }
      .amount {
        
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        user-select: none;
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .checkout-taxes-theme1 {
    .title {
      font-size: 16px;
      line-height: 20px;
    }
    .taxList {
      .taxItem {
        .vat {
          font-size: 16px;
          line-height: 20px;
        }
        .amount {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}
