.checkout-discount-popover {
  min-width: 379px;
  max-width: 95%;

  .ant-popover-content {
    .ant-popover-inner {
      padding: 16px 24px;
      .ant-popover-inner-content {
        .checkout-discounts-theme1 {
          display: grid;
          gap: 16px;
          .title {
            
            font-style: normal;
            font-weight: 700;
            font-size: 18px !important;
            line-height: 22.68px;
            color: #000000 !important;
            user-select: none;
            padding-bottom: 8px;
            border-bottom: 2px dotted #eeeeee;
          }
          .customerDiscount {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            .detail {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              .name {
                
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22.68px;
                color: #000000;
                user-select: none;
                min-width: 100px;
                max-width: 200px;
                height: fit-content;
                padding-top: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .customerDiscountAmount {
                
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22.68px;
                color: #000000;
                user-select: none;
                margin-left: 20px;
                padding-top: 4px;
              }
            }
          }

          .discountList {
            .discountItem {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              margin-top: 6px;
              .name {
                
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                color: #000000;
                user-select: none;
                min-width: 100px;
                max-width: 55%;
                height: fit-content;
              }
              .amount {
                
                font-style: normal;
                font-weight: 500 !important;
                font-size: 18px !important;
                line-height: 30px;
                color: #000000;
                user-select: none;
                margin-left: 20px;
              }
            }
          }
          .loyaltyPointItem {
            .title-text {
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 23px;
              color: #000000;
              margin-bottom: 0;
            }
            .line {
              margin-top: 8px;
              margin-bottom: 6px;
              border-bottom: 2px dotted #eeeeee;
            }
            .loyaltyPointDetail {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              .text-name {
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                color: #282828;
                .text-point {
                  color: #feab41;
                  padding-right: 4px;
                  padding-left: 4px;
                }
              }
              .text-amount {
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                color: #282828;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .checkout-discount-popover {
    top: 180px !important;
    left: auto !important;
    margin-left: 10px;
    margin-right: 10px;
    .ant-popover-content {
      .ant-popover-inner {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
