.check-out-momo-theme1 {
  margin: auto;
  border-radius: 20px;
  .ant-modal-content {
    align-items: center;
    text-align: center;
    background-image: url("../../../assets/images/checkout-cash-background.png");
    background-position: center;
    background-size: 105% 105%;
    background-repeat: no-repeat;
    border-radius: 20px;
    .check-out-momo-title1 {
      
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      align-items: center;
      text-align: center;
      color: #026f30;
    }
    .check-out-momo-title2 {
      
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      align-items: center;
      text-align: center;
      color: #000000;
      margin-top: 40px;
    }
    .ant-modal-footer {
      border-top: 0 none !important;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .ant-btn-default {
        all: unset !important;
        
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 10px !important;
        text-align: center !important;
        color: #ffffff !important;
        cursor: pointer !important;
        margin-top: -10px;
      }
      .ant-btn-primary {
        all: unset !important;
        
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 14px !important;
        line-height: 10px !important;
        text-align: center !important;
        color: #ffffff !important;
        cursor: pointer !important;
        margin-top: -10px;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .check-out-momo-theme1 {
    margin: auto;
    width: 100%;
    .ant-modal-content .ant-modal-footer {
      position: relative;
      top: 4px;
    }
  }
}

@media (max-width: 390px) {
  .check-out-momo-theme1 .ant-modal-content .ant-modal-footer {
    position: relative;
    top: 16px;
    .ant-btn-default, .ant-btn-primary {
      line-height: 16px !important;
    }
  }
}
