$quantity_margin: 12px;
.product_cart_theme1 {
  background: #ffffff;
  border-top: 1px solid #eaeeef;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  .box_info {
    height: 180px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    .box_product_info {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .product_image {
        min-width: 132px;
        width: 132px;
        height: 132px;
        padding: 0px;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: hidden;
        &:hover {
          cursor: pointer;
        }
        .discount {
          
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0.3px;
          color: #ffffff;
          position: relative;
          top: -5px;
          left: -42px;
          width: 153.9px;
          height: 25.71px;
          background: #e91717;
          text-align: center;
          overflow: hidden;
          transform: rotate(-25deg);
        }
      }
      .product_info {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding-left: 0px;
        max-width: 467px;
        margin-left: 30px;
        div {
          margin-bottom: 10px;
        }
        .name {
          
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 40px;
          color: #000000;
          user-select: none;
          overflow: hidden;
          &:hover {
            cursor: pointer;
          }
        }
        .description {
          
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          color: #b2b2b2;
          user-select: none;
        }
        .price_box {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          .priceWithDiscount {
            
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #000000;
            user-select: none;
          }
          .price {
            
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: #b2b2b2;
            text-decoration: line-through;
            margin-left: 50px;
            margin-top: 8px;
            user-select: none;
          }
        }
      }
      .flash-sale-border {
        background-image: url("../../../assets/images/flash-sale-background.png");
      }
    }
    .box_quantity {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      align-self: flex-end;
      .change-quantity-group {
        display: flex;
        .quantity {
          min-width: 100px;
          align-items: center;
          display: grid;
        }
      }
      .down {
        width: 52px;
        height: 52px;
        background: #e1e1e1;
        border-radius: 8px;
        cursor: pointer;
        margin-left: $quantity_margin;
        user-select: none;
        display: flex;
        span {
          margin: auto;
          font-size: 40px;
          color: #fff;
          margin-top: -5px;
        }
      }
      .quantity {
        
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        align-items: center;
        letter-spacing: 0.3px;
        width: 25px;
        text-align: center;
        user-select: none;
        .item-quantity-background {
          .ant-badge-count {
            background-color: #fff;
            color: #282828;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
      .up {
        width: 52px;
        height: 52px;
        background: #026f30;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        display: flex;
        span {
          margin: auto;
          font-size: 40px;
          color: #fff;
          margin-top: -5px;
        }
      }
      .delete {
        width: 27.5px;
        height: 32.5px;
        margin-left: 34px;
        cursor: pointer;
      }
      .image_show_combo {
        margin-left: $quantity_margin;
      }
      .no_content {
        margin-left: 2 * $quantity_margin;
      }
    }
  }
  .out-of-stock {
    .box_product_info .product_info .price_box .priceWithDiscount {
      color: #9f9f9f;
    }
    .box_quantity .up {
      background: #80b797;
      cursor: not-allowed;
    }
  }
  .box_combo {
    background: #f5f5f5;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    .box_combo_item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      margin-top: 24px;
      padding-bottom: 20px;
      border-bottom: 2px dashed #c1c1c1;
      margin-left: 20px;
      margin-right: 20px;
      height: 140px;
      .product_image {
        width: 92px;
        height: 92px;
        border-radius: 10px;
      }
      .box_product {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 20px;
        .product_name {
          
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 30px;
          align-items: center;
          color: #000000;
          margin-left: 48px;
        }
        .product_options {
          
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          color: #9f9f9f;
          margin-left: 48px;
        }
      }
    }
    .box_combo_item:last-child {
      border-bottom: 0 !important;
    }
  }
  .shopping-cart-note {
    margin-top: 16px;
    margin-bottom: 16px;
    .ant-input {
      background: transparent;
      padding: 26.5px !important;
    }
    .input {
      width: 980px;
      height: 80px;
      background-color: #f5f5f5;
      border-radius: 20px;
      
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      display: flex;
      align-items: center;
      letter-spacing: 0.3px;
      color: #000000;
      outline: none;
    }
  }

  .cartMessage {
    background-color: #f9f9f9;
    border-radius: 20px;
    width: 100%;
    min-height: 44px;

    
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #282828;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;

    .messageIcon {
      margin: 13px 10.5px 12px 12px;
      width: 27px;
      height: 27px;
    }

    .messageNote {
      margin: 13px 8px 10px 0px;
      font-size: 20px;
    }
  }
}

.modal-product-cart-detail .ant-modal-content {
  .ant-modal-close {
    min-width: 32px;
    min-height: 32px;
    right: 24px;
    top: 24px;
    .ant-modal-close-x {
      .ant-modal-close-icon {
        font-size: 32px;
        color: #000000;
        font-weight: 700;
      }
    }
  }
}

.product_cart_theme1:first-child {
  border-top: 0 !important;
}

.modal-product-cart-detail {
  .ant-modal-content {
    border-radius: 16px;
    .close-branch-theme-1 {
      padding: 0 30px;
    }
  }
}

.modal-checkout-cart-detail {
  .ant-modal-content {
    padding: 0;
    height: 80vh;
    overflow: auto;
    border-radius: 16px;

    .ant-modal-close {
      min-width: 32px;
      min-height: 32px;
      right: 24px;
      top: 24px;
      .ant-modal-close-x {
        .ant-modal-close-icon {
          font-size: 32px;
          color: #000000;
          font-weight: 700;
        }
      }
    }

    .close-branch-theme-1 {
      padding: 0 30px;
    }
  }
}

@media screen and (max-width: 639px) {
  .product_cart_theme1 {
    height: fit-content !important;
    padding-bottom: 10px !important;
    .box_info {
      width: 100%;
      height: fit-content !important;
      flex-flow: column nowrap !important;
      justify-content: space-between !important;
      align-items: unset !important;
      .box_product_info {
        .product_image {
          min-width: 72px;
          width: 72px;
          height: 72px;
          padding: 0px;
          .discount {
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            width: 100px;
            height: 14.83px;
            left: -35px !important;
            top: -6px !important;
          }
        }
        .product_info {
          margin-top: 10px;
          margin-left: 16px;
          div {
            margin-bottom: 5px;
          }
          .name {
            font-size: 16px;
            line-height: 20px;
          }
          .description {
            font-size: 16px;
            line-height: 20px;
          }
          .price_box {
            .priceWithDiscount {
              font-size: 16px;
              line-height: 20px;
            }
            .price {
              margin-top: unset !important;
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
      .box_quantity {
        margin-bottom: 10px;

        .change-quantity-group {
          display: flex;
        }
        .down {
          width: 36px;
          height: 36px;
          display: flex;
          span {
            color: #fff;
            margin: auto;
            font-size: 25px;
            padding-bottom: 5px;
          }
        }
        .quantity {
          font-size: 16px;
          line-height: 20px;
          margin-left: 28px;
          margin: auto 0;
          min-width: 70px;
        }
        .up {
          width: 36px;
          height: 36px;
          display: flex;
          span {
            color: #fff;
            margin: auto;
            font-size: 25px;
            padding-bottom: 5px;
          }
        }
        .delete {
          width: 24.75px;
          height: 29.25px;
        }
      }
    }
    .box_combo {
      margin-top: 20px;
      .box_combo_item {
        .box_product {
          .product_name {
            font-size: 16px;
            line-height: 20px;
          }
          .product_options {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .product_cart_theme1 .box_info .box_quantity {
    justify-content: start;
  }
}
