$momo_background: url("../../../assets/images/checkout-momo-background.png");
.check-out-momo-success-theme1 {
  margin: auto;
  width: 1415px !important;
  .ant-modal-content {
    background-image: $momo_background;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1415px !important;
    height: 806px;
    border-radius: 40px;
    margin: auto;
    .ant-modal-close {
      color: white;
      .ant-modal-close-x {
        font-size: 24px;
      }
    }
    .check-out-success-box {
      background: #ffffff;
      border-radius: 20px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 533px;
      height: 731px;
      align-items: center;
      margin-top: 24px;
      margin-left: 24px;
      .checkoutSuccess {
        width: 150px;
        height: 150px;
        margin-top: 94px;
        object-fit: contain !important;
      }
      .title1 {
        
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        align-items: center;
        text-align: center;
        color: #026f30;
        margin-top: 71px;
        user-select: none;
      }
      .title2 {
        
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        align-items: center;
        text-align: center;
        color: #000000;
        margin-top: 10px;
        user-select: none;
      }
      .view_detail {
        
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.3px;
        color: #ffffff;
        cursor: pointer;
        background: #026f30;
        border-radius: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 193px;
      }
      .new_order {
        
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.3px;
        color: #000000;
        cursor: pointer;
        margin-top: 28px;
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .check-out-momo-success-theme1 {
    .ant-modal-content {
      background: 0 !important;
      width: 100% !important;
    }
    .ant-modal-close {
      display: none;
    }
    .check-out-success-box {
      width: 100% !important;
      height: 100% !important;
      padding: 0 !important;
      margin-top: 10px !important;
      margin-left: 0 !important;
    }
  }
}
