.edit-product-cart-detail-container {
  * {
    font-family: inherit;
  }
  .product-detail-content {
    background: #ffffff;
    border-radius: 16px;
    padding: 0px;
    margin: 0 auto;
    .product-detail-content-left {
      padding-right: 16px;
      .product-detail-image {
        .product-detail-image-swiper {
          .slide-image {
            border: none;
          }
        }
      }
    }
    .product-detail-content-right {
      padding-left: 16px;
      .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        align-items: center;
      }
    }
    .product-detail-title {
      color: #026f30;

      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-bottom: 16px;
    }
    .product-price {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.3px;
      display: flex;
    }
    .product-original-price {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3px;
      text-decoration-line: line-through;
      color: #b2b2b2;
      margin-left: 16px;
    }
    .product-price-name {
      font-size: 20px;
      line-height: 25px;
      margin: auto;
      letter-spacing: 0.3px;
      color: #b2b2b2;
    }
    .modify-quantity {
      margin-left: 26px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: end;
      align-items: center;
      background: #026f30;
      border-radius: 8px;
      height: 40px;
      padding: 2px;
      .btn-reduce {
        width: 40px;
        height: 40px;
        min-width: unset !important;
        border-radius: 8px;
        float: right;
        border: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 36px;
          height: 36px;
        }
      }
      .btn-increase {
        width: 40px;
        height: 40px;
        min-width: unset !important;
        border-radius: 8px;
        float: right;
        border: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 36px;
          height: 36px;
        }
      }
      .quantity-product {
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
        align-items: center;
        width: 40px;
        justify-content: center;
        height: 52px;
        float: right;
        display: flex;
        justify-self: center;
      }
    }
    .quantity-responsive .modify-quantity-for-responsive {
      margin-left: 26px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: end;
      align-items: center;
      background: #026f30;
      border-radius: 8px;
      height: 40px;
      .btn-reduce {
        width: 40px;
        height: 40px;
        min-width: unset !important;
        border-radius: 8px;
        float: right;
        border: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 36px;
          height: 36px;
        }
      }
      .btn-increase {
        width: 40px;
        height: 40px;
        min-width: unset !important;
        border-radius: 8px;
        float: right;
        border: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 36px;
          height: 36px;
        }
      }
      .quantity-product {
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
        align-items: center;
        width: 40px;
        justify-content: center;
        height: 52px;
        float: right;
        display: flex;
        justify-self: center;
      }
    }
    .note {
      display: flex;
      margin-top: 24px;
      .product-detail-input {
        min-height: 60px;
        border-radius: 16px;
        color: #b2b2b2;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3px;
        padding: 18px 0px 18px 50px;
        border-radius: 12px;
        border: 1px solid #6d6d6d;
      }
      .note-icon-theme1 {
        width: 56px;
        position: relative;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: #f9f9f9;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        border: none;
        border-right: none;
        .note-icon {
          position: relative;
          width: 24px;
          height: 24px;
        }
        .border {
          height: 100%;
          width: 20px;
          position: absolute;
          right: -12px;
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
          background-color: #f9f9f9;
        }
      }
      .input-text-area-theme1 {
        flex: 1;
        .product-detail-input {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border: none;
          border-left: none;
          padding-left: 12px;
          background: #f9f9f9;
        }
        box-shadow: none;
      }
    }
    .btn-product-detail {
      width: 100%;
      height: 80px;
      border-radius: 16px;
    }
    .out-of-stock {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      background: #263238 !important;
      border: none;
      margin-top: 32px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn-submit {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      background: #026f30;
      border: 0px;
      margin-top: 32px;
    }
    .btn-add-to-cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn-add-to-cart-original-price {
        text-decoration: line-through;
        font-weight: 400;
        font-size: 20px;
        text-align: left;
      }
    }
    .btn-favorite-product {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
      background: #ffffff;
      border: 1px solid #969696;
      margin-top: 16px;
      margin-bottom: 32px;
    }
    .product-detail-image {
      max-width: 100% !important;
      margin-bottom: 32px;
      .promotional-product {
        display: flex;
        position: absolute;
        width: 350px;
        height: 72px;
        left: -30px;
        top: 0px;
        background: #e91717;
        transform: rotate(-25deg);
        z-index: 1;
        align-items: center;
        span {
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          letter-spacing: 0.3px;
          text-align: center;
          color: #ffffff;
          align-items: center;
          padding-left: 70px;
        }
      }
    }
    .product-rate {
      display: grid;
      width: fit-content;
      grid-template-columns: auto auto auto auto;
      gap: 8px;
      align-items: center;
      .ant-rate-star {
        display: flex;
        .ant-rate-star-second {
          span {
            display: flex;
          }
        }
      }
      .rate-number {
        color: #494949;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
      }
      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3px;
      }
    }
    .product-detail-rate {
      font-size: 24px;
      color: #dc710e;
      vertical-align: bottom;
    }
    .total-review {
      color: #494949;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.3px;
    }
    .description-title {
      color: #494949;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.3px;
      margin-top: 16px;
      margin-bottom: 8px;
    }
    .description-content {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #494949;
    }
    .options {
      .combo-data-collapse-custom {
        border: none;
        .ant-collapse-item {
          margin-top: 24px;
          border-bottom: 0px;
          .ant-collapse-header {
            border: none;
            border-radius: 8px;
            background: #263238;
            height: 55px;
            .ant-collapse-header-text {
              width: 80%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: #fff;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.3px;
              span {
                color: #fff;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.3px;
              }
            }
          }
          .ant-collapse-content {
            border-top: 0px;
          }
          .caret-down-out {
            display: flex;
            height: 51px;
            padding: 12px 12px 12px 16px;
            justify-content: center;
            align-items: center;
            margin-right: -14px;
            gap: 8px;
            border-radius: 8px;
            background: #263238;
            span {
              color: #fff;

              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 0.3px;
            }
          }
          .caret-up-out {
            display: flex;
            height: 51px;
            padding: 12px 12px 12px 16px;
            justify-content: center;
            align-items: center;
            margin-right: -14px;
            gap: 8px;
            border-radius: 8px;
            background: #f9f9f9;
            span {
              color: #424242;

              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 0.3px;
            }
          }
        }
        .ant-collapse-item-active {
          .ant-collapse-header {
            border: none;
            border-radius: 8px;
            background: #f2f2f2;
            height: 55px;
            .ant-collapse-header-text {
              width: 80%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: #000;

              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.3px;
              span {
                color: #000;

                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.3px;
              }
            }
          }
        }
      }
      .product-price-header {
        border-radius: 15px;
      }
      .product-price-collapse {
        border: none;
        margin-bottom: 25px;
      }
      .product-price-collapse:last-child {
        margin-bottom: 0px;
      }
      .group {
        display: grid;
        gap: 16px;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 16px;
      }
      .product-detail-collapse {
        border-radius: 15px;
        display: grid;
        gap: 24px;
        .selection {
          // display: grid;
          // grid-template-columns: 1fr;

          gap: 16px;
          align-items: center;
          .header {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.3px;
          }
        }
        .ant-collapse-header-text {
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: #6a6a6a;
        }
        .ant-collapse-header {
          min-height: 66px;
          height: 100%;
          background: #f3f3f3;
        }
        .ant-collapse-item:last-child {
          border-radius: 0 0 15px 15px;
          .ant-collapse-content {
            border-radius: 0 0 15px 15px;
          }
        }
      }
      .ant-radio-button-wrapper:not(:first-child)::before {
        background: none;
      }
      .radio-option {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        align-items: center;
        width: auto;
        background: #fff;
        letter-spacing: 0.3px;
        display: flex;
        min-height: 82px;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid #f9f9f9;
        background: #f9f9f9;
        .radio-option-price {
          margin-bottom: 0px !important;
          padding-top: 10px;
        }
      }
      .ant-radio-button-wrapper-checked {
        align-items: center;
        display: flex;
        width: auto;
        background: #fff;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 2px;
        border: 1px solid #026f30;
        color: #000 !important;
        background-color: rgb(247, 147, 30) !important;
        .ant-radio-button-checked {
          border-radius: 12px 60px 12px 12px;
        }
      }
    }

    .options .ant-collapse-content-box > .ant-radio-group.ant-radio-group-outline.ant-radio-group-large {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
    }

    .options .ant-collapse-content-box {
      padding: 32px 16px !important;
    }
    .topping > .ant-collapse-content > .ant-collapse-content-box {
      padding: 0px !important;
    }
  }
  .similar-product {
    .similar-product-title {
      margin-top: 124px;
      margin-bottom: 124px;
      text-align: center;
      font-weight: 700;
      font-size: 60px;
      line-height: 76px;
      color: #026f30;
    }
  }
  .review-content {
    border: 1px solid #d9d9d9;
    border-radius: 16px !important;
    margin-top: 32px !important;
    .ant-card-head-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
    .ant-card-head {
      border-bottom: 1px solid #d9d9d9;
    }
    .review-icon {
      margin: auto;
    }
    .review-text {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin-top: 10px;
    }
    .ant-card-body {
      text-align: center;
    }
  }
}
.choose-options-header {
  display: none;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.popup-choose-options {
  display: block;
}
.btn-hide-show-popup-when-mobile {
  display: none;
}
@media (max-width: 1200px) {
  .mobile-display-none {
    display: none !important;
  }
  .edit-product-cart-detail-container {
    padding: 16px;
    .product-detail-content {
      #popup-choose-options {
        .quantity-responsive {
          display: flex;
          justify-content: space-between;
        }
        .modify-quantity {
          display: none;
        }
      }
      padding: 16px;
      .product-detail-content-left {
        padding-right: 0px;
      }
      .product-detail-content-right {
        padding-left: 0px;
      }

      .product-detail-title {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
        margin-right: 24px;
      }
      .product-price {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
      }
      .product-original-price {
        color: #b2b2b2;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.3px;
        text-decoration-line: strikethrough;
      }
      .product-price-name {
        font-size: 13px;
        line-height: 16px;
      }
      .modify-quantity {
        .quantity-product {
          padding: 0px 20px;
        }
      }
      .button-background {
        position: fixed;
        z-index: 3;
        bottom: 0;
        left: 0;
        background: #fff;
        height: 160px;
        width: 100%;
      }
      .quantity-responsive {
        padding: 0px 24px;
        padding-bottom: 12px;
        margin-top: 12px;
        bottom: 102px;
        width: 100%;
        position: fixed;
        z-index: 4;
        left: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        border: 0px;
        border-radius: 0px;
        height: 46px;
        background-color: white;
        align-items: center;
        .text-quanity {
          color: #000;

          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 133.333% */
          letter-spacing: 0.3px;
        }
        .modify-quantity-for-responsive {
          padding-right: 8px;
          padding-left: 8px;
          display: flex;
          width: fit-content;
          padding: 2px;
          justify-content: center;
          align-items: center;
          height: 40px;
          .quantity-product {
            width: 50px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.3px;
            align-items: center;
            height: 40px;
            float: right;
          }
          .btn-reduce {
            .ant-btn-icon {
              svg {
                width: 36px;
                height: 36px;
              }
            }
            width: 36px;
            height: 36px;
          }
          .btn-increase {
            .ant-btn-icon {
              svg {
                width: 36px;
                height: 36px;
              }
            }
            width: 36px;
            height: 36px;
          }
        }
      }
      .note {
        margin-top: 24px;
        .product-detail-input {
          min-height: 48px;
          border-radius: 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          padding: 20px 0px 20px 40px;
        }
        .note-icon-theme1 {
          width: 48px;
          .note-icon {
            width: 24px;
            position: relative;
          }
        }
      }
      .btn-submit {
        width: calc(100% - 48px);
        position: fixed;
        margin: 24px;
        z-index: 4;
        bottom: 0;
        left: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        background: #026f30;
        border: 0px;
        margin-top: 32px;
        height: 80px;
        border-radius: 16px;
      }
      .btn-add-to-cart {
        .btn-add-to-cart-text {
          color: #fff;

          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.3px;
        }
        .btn-add-to-cart-price {
          color: #fff;

          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.3px;
        }
        .btn-add-to-cart-original-price {
          font-size: 14px;
        }
      }
      .btn-favorite-product {
        display: none;
      }
      .btn-hide-show-popup-when-mobile {
        display: block;
        position: fixed;
        z-index: 2;
        bottom: 0;
        left: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        background: #026f30;
        border: 0px;
        margin-top: 32px;
        border-radius: 0px;
        height: 57px;
      }
      .product-detail-image {
        margin-bottom: 16px !important;
      }
      .product-detail-rate {
        font-size: 16px;
        vertical-align: top;
      }
      .ant-rate-star {
        margin-right: 4px !important ;
      }
      .total-review {
        font-size: 16px;
        line-height: 20px;
        margin-left: 8px;
      }
      .description-title {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
        margin-top: 16px;
        margin-bottom: 8px;
      }
      .description-content {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3px;
      }
      .options {
        padding-bottom: 156px;
        margin-top: 12px;
        .ant-collapse-item.ant-collapse-item-active.product-price-header {
          > .ant-collapse-header {
            border-radius: 12px !important;
          }
          > .ant-collapse-content.ant-collapse-content-active {
            border-top: none;
          }
        }
        .ant-collapse-item.product-price-header {
          > .ant-collapse-header {
            border-radius: 12px !important;
          }
          > .ant-collapse-content.ant-collapse-content-active > .ant-collapse-content-box {
            padding: 16px 0px 0px 0px !important;
          }
          > .ant-collapse-content > .ant-collapse-content-box {
            padding: 16px 0px 0px 0px !important;
          }
        }
        .product-price-header {
          border-radius: 12px;
        }
        .product-price-collapse {
          margin-bottom: 16px;
        }
        .product-detail-collapse {
          border-radius: 8px;
          .ant-collapse-header-text {
            font-size: 16px;
            line-height: 20px;
          }
          .ant-collapse-header {
            height: 48px;
          }
          .ant-collapse-item:last-child {
            border-radius: 0 0 8px 8px;
            .ant-collapse-content {
              border-radius: 0 0 8px 8px;
            }
          }
          .selection {
            .group {
              margin-top: 12px;
            }
          }
        }
        .ant-radio-button-wrapper:not(:first-child)::before {
          background: none;
        }
        .topping > .ant-collapse-content > .ant-collapse-content-box {
          padding: 0px;
        }

        .radio-option {
          color: #000;

          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
          min-height: 75px;
          .group-price {
            span {
              color: #000;

              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: 0.3px;
            }
            padding: 0px 6px;
            justify-content: space-between;
            width: 100%;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.3px;
            color: #000;
            .radio-option-price {
              margin-top: 11px;
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.3px;
            }
          }
          span {
            width: 100%;
          }
          .radio-option-price {
            margin-bottom: 0px !important;
            padding-top: 0px;
          }
        }
        .ant-radio-button-wrapper-checked {
          color: #000;

          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.3px;
        }
      }
      .options .ant-collapse-content-box {
        padding: 16px 16px !important;
      }
    }
    .similar-product {
      .similar-product-title {
        margin-top: 50px;
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 30px;
      }
    }
    .review-content {
      margin-top: 20px !important;
      .ant-card-head-title {
        font-size: 16px;
        line-height: 20px;
      }
      .review-text {
        font-size: 16px;
        line-height: 20px;
      }
    }
    #popup-choose-options {
      position: fixed;
      z-index: 3;
      bottom: 0;
      left: 0;
      height: calc(100vh - 90px);
      width: 100%;
      padding: 24px;
      background: #ffffff;
      padding-bottom: 58px;
      overflow-y: auto;
      .close-branch-theme-1 {
        margin: 0px 16px 16px;
      }
    }
    .choose-options-header {
      position: absolute;
      right: 16px;
      top: 16px;
      display: block;
    }
  }
}

/* Mobile - ant-xs */
@media (max-width: 575px) {
  .mobile-display-none {
    display: none !important;
  }
  .edit-product-cart-detail-container {
    padding: 16px;
    .product-detail-content {
      #popup-choose-options {
        .quantity-responsive {
          display: flex;
          justify-content: space-between;
        }
        .modify-quantity {
          display: none;
        }
      }
      padding: 16px;
      .product-detail-content-left {
        padding-right: 0px;
      }
      .product-detail-content-right {
        padding-left: 0px;
      }

      .product-detail-title {
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 160% */
        letter-spacing: 0.3px;
      }
      .product-price {
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
      }
      .product-original-price {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.3px;
        text-decoration-line: strikethrough;
      }
      .product-price-name {
        font-size: 13px;
        line-height: 16px;
      }
      .modify-quantity {
        .quantity-product {
          padding: 0px 20px;
        }
      }
      .quantity-responsive {
        padding: 0px 16px;
        width: 100%;
        bottom: 60px;
        .text-quanity {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
        }
        .modify-quantity-for-responsive {
          padding-right: 8px;
          padding-left: 8px;
          display: flex;
          width: fit-content;
          padding: 2px;
          justify-content: center;
          align-items: center;
          height: 28px;
          .quantity-product {
            width: 30px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.3px;
            align-items: center;
            height: 24px;
            float: right;
          }
          .btn-reduce {
            .ant-btn-icon {
              svg {
                width: 24px;
                height: 24px;
              }
            }
            width: 24px;
            height: 24px;
          }
          .btn-increase {
            .ant-btn-icon {
              svg {
                width: 24px;
                height: 24px;
              }
            }
            width: 24px;
            height: 24px;
          }
        }
      }
      .button-background {
        position: fixed;
        z-index: 3;
        bottom: 0;
        left: 0;
        background: #fff;
        height: 102px;
        width: 100%;
      }
      .note {
        margin-top: 24px;
        .product-detail-input {
          min-height: 48px;
          border-radius: 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          padding: 20px 0px 20px 40px;
        }
        .note-icon-theme1 {
          width: 48px;
          .note-icon {
            width: 24px;
            position: relative;
          }
        }
      }
      .btn-submit {
        width: calc(100% - 32px);
        position: fixed;
        z-index: 4;
        bottom: 0;
        left: 0;
        margin: 16px;
        font-size: 16px;
        line-height: 20px;
        height: 44px;
      }
      .btn-add-to-cart {
        .btn-add-to-cart-text {
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px; /* 166.667% */
          letter-spacing: 0.3px;
        }
        .btn-add-to-cart-original-price {
          font-size: 14px;
        }
        .btn-add-to-cart-price {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px; /* 125% */
          letter-spacing: 0.3px;
        }
      }
      .btn-favorite-product {
        display: none;
      }
      .btn-hide-show-popup-when-mobile {
        display: block;
        position: fixed;
        z-index: 2;
        bottom: 0;
        left: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        background: #026f30;
        border: 0px;
        margin-top: 32px;
        border-radius: 0px;
        height: 57px;
      }
      .product-detail-image {
        margin-bottom: 16px !important;
      }
      .product-detail-rate {
        font-size: 16px;
        vertical-align: top;
      }
      .ant-rate-star {
        margin-right: 4px !important ;
      }
      .total-review {
        font-size: 16px;
        line-height: 20px;
        margin-left: 8px;
      }
      .description-title {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
        margin-top: 16px;
        margin-bottom: 8px;
      }
      .description-content {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3px;
      }
      .options {
        padding-bottom: 62px;
        margin-top: 12px;
        .combo-data-collapse-custom {
          .ant-collapse-item {
            margin-top: 16px;
            .ant-collapse-header {
              height: 52px;
              .ant-collapse-header-text {
                width: 60%;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.3px;
                span {
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  letter-spacing: 0.3px;
                }
              }
            }
            .caret-down-out {
              height: 48px;
              span {
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.3px;
              }
            }
            .caret-up-out {
              height: 48px;
              span {
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.3px;
              }
            }
          }
          .ant-collapse-item-active {
            .ant-collapse-header {
              border: none;
              border-radius: 8px;
              background: #f2f2f2;
              height: 52px;
              .ant-collapse-header-text {
                width: 60%;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.3px;
                span {
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  letter-spacing: 0.3px;
                }
              }
            }
          }
        }
        .product-price-header {
          border-radius: 12px;
        }
        .product-price-collapse {
          margin-bottom: 16px;
        }
        .product-detail-collapse {
          border-radius: 8px;
          .ant-collapse-header-text {
            font-size: 16px;
            line-height: 20px;
          }
          .ant-collapse-header {
            height: 48px;
          }
          .ant-collapse-item:last-child {
            border-radius: 0 0 8px 8px;
            .ant-collapse-content {
              border-radius: 0 0 8px 8px;
            }
          }
          .selection {
            .group {
              grid-template-columns: 1fr;
              margin-top: 12px;
            }
          }
        }
        .ant-radio-button-wrapper:not(:first-child)::before {
          background: none;
        }
        .topping > .ant-collapse-content > .ant-collapse-content-box {
          padding: 0px;
        }
        .ant-radio-button-wrapper-checked {
          span {
            width: 100%;
            color: #000;

            font-size: 15px;
            font-style: normal !important;
            font-weight: 700 !important;
            line-height: normal !important;
            letter-spacing: 0.3px !important;
          }
        }
        .radio-option {
          span {
            width: 100%;
            color: #000;

            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.3px;
          }
          color: #969696;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          min-height: 44px;
          padding: 8px;
          border-radius: 8px;
          border: 1px solid #9f9f9f;
          .group-price {
            padding-right: 6px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            span {
              margin-right: 8px;
            }
          }
          .radio-option-price {
            margin-bottom: 0px !important;
            padding-top: 0px;
          }
        }
      }
      .options .ant-collapse-content-box {
        padding: 16px 16px !important;
      }
    }
    .similar-product {
      .similar-product-title {
        margin-top: 50px;
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 30px;
      }
    }
    .review-content {
      margin-top: 20px !important;
      .ant-card-head-title {
        font-size: 16px;
        line-height: 20px;
      }
      .review-text {
        font-size: 16px;
        line-height: 20px;
      }
    }
    #popup-choose-options {
      position: fixed;
      z-index: 3;
      bottom: 0;
      left: 0;
      height: calc(100vh - 90px);
      width: 100%;
      padding: 16px;
      background: #ffffff;
      padding-bottom: 58px;
      overflow-y: auto;
      .close-branch-theme-1 {
        margin: 0px 16px 16px;
      }
    }
    .choose-options-header {
      position: absolute;
      right: 16px;
      top: 16px;
      display: block;
    }
  }
}

.pt-0 {
  padding-top: 0px !important;
}
