$add_to_cart_product_icon: url("../../../assets/images/add-to-cart.svg");
.product-main-theme-2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  width: 264px;
  height: 420px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }

  .product-image {
    height: 220px;
    width: 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    .discount-box {
      padding: 4px 8px;
      position: relative;
      width: fit-content;
      height: 24px;
      left: 5px;
      top: 5px;
      background: #db4d29;
      border-radius: 30px;

      .discount-text {
        width: fit-content;
        height: 16px;

        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #ffffff;
        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }
  }

  .product-rating {
    margin-top: 5px;
  }

  .product-name {
    width: 240px;
    height: 22px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
    margin-top: 10px;
    text-transform: capitalize;
  }

  .product-description {
    width: 240px;
    height: 40px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    justify-content: center;
    color: #959595;
    margin-top: 20px;
    overflow: -moz-hidden-unscrollable;
  }

  .price-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

    .price-box-left {
      display: flex;
      flex-direction: row;
      .product-price {
        width: fit-content !important;
        height: 16px;

        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-decoration-line: line-through;
        color: #959595;
        margin-top: 11px;
      }

      .product-price-with-discount {
        width: fit-content !important;
        height: 18px;

        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #db4d29;
        margin-top: 10px;
        margin-left: 10px;
        border: solid 1px transparent;
      }
    }
    .cart {
      width: 36px;
      height: 36px;
      background-image: $add_to_cart_product_icon;
      border-radius: 30px;
      cursor: pointer;
    }
  }
}
