.flag {
  width: 22px;
  margin-right: 10px;
}

.admin-link-language {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;

  span {
    color: #2B2162;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
  }
}

.country-flag {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.arrow-down {
  width: 24px;
  height: 24px;
}

.change-language-popover {
  min-width: 170px;
  padding-top: 10px !important;

  .ant-popover-content {
    .ant-popover-arrow {
      display: none;
    }
    .ant-popover-inner {
      padding: 8px !important;
      border-radius: 12px;
      background: #FFF;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

.change-language-option {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;

  span {
    color: #323E40;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
  }

  &:hover {
    background-color: #F9FBFF;

    span {
      color: #2B2162;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}