.discount-code-button {
  height: 56px;
  display: flex;
  flex-flow: row nowrap;
  background: #fda742;
  border-radius: 12px;
  align-items: center;
  margin: 0px 24px;
  cursor: pointer;
  .icon-use-discount {
    max-height: 100%;
    border-radius: 12px;
  }
  .text {
    position: relative;
    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #fff;
    user-select: none;
    margin-right: auto;
  }
  .icon-arrow {
    float: right;
    .icon-arrow-right {
      width: 24px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 575px) {
  .discount-code-button {
    margin: 16px 0px;
    cursor: pointer;
    .icon-use-discount {
      max-height: 100%;
      border-radius: 12px;
    }
    .text {
      position: relative;
      
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: right;
      color: #fff;
      user-select: none;
      margin-right: auto;
    }
    .icon-arrow {
      float: right;
      .icon-arrow-right {
        width: 24px;
        margin-right: 10px;
      }
    }
  }
}
