.discount-code-dialog {
  top: 200px;
  user-select: none;
  * {
    font-family: inherit;
  }
  .ant-modal-content {
    border-radius: 20px;
    background: #fff;
    padding: 16px;
    .ant-modal-close {
      .ant-modal-close-x {
        height: 32px;
        line-height: 32px;
        font-size: 18px;
        color: #000;
      }
    }
    .ant-modal-close:hover {
      background: #fff;
    }
    .ant-modal-header {
      margin-bottom: 16px;
      .ant-modal-title {
        color: #000;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.3px;
      }
    }
    .discount-code-dialog-body {
      gap: 16px;
      .input-group {
        .discount-code-input {
          height: 52px;
          padding: 14px 16px;
          align-items: center;
          color: #000;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          border-radius: 12px;
          background: #fff;
          box-shadow: 0px 3px 15px 0px rgba(49, 61, 174, 0.25);
        }
        .message {
          min-height: 24px;
          margin-top: 12px;
          color: #d30000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
        }
      }
      .apply-button {
        display: inline-flex;
        height: 52px;
        padding: 14px 13px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 12px;
        background: #026f30;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}
