@media (max-width: 600px) {
  .notification-container-theme1 {
    width: 361 !important;
    .ant-modal-content {
      .ant-modal-body {
        padding-top: 20px;
        min-height: 120px !important;
        .notification-container-content {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
        }
      }
      .ant-modal-footer {
        padding-top: 30px !important;
        padding-bottom: 20px !important;
        button {
          font-size: 16px !important;
          line-height: 20px !important;
          text-align: center;
        }
      }
    }
  }
}

.notification-container-theme1 {
  background: #ffffff;
  border-radius: 20px;
  
  font-style: normal;
  padding-bottom: 0;
  width: 685px !important;
  z-index: 1002;
  .ant-modal-content {
    border-radius: 20px;
    padding: 0;
    z-index: 1002;
    .ant-modal-header {
      border-radius: 20px 20px 0 0;
      margin: 0;
      min-height: 48px;
      display: flex;
      background: #ffffff;
    }
    .ant-modal-header .ant-modal-title {
      padding-top: 30px;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      margin: auto;
      color: #026f30;
    }

    .ant-modal-body {
      min-height: 200px;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      background-image: url("./Union.png");
      background-size: 102% 100%;
      background-position: center;
      position: sticky;
      .notification-container-content {
        padding-bottom: 50px;
      }
    }

    .ant-modal-footer {
      margin: 0;
      padding-top: 40px;
      margin-top: -30px;
      padding-bottom: 40px;
      text-align: center;
      background: #026f30;
      border-radius: 0px 0px 20px 20px;

      button {
        background: #026f30;
        border: unset;
        box-shadow: unset;
        color: white;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        font-weight: bolder;
      }
    }
  }

  .notification-container-content {
    margin: auto;
  }
}
