.flash-sale-product {
  width: 260px;
  height: 100%;
  margin-bottom: 118px;
  position: relative;
  .image {
    position: relative;
    width: 100%;
    padding-top: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
    .percent-label {
      position: absolute;
      top: 6px;
      right: 6px;
      z-index: 2;
      padding: 4px 6px;
      background: #ff5206;

      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: #ffffff;
      border-radius: 6px;
    }
  }
  .name {
    margin-top: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.3px;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000000;
  }
  .content-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .price {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    .selling-price {
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      text-align: center;
      letter-spacing: 0.3px;
      color: #026f30;
    }
    .original-price {
      padding-left: 8px;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.3px;
      color: #c1c1c1;
      text-decoration: line-through;
    }
  }
  .quantity-bar {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    width: 200px;
    height: 36px;
    border-radius: 100px;
    background: #ffd39f;
    .fire {
      position: absolute;
      top: -20px;
      left: 10px;
      margin-bottom: 20px;
      z-index: 2;
    }
    .quantity-bar-progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 100px;
      z-index: 1;
      background: #ffd39f;
      width: 100%;
    }
    .quantity-bar-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.3px;
      color: #ffffff;
      z-index: 3;
    }
    .quantity-bar-number {
      font-weight: 700;
      font-size: 18px;
      padding-left: 6px;
      line-height: 23px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.3px;
      color: #ffffff;
      z-index: 3;
    }
  }
  .sold-out {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: 36px;
    border-radius: 100px;
    background: #ffd39f;
    border: 1px solid #b2b2b2;
    background: #ffffff;
    .quantity-bar-text {
      color: #b2b2b2;
    }
  }
  .ended {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: 36px;
    border-radius: 100px;
    background: #ffd39f;
    border: 1px solid #f7931e;
    background: #f7931e;
    .quantity-bar-text {
      color: #ffffff;
    }
  }
}

/* Mobile - ant-xs */
@media (max-width: 575px) {
  .flash-sale-product {
    width: 132px;
    margin-bottom: 65px;
    .image {
      position: relative;
      width: 100%;
      padding-top: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
      .percent-label {
        top: 4px;
        right: 4px;
        z-index: 2;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
      }
    }
    .name {
      margin-top: 8px;
      font-size: 12px;
      line-height: 15px;
    }
    .price {
      margin-top: 8px;
      display: flex;
      justify-content: center;
      align-items: baseline;
      .selling-price {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #026f30;
      }
      .original-price {
        padding-left: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #c1c1c1;
        text-decoration: line-through;
      }
    }
    .quantity-bar {
      position: relative;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-top: 8px;
      width: 130px;
      height: 21px;
      border-radius: 100px;
      background: #ffd39f;
      .fire {
        position: absolute;
        top: 100;
        left: 0;
        z-index: 5;
      }
      .quantity-bar-progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        z-index: 1;
        background: linear-gradient(270deg, #ff3a05 0%, #ffb909 100%);
      }
      .quantity-bar-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.3px;
        color: #ffffff;
        z-index: 3;
      }
      .quantity-bar-number {
        font-weight: 700;
        font-size: 12px;
        padding-left: 6px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.3px;
        color: #ffffff;
        z-index: 3;
      }
    }
    .sold-out {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 130px;
      height: 21px;
      border-radius: 100px;
      border: 1px solid #b2b2b2;
      background: #ffffff;
      .quantity-bar-text {
        color: #b2b2b2;
      }
    }
    .ended {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 130px;
      height: 21px;
      border-radius: 100px;
      background: #ffd39f;
      border: 1px solid #f7931e;
      background: #f7931e;
      .quantity-bar-text {
        color: #ffffff;
      }
    }
  }
}
