.pos-cart-item {
  .pos-cart-item-overall {
    display: flex;
    padding: 8px 24px 12px 24px;
    .image {
      cursor: pointer;
      width: 72px;
      height: 72px;
      .pos-display-image {
        border-radius: 10px;
        .promotion-label {
          display: none;
        }
      }
    }
    .content {
      width: calc(100% - 72px);
      padding-left: 24px;
      user-select: none;
      .info {
        .name {
          cursor: pointer;
          width: 100%;
          color: #000;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          padding-right: 8px;
        }
        .price {
          display: flex;
          align-items: flex-end;
          gap: 16px;
          .selling-price {
            color: #000;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            text-align: bottom;
          }
          .original-price {
            color: #c1c1c1;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-decoration-line: line-through;
          }
        }
        .option {
          color: #797979;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 200% */
        }
        .topping {
          display: flex;
          width: fit-content;
          flex-direction: column;
          .topping-item {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            color: #000;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            .topping-price {
              font-weight: 500;
              padding-left: 8px;
            }
          }
        }
      }
      .action {
        display: flex;
        gap: 16px;
        justify-content: flex-end;
        .change-quantity-group {
          display: flex;
          .button-change-quantity {
            width: 24px;
            height: 24px;
            background: #e1e1e1;
            border-radius: 6px;
            cursor: pointer;
            user-select: none;
            display: flex;
            span {
              margin: auto;
              margin-top: -6px;
              font-size: 24px;
              color: #fff;
            }
          }
          .up {
            background: #026f30;
          }
          .quantity {
            display: flex;
            width: 40px;
            height: 24px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: #000;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.3px;
          }
        }
        .active-other {
          display: flex;
          gap: 16px;
          .delete {
            cursor: pointer;
            svg {
              width: 24px;
              height: 24px;
            }
          }
          .show-combo-detail {
            width: 24px;
            cursor: pointer;
            svg {
              padding: 5px;
              width: 24px;
              height: 24px;
            }
          }
          .show-combo-detail-empty {
            width: 24px;
          }
        }
      }
    }
  }
  .detail {
    margin: 0px 24px 12px 24px;
    padding: 12px;
    border-radius: 20px;
    background: #f5f5f5;
    .item {
      display: flex;
      border-top: 1px solid #c1c1c1;
      padding: 12px 0px;
      .image {
        width: 60px;
        height: 60px;
        margin-right: 24px;
        .pos-display-image {
          border-radius: 10px;
          .promotion-label {
            display: none;
          }
        }
      }
      .item-info {
        .name {
          cursor: pointer;
          width: 100%;
          color: #000;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          padding-right: 8px;
        }
        .option {
          color: #797979;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 200% */
        }
        .topping {
          display: flex;
          width: fit-content;
          flex-direction: column;
          .topping-item {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            color: #000;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            .topping-price {
              font-weight: 500;
              padding-left: 8px;
            }
          }
        }
      }
    }
    .item:first-child {
      border-top: 0px;
      padding-top: 0px;
    }
    .item:last-child {
      padding-bottom: 0px;
    }
  }
  .cart-item-note {
    border-radius: 16px;
    background: #f5f5f5;
    display: flex;
    padding: 12px 24px;
    margin: 0px 24px 12px 24px;
    align-items: center;
    gap: 24px;
    .note-icon {
      width: 24px;
      height: 24px;
    }
    .note-text {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.3px;
    }
  }
}

@media (max-width: 575px) {
  .pos-cart-item {
    .pos-cart-item-overall {
      display: flex;
      padding: 16px 0px;
      border-top: 2px solid #eaeeef;
      .content {
        flex-wrap: wrap;
        padding-left: 16px;
        .info {
          .name {
            padding-right: 0px;
          }
          .price {
            margin-top: 8px;
            gap: 8px;
            .selling-price {
              font-size: 16px;
              line-height: 20px;
            }
            .original-price {
              font-size: 12px;
              line-height: 16px;
            }
          }
          .option {
            color: #797979;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 200% */
          }
          .topping {
            width: 90%;
            .topping-item {
              justify-content: space-between;
              color: #797979;
              font-size: 12px;
              .topping-price {
                color: #000;
              }
            }
          }
        }
        .action {
          width: 100%;
          justify-content: space-between;
          margin-top: 16px;
          .change-quantity-group {
            display: flex;
            width: fit-content;
            .button-change-quantity {
              width: 24px;
              height: 24px;
              background: #e1e1e1;
              border-radius: 6px;
              cursor: pointer;
              user-select: none;
              display: flex;
              span {
                margin: auto;
                margin-top: -6px;
                font-size: 24px;
                color: #fff;
              }
            }
            .up {
              background: #026f30;
            }
            .quantity {
              display: flex;
              width: 40px;
              height: 24px;
              flex-direction: column;
              justify-content: center;
              flex-shrink: 0;
              color: #000;
              text-align: center;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.3px;
            }
          }
          .active-other {
            display: block;
            width: 64px;
            float: left;
            .delete {
              float: right;
            }
            .show-combo-detail {
              float: left;
              width: 24px;
            }
          }
        }
      }
    }
    .detail {
      margin: 0px;
      margin-bottom: 16px;
      .item {
        .image {
          width: 40px;
          height: 40px;
          margin-right: 16px;
          .pos-display-image {
            border-radius: 8px;
          }
        }
        .item-info {
          .name {
            cursor: pointer;
            width: 100%;
            color: #000;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            padding-right: 8px;
          }
          .option {
            color: #797979;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 200% */
          }
          .topping {
            display: flex;
            width: fit-content;
            flex-direction: column;
            .topping-item {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              color: #000;
              font-size: 13px;
              font-weight: 400;
              line-height: 24px;
              .topping-price {
                font-weight: 500;
                padding-left: 8px;
              }
            }
          }
        }
      }
      .item:first-child {
        border-top: 0px;
        padding-top: 0px;
      }
      .item:last-child {
        padding-bottom: 0px;
      }
    }
    .cart-item-note {
      margin: 0px;
      margin-bottom: 16px;
      padding: 12px;
      gap: 12px;
      .note-icon {
        width: 20px;
        height: 20px;
      }
      .note-text {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .pos-cart-item:first-child {
    .pos-cart-item-overall {
      border-top: 0 !important;
      padding-top: 0px;
    }
  }
}
