.order-detail {
  
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding: 0 80px;
  .order-detail-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-top: 56px;
    padding-left: 41px;
    background: url("../../../../assets/images/order-detail-status-bg.png") no-repeat right;
    height: 135px;
    padding: 0 355px 0 41px;
    .order-detail-step {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #c1c1c1;
      font-size: 24px;
      line-height: 30px;
      span {
        align-items: center;
        color: #026f30;
      }
    }
    .rectangle {
      width: 60px;
      height: 2px;
      border: 1px solid #c1c1c1;
    }
  }
  .order-detail-confirm {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-top: 24px;
    .order-detail-confirm-title {
      .order-type-icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
      }
      .order-type-icon-2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      background: #fff5eb;
      // padding: 20px 24px;
      border-radius: 12px 12px 0 0;
      display: flex;
      justify-content: space-between;
      .order-type {
        display: inline-flex;
        height: 65px;
        padding: 12px 16px;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 12px 12px 12px 0px;
        color: #ffffff;
      }
      .in-store-color {
        color: #ffffff;
        background: #463796;
      }
      .delivery-color {
        color: #ffffff;
        background: rgba(28, 163, 98, 0.9);
      }
      .take-away-color {
        color: #ffffff;
        background: var(--branding-primary, #50429b);
      }
      .online-delivery-color {
        color: #ffffff;
        background: rgba(28, 163, 98, 0.9);
      }
      .pick-up-color {
        color: #ffffff;
        background: #ff8c21;
      }
      .order-status {
        display: inline-flex;
        height: 65px;
        padding: 12px 16px;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .canceled-color {
      color: #c1c1c1;
    }
    .to-confirm-color {
      color: #ff8c21;
    }
    .processing-color {
      color: #ed4c5c;
    }
    .delivering-color {
      color: #376aed;
    }
    .completed-color {
      color: #50429b;
    }
    .draft-color {
      color: #abb2f2;
    }
    .order-detail-confirm-content {
      display: flex;
      flex-wrap: wrap;
      padding: 32px 24px 24px 24px;
      margin-top: -32px;
      .title-info {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #026f30;
      }
      .order-detail-confirm-left {
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .order-detail-confirm-right {
          box-sizing: border-box;
          padding-top: 24px;
          .in-store-info-group {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 12px;
            .in-store-info-text-title {
              color: #000;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: inline-flex;
              .in-store-info-text-detail {
                color: #000;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
            }
          }
          .delivery-info {
            display: flex;
            gap: 34px;
            .delivery-info-title {
              font-weight: 700;
              line-height: 25px;
              height: 25px;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            .delivery-info-text {
              margin-top: 10px;
              line-height: 32px;
              height: 64px;
            }
            .delivery-info-left {
              margin-top: 20px;
            }
            .delivery-info-right {
              display: flex;
              flex-direction: column;
              gap: 47px;
              margin-top: 16px;
            }
            .delivery-info-label {
              font-weight: 700;
              font-size: 18px;
              line-height: 22px;
              color: #fef7ed;
              background: linear-gradient(90deg, #50429b 0%, #0d0055 100%);
              border-radius: 12px;
              padding: 4px 8px;
              margin-left: 16px;
            }
          }
        }
        .receiver-info {
          display: flex;
          justify-content: space-between;
          display: block;
          padding-top: 24px;
          .receiver-title-info {
            color: #026f30;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .receiver-info-container {
            display: flex;
            padding-top: 12px;
            .receiver-info-title {
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .receiver-info-text {
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
        .order-info {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 12px;
          padding-top: 40px;
          .order-info-container {
            display: inline-flex;
            .order-info-title {
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: inline-flex;
            }
            .order-info-text {
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            .order-info-text-delivery {
              margin-left: 12px;
              color: #fff;
              text-align: right;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              display: inline-flex;
              padding: 4px 8px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 6px;
              background: #32ac72;
            }
          }
        }
      }
      .order-detail-confirm-all {
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .receiver-info {
          display: flex;
          justify-content: space-between;
          display: block;
          padding-top: 24px;
          .receiver-title-info {
            color: #026f30;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .receiver-info-container {
            display: flex;
            padding-top: 12px;
            .receiver-info-title {
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .receiver-info-text {
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
        .order-info {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 12px;
          padding-top: 40px;
          .order-info-container {
            display: inline-flex;
            .order-info-title {
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: inline-flex;
            }
            .order-info-text {
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            .order-info-text-delivery {
              margin-left: 12px;
              color: #fff;
              text-align: right;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              display: inline-flex;
              padding: 4px 8px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 6px;
              background: #32ac72;
            }
            .order-info-text-pickup {
              background: #ff8c21;
            }
          }
        }
      }
    }

    .payment-bank-transfer-detail-theme1 {
      padding: 0px 24px 24px;
      .bank-transfer-theme1 {
        border-radius: 20px;
        background: rgba(251, 251, 251, 0.8);
        .content-bank-account {
          display: flex;
          align-items: center;
          width: 100%;

          .bank-account-info {
            width: 100%;

            .bank-name {
              margin-top: 0px;
            }
          }

          .qr-code {
            width: 168px;
            height: 168px;
            margin-right: 16px;
            img {
              width: 168px;
              height: 168px;
              padding: 16px;
            }
          }
        }
      }
    }
  }
  .order-detail-title-list {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #036f30;
    margin-top: 24px;
  }
  .order-detail-list {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 24px 0 0 24px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    .order-detail-list-container {
      margin-bottom: 24px;
      .item-name-text {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
      }
      .item-text {
        font-weight: 400;
        line-height: 30px;
        color: #797979;
        font-size: 20px;
        margin-top: 10px;
      }
      .order-detail-list-item {
        display: flex;
        gap: 48px;
        .order-detail-item-img-first {
          margin-top: 0 !important;
        }
        .order-detail-item-img {
          width: 132px;
          height: 132px;
          flex-shrink: 0;
          border-radius: 10px;
          margin-top: 24px;
          img {
            border-radius: 10px;
          }
        }
        .order-detail-item-info-first {
          padding-top: 0 !important;
          border-top: none !important;
        }
        .order-detail-item-info {
          display: flex;
          width: 100%;
          border-top: 2px solid #dadada;
          justify-content: space-between;
          padding-right: 24px;
          padding-top: 24px;
          flex-direction: row;
          .item-info-left {
            width: 60%;
          }
          .item-info-center {
            width: fit-content;
            margin-right: 72px;
            margin-left: 36px;
            .item-info-center-first-row {
              display: flex;
              align-items: baseline;
            }
          }
          .item-promotion-text {
            text-decoration: line-through;
            color: #797979;
            line-height: 25px;
            margin-left: 10px;
          }
          .item-quantity-text-mobile,
          .item-promotion-mobile {
            display: none;
          }
          .item-quantity-text {
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            color: #797979;
            margin-right: 10px;
            display: flex;
          }
          .item-promotion {
            width: 62px;
            height: 36px;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            padding: 6px;
            background: #ff3448;
            border-radius: 12px;
            color: #fef7ed;
            margin: 6px auto;
            text-align: center;
            width: max-content;
          }
          .item-info-top {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-right: 24px;
            padding-top: 24px;
          }
          .item-topping {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-direction: column;
          }
          .item-topping-price {
            
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            display: flex;
            align-items: center;
            text-align: right;
            padding-left: 20px;
            color: #000000;
            .item-topping-original-price {
              padding-left: 8px;
              text-decoration-line: line-through;
              color: #c1c1c1;
            }
          }
        }
      }
      .order-detail-combo-list {
        margin-top: 24px;
        background: #f5f5f5;
        border-radius: 20px;
        padding: 24px 74px 0 40px;
        margin-right: 24px;
        .order-detail-combo-item {
          display: flex;
          gap: 65px;
          border-top: 1px dashed #c1c1c1;
          padding: 24px 0;
          .combo-item-img {
            width: 92px;
            height: 92px;
            border-radius: 10px;
            img {
              border-radius: 10px;
            }
          }
        }
        .order-detail-combo-item-first {
          padding-top: 0;
          border-top: none;
        }
      }
      .order-detail-note {
        display: flex;
        align-items: center;
        gap: 22px;
        margin-top: 16px;
        margin-right: 24px;
        padding: 22px 24px;
        background: #f5f5f5;
        border-radius: 20px;
        line-height: 25px;
        letter-spacing: 0.3px;
      }
      .item-note {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
        padding-left: 18.5%;
        padding-right: 28px;
        margin-top: 8px;

        .note-text {
          
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #282828;
          margin-left: 8px;
        }
      }
    }
  }
  .order-detail-total {
    background: url("../../../../assets/images/order-detail-total-bg.png") no-repeat;
    min-height: 474px;
    height: 100%;
    margin: 24px 0;
    display: flex;
    align-items: end;
    flex-direction: column;
    background-size: cover;
    padding: 80px 80px 80px 0px;
    position: relative;
    border-radius: 12px;
    .background-right-corner-order-detail {
      position: absolute;
      top: 0;
      right: 0;
      width: 131px;
      height: 97px;
    }
    .order-detail-total-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      .order-detail-total-left {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .order-detail-arrow {
          position: absolute;
          margin-top: 6px;
          margin-left: 18.4px;
          cursor: pointer;
        }
        .order-detail-total-text {
          font-size: 24px;
          line-height: 40px;
          color: #026f30;
        }
      }
      .order-detail-total-right {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .order-detail-total-number {
          font-size: 32px;
          line-height: 40px;
          color: #026f30;
        }
        .group-note {
          flex-direction: column;
          align-items: end;
          padding-left: 12px;
          .title-note {
            font-weight: 700;
          }
          .content-note {
            text-align: right;
            
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #282828;
            margin-top: 4px;
          }
        }
      }
      .container {
        display: flex;
        .order-detail-total-left {
          position: relative;
          left: 0px;
          transform: translateX(-60%);
        }
      }
      .group-note {
        width: 100%;
        position: relative;
        max-width: 500px;
        float: right;
        right: 0px;
        padding: 8px 0px;
        word-break: break-all;
        .title-note {
          font-weight: 700;
        }
        .content-note {
          
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #282828;
          text-align: right;
        }
      }
      .total {
        max-width: 100%;
        min-width: 260px;
        position: relative;
        right: 0px;
        display: flex;
        justify-content: space-between;
        .text {
          font-size: 24px;
          line-height: 40px;
          color: #026f30;
        }
        .price {
          font-size: 32px;
          line-height: 40px;
          color: #026f30;
        }
      }
    }
    .order-detail-btn-cancel {
      background: #ed4c5c;
      border-radius: 16px;
      width: 412px;
      height: 60px;
      letter-spacing: 0.3px;
      color: #ffffff;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      margin-top: 39px;
      cursor: pointer;
    }
    .order-detail-btn-re-order {
      background: #026f30;
      border-radius: 16px;
      width: 412px;
      height: 60px;
      letter-spacing: 0.3px;
      color: #ffffff;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      margin-top: 39px;
      line-height: 60px;
      cursor: pointer;
    }
  }
  .flash-sale-border {
    background-image: url("../../../../assets/images/flash-sale-background.png");
  }
  .receive-point-text {
    
    font-style: normal;
    border: 1px dashed #ff8c21;
    background-color: #fff7ef;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.16px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-top: 24px;
    .point-logo {
      margin-right: 11px;
      vertical-align: middle;
    }
    .earn-points {
      color: #feaa42;
      font-weight: 700;
      line-height: 20.16px;
      font-size: 18px;
    }
  }
}
.theme-1-my-order-detail-popover {
  .order-detail-popover {
    width: 332px;
    padding: 4px 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .discount-content-label {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 8px;
      border-bottom: 2px dotted #eeeeee;
    }

    .discount-content-text {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      padding-top: 4px;
      .text-point {
        color: #feab41;
        padding-right: 4px;
        padding-left: 4px;
      }
    }
    .discount-fee-label {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      padding-bottom: 6px;
      border-bottom: 0.650038px dashed #d1d1d1;
    }
    .discount-fee-text {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      padding-top: 4px;
    }
  }
}

@media (max-width: 740px) {
  .order-detail {
    padding: 0 16px;
    .order-detail-status {
      background: url("../../../../assets/images/order-detail-status-bg-m.png") no-repeat right;
      height: 80px;
      padding: 0 90px 0 16px;
      box-shadow: 0px 2px 4px rgba(2, 111, 48, 0.25);
      margin-top: 20px;
      .order-detail-step {
        font-size: 12px;
        line-height: 15px;
      }
      .rectangle {
        width: 16px;
        height: 1px;
      }
    }
    .order-detail-confirm {
      .order-detail-confirm-title {
        padding: 0px;
        .order-type-icon {
          width: 36px;
          height: 36px;
          svg {
            width: 30px;
            height: 30px;
          }
        }
        .order-type-icon-2 {
          svg {
            width: 32px;
            height: 32px;
          }
        }
        .order-type {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          height: 56px;
        }
        .order-status {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          height: 56px;
        }
      }
      .order-detail-confirm-content {
        padding: 16px;
        flex-direction: column;
        .title-info {
          line-height: 25px;
        }
        .order-detail-confirm-left {
          .order-detail-confirm-right {
            width: unset;
            padding-left: 0;
            .in-store-info-group {
              .in-store-info-text-title {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                .in-store-info-text-detail {
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                }
              }
            }
            .delivery-info {
              gap: 16px;
              .delivery-info-title {
                font-size: 16px;
                line-height: 20px;
                height: 20px;
              }
              .delivery-info-text {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 16px;
                line-height: 20px;
                height: 40px;
              }
              .delivery-info-left {
                margin-top: 24px;
              }
              .delivery-info-right {
                gap: 29px;
                margin-top: 22px;
              }
              .delivery-info-label {
                font-size: 12px;
                line-height: 15px;
              }
            }
          }
          .receiver-info {
            flex-direction: column;
            .receiver-info-container {
              flex-direction: row;
              .receiver-info-title {
                font-size: 16px;
                line-height: 20px;
              }
              .receiver-info-text {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
              }
            }
          }
          .order-info {
            padding-top: 24px;
            .order-info-container {
              .order-info-title {
                font-size: 16px;
                line-height: 20px;
              }
              .order-info-text {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
              }
            }
          }
        }
        .order-detail-confirm-all {
          width: unset;
          padding-right: 0;
          display: block;
          .receiver-info {
            flex-direction: column;
            .receiver-info-container {
              flex-direction: row;
              .receiver-info-title {
                font-size: 16px;
                line-height: 20px;
              }
              .receiver-info-text {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
              }
            }
          }
          .order-info {
            padding-top: 24px;
            .order-info-container {
              .order-info-title {
                font-size: 16px;
                line-height: 20px;
              }
              .order-info-text {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }

    .receive-point-text {
      font-size: 15px;
      margin-top: 5px;
    }

    .order-detail-title-list {
      font-size: 16px;
      line-height: 20px;
      margin-top: 16px;
    }
    .order-detail-list {
      padding: 0;
      margin-top: 16px;
      box-shadow: unset;
      .order-detail-list-container {
        margin-bottom: 16px;
        .item-name-text {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
        }
        .item-text {
          font-size: 12px;
          line-height: 15px;
        }
        .order-detail-list-item {
          gap: 16px;
          .order-detail-item-img {
            width: 60px;
            height: 60px;
          }
          .order-detail-item-info-first {
            height: unset !important;
            padding-right: 0;
          }
          .order-detail-item-info {
            flex-direction: column;
            padding-right: 0;
            padding-top: 16px;
            .item-info-left {
              width: unset;
            }
            .item-info-center {
              width: unset;
              margin-right: 0;
              margin-left: 0;
              margin-top: 5px;
            }
            .item-promotion-text {
              font-weight: 600;
              font-size: 12px;
              line-height: 15px;
            }
            .item-promotion,
            .item-quantity-text {
              display: none;
            }
            .item-promotion-mobile {
              display: inline;
              background: #ff3448;
              border-radius: 12px;
              color: #fef7ed;
              width: 47px;
              height: 24px;
              font-weight: 700;
              font-size: 12px;
              line-height: 15px;
              padding: 6px;
              float: right;
              margin-top: -5px;
            }
            .item-quantity-text-mobile {
              display: flex;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #797979;
              margin-top: 5px;
              margin-left: auto;
            }
          }
        }
        .order-detail-combo-list {
          margin-top: 16px;
          padding: 16px 48px 0 20px;
          margin-right: 0;
          .order-detail-combo-item {
            gap: 16px;
            padding: 16px 0;
            .combo-item-img {
              height: 40px;
              width: 40px;
            }
          }
        }
        .order-detail-note {
          gap: 16px;
          font-size: 16px;
          line-height: 20px;
          padding: 16px;
          margin-right: 0;
          svg {
            width: 24px;
            height: 24px;
          }
        }
        .item-note {
          padding-left: 10.5%;
          .note-text {
            
            font-size: 14px;
          }
          .note-icon {
            svg {
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }
    .order-detail-total {
      min-height: 344px;
      background: url("../../../../assets/images/order-detail-total-bg-m.png") no-repeat;
      background-size: cover;
      padding-right: 16px;
      padding-top: 60px;
      padding-left: 16px;
      padding-bottom: 60px;
      .background-right-corner-order-detail {
        display: none;
      }
      .order-detail-total-container {
        .container {
          .order-detail-total-left {
            font-size: 16px;
            line-height: 20px;
            text-align: left;
            transform: none;
            .order-detail-arrow {
              margin-left: 14.4px;
            }
            .order-detail-total-text {
              font-size: 24px;
              line-height: 30px;
            }
          }
        }

        .order-detail-total-right {
          font-size: 16px;
          line-height: 20px;
          .order-detail-total-number {
            font-size: 24px;
            line-height: 30px;
          }
        }
        .group-note {
          .title-note {
            font-size: 18px;
          }
          .content-note {
            font-size: 15px;
          }
        }
      }
    }
    .order-detail-btn-cancel {
      border-radius: 12px;
      width: 363.34px;
      height: 48px;
      line-height: 32px !important;
      background: #ed4c5c;
      letter-spacing: 0.3px;
      color: #ffffff;
      font-weight: 700;
      font-size: 17px;
      line-height: 60px;
      text-align: center;
      margin-top: 12px;
    }
    .order-detail-btn-re-order {
      border-radius: 12px;
      width: 363.34px;
      height: 48px;
      line-height: 48px !important;
      background: #026f30;
      letter-spacing: 0.3px;
      color: #ffffff;
      font-weight: 700;
      font-size: 17px;
      line-height: 60px;
      text-align: center;
      margin-top: 12px;
    }
  }
  .theme-1-my-order-detail-popover {
    left: 15px !important;
    .ant-popover-inner {
      max-width: 300px;
      margin-top: 25px;
      margin-left: 15px !important;
      margin-right: 15px !important;
    }
    .order-detail-popover {
      width: 100%;
      min-width: 231px;
      gap: 8px;
      .discount-content-label {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 12px;
      }
      .discount-content-text {
        font-size: 12px;
        line-height: 24px;
      }
      .discount-fee-label {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 12px;
      }
      .discount-fee-text {
        font-size: 12px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 576px) {
  .order-detail {
    .order-detail-list {
      .order-detail-list-container {
        .item-note {
          padding-left: 20.5%;
        }
      }
    }
    .order-detail-confirm {
      .order-detail-confirm-content {
        .order-detail-confirm-left {
          width: unset;
          padding-right: 0;
          display: block;
        }
        .title-info {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      .payment-bank-transfer-detail-theme1 {
        padding: 0px 12px 12px 12px;
        .bank-transfer-theme1 {
          border-radius: 20px;
          background: rgba(251, 251, 251, 0.8);
          .content-bank-account {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 8px;

            .bank-account-info {
              width: 100%;

              .bank-name {
                margin-top: 0px;
              }
            }

            .qr-code {
              width: 116px;
              height: 116px;
              margin-bottom: 16px;
              img {
                width: 116px;
                height: 116px;
                padding: 16px;
              }
            }
          }

          .title {
            font-size: 15px;
          }
        }
      }
    }
  }
}
