.table-transfer-material-history {
  .ant-table-thead {
    .grid-text-column {
      font-size: 20px;
      font-style: normal;
      font-weight: 700px;
      line-height: 40px;
    }
  }
  .grid-column-transfer-id {
    min-width: 160px;
  }
  .grid-column-nowrap-text {
    white-space: nowrap;
  }
  .grid-column-title {
    color: #463796;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .text-id-transfer {
    color: #428bc1;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  .text-time-transfer {
    color: #9f9f9f;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  .text-date-transfer {
    color: #282828;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  .text-status {
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: fit-content;
  }
  .status-draft {
    color: #858585;
    background-color: rgba(133, 133, 133, 0.1);
  }
  .status-canceled {
    color: #db1b1b;
    background: rgba(219, 27, 27, 0.1);
  }
  .status-in-progress {
    color: #ff8c21;
    background: rgba(255, 140, 33, 0.1);
  }
  .status-delivering {
    color: #50429b;
    background: rgba(80, 66, 155, 0.1);
  }
  .status-completed {
    color: #33b530;
    background: rgba(51, 181, 48, 0.1);
  }
  .text-overflow-content {
    width: 242px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-content-20 {
    color: #282828;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  .text-number-material {
    color: #428bc1;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    span:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.form-filter-popover.popover-transfer-material-history {
  width: 792px !important;
  .popover-filter-row {
    .title-status-popover {
        padding-top: 18px;
        padding-bottom: 18px;
        align-self: flex-start;
    }
  }
}

.modal-transfer-history-detail {
  .ant-modal-content {
    border-radius: 40px;
    .ant-modal-header {
      border-radius: 40px;
      background-color: #ffffff;
      .ant-modal-title {
        color: #2b2162;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: unset;
      }
    }
    .ant-modal-close {
      .ant-modal-close-x {
        .ant-modal-close-icon {
          padding-top: 24px;
          padding-right: 24px;
          color: #2b2162;
          svg {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}

.row-table-transfer-material-history {
  .fnb-table-wrapper{
    .search-bar{
      .ant-input-clear-icon{
        .anticon-close-circle{
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
