.store-promotion-config {
  width: 1024px !important;
  max-width: 98%;
  .ant-modal-content {
    padding-bottom: 7%;
    height: 96vh;
    .ant-modal-header {
      padding: 24px 24px 0px 24px;
      height: unset;
      background-color: unset;
      .ant-modal-title {
        color: #50429b;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .ant-modal-close-x {
      line-height: normal;
      text-align: right;
      margin-top: 24px;
      margin-right: 24px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .ant-modal-body {
      padding: 24px;
      height: calc(100% );
      .content-modal-promotion-setting {
        display: flex;
        flex-direction: column;
        height: 100%;
        row-gap: 24px;
        .promotion-setting-item-area {
          display: flex;
          flex-direction: column;
          row-gap: 24px;
          &__title-heading {
            color: #2b2162;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          &__list-item {
            display: flex;
            row-gap: 6px;
            flex-direction: column;
          }
          &__item {
            display: flex;
            align-items: center;
            column-gap: 16px;
            align-items: flex-start;
            .ant-switch {
              min-width: 55px;
            }
            .item-apply {
              display: flex;
              flex-direction: column;
              row-gap: 6px;
              &__title {
                color: #282828;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              &__description {
                color: #ff8c21;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
          }
        }
      }
    }
    .ant-modal-footer {
      display: none;
    }
  }
}
