.order {
  height: 100vh;
  background-color: #f2f5fc;
  * {
    font-family: inherit;
  }
  .ant-layout-header {
    padding-inline: 0;
    background: transparent;
  }
  .order-call-actions {
    display: grid;
    gap: 15px;
  }

  .history-button {
    display: flex;
    gap: 10px;
    p {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
    }
  }

  .store-address {
    text-align: center;
  }

  .bg-border {
    margin-top: -160px;
    width: 100%;
    //background-color: #e2e6fa;
    background: linear-gradient(#e2e6fa 0%, #f2f5fc 100%);

    svg {
      width: 100%;
    }
  }

  .action-button-group {
    margin-top: -360px;
    position: relative;
    z-index: 1;
  }

  .top-bg {
    margin-top: -75px;
  }

  .store-info {
    position: relative;
    z-index: 1;
    padding-top: 5px;
  }

  .order-food-icon {
    svg {
      width: 146px;
      margin-top: -225px;
    }
  }

  .area-info {
    padding-bottom: 10px;
  }

  .history-button {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

// Button send message to waiter
.btn-send-message {
  width: 280px;
  height: 56px;
  border-radius: 12px;
  background-color: var(--primaryColor);
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  &:hover {
    background-color: #6640ff !important;
  }
}

.message-box {
  border-radius: 20px 20px 0 0;
  * {
    font-family: inherit;
  }
}

@media (min-width: 769px) {
  .order {
    .history-button {
      padding-top: 35px;
      padding-bottom: 50px;
    }

    .area-info {
      padding-bottom: 30px;
    }

    .order-food-icon svg {
      width: 210px;
      margin-top: -145px;
    }

    .action-button-group {
      margin-top: -545px;
    }

    .bg-border {
      margin-top: -100px;
    }
  }
  .btn-send-message {
    height: 80px;
  }
}

//Toast style width
@media (max-width: 768px) {
  .ant-notification-bottom:has(> .toast-message) {
    min-width: 288px;
    width: auto;
  }
}
