.discount-code-content::-webkit-scrollbar {
  width: 3px;
}
.discount-code-content::-webkit-scrollbar-track {
  border-radius: 2px;
}
.discount-code-content::-webkit-scrollbar-thumb {
  background: #026f30;

  border-radius: 2px;
}
.discount-code-content::-webkit-scrollbar-thumb:hover {
  background: #026f30;
}
.modal-title {
  color: #000;
  text-align: center;
  
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.discount-code-modal {
  .ant-modal-content {
    padding: 20px 24px;
    border-radius: 20px;
  }
}

.discount-code-detail {
  .discount-code-content {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    .row-product {
      margin-bottom: 24px;
    }
    .row-product-category {
      margin-bottom: 24px;
    }
    .row-branch {
      margin-bottom: 24px;
    }
    .row-terms-and-condition {
      margin-bottom: 24px;
    }
    .row-time-exp {
      margin-bottom: 24px;
    }
    .row-limit-coupon-use {
      margin-bottom: 24px;
    }
    .coupon-conditions {
      margin-bottom: 24px;
    }
    .coupon-conditions {
      .platform {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .minimum-number {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      li {
        margin-left: 24px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .detail {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 8px;
      .text-detail {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
        width: 100%;
      }
    }
    .text-detail {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: block;
      width: 100%;
    }
    .text-title {
      color: #026f30;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: block;
      margin-bottom: 8px;
    }
  }
  .row-code {
    margin-bottom: 24px;
    .code {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      .code-text {
        border-radius: 2px;
        padding: 2px 8px;
        text-align: center;
        width: auto;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #e4e4e4;
        cursor: pointer;
        svg {
          margin-left: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .amount {
    display: flex;
    align-items: center;
    justify-content: center;
    .amount-text {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      padding: 2px 8px;
      border: 1px solid #026f30;
      text-align: center; /* Canh giữa nội dung theo chiều ngang */
      width: auto; /* Tự động fit theo nội dung */
      color: #026f30;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .unit {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background: #026f30;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 2px 8px;
      border: 1px solid #026f30;
      text-align: center; /* Canh giữa nội dung theo chiều ngang */
      width: auto; /* Tự động fit theo nội dung */
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .percent {
    display: flex;
    align-items: center;
    justify-content: center;
    .percent-text {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      padding: 2px 8px;
      border: 1px solid #026f30;
      text-align: center; /* Canh giữa nội dung theo chiều ngang */
      width: auto; /* Tự động fit theo nội dung */
      color: #026f30;
      
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .unit {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background: #026f30;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 2px 8px;
      border: 1px solid #026f30;
      text-align: center; /* Canh giữa nội dung theo chiều ngang */
      width: auto; /* Tự động fit theo nội dung */
      
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .discount-code-type {
    color: #898a8d;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
}

@media (max-width: 1024px) {
  .modal-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .discount-code-detail {
    .row-code {
      .code {
        margin-bottom: 8px;
        .code-text {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .discount-code-content {
      .row-product {
        margin-bottom: 24px;
      }
      .row-product-category {
        margin-bottom: 24px;
      }
      .row-branch {
        margin-bottom: 24px;
      }
      .row-terms-and-condition {
        margin-bottom: 24px;
      }
      .row-time-exp {
        margin-bottom: 24px;
      }
      .row-limit-coupon-use {
        margin-bottom: 24px;
      }
      .coupon-conditions {
        margin-bottom: 24px;
      }
      .coupon-conditions {
        .platform {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .minimum-number {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        li {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .text-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .text-detail {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .amount {
      .amount-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .unit {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .percent {
      .percent-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .unit {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .discount-code-type {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

@media (max-width: 575px) {
  .discount-code-modal {
    .ant-modal-content {
      padding: 20px 16px;
    }
  }
  .modal-title {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .discount-code-detail {
    .row-code {
      .code {
        margin-bottom: 8px;
        .code-text {
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .discount-code-content {
      .row-product {
        margin-bottom: 16px;
      }
      .row-product-category {
        margin-bottom: 16px;
      }
      .row-branch {
        margin-bottom: 16px;
      }
      .row-terms-and-condition {
        margin-bottom: 16px;
      }
      .row-time-exp {
        margin-bottom: 16px;
      }
      .row-limit-coupon-use {
        margin-bottom: 16px;
      }
      .coupon-conditions {
        margin-bottom: 16px;
      }
      .coupon-conditions {
        .platform {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .minimum-number {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        li {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .detail .text-detail {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .text-title {
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 12px;
      }
      .text-detail {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .amount {
      .amount-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .unit {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .percent {
      .percent-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .unit {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .discount-code-type {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
