.custom-width-tooltip .ant-tooltip-inner {
  width: 550px
}
.google-config-page {
  #settingTitle {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2b2162;
  }
  h3.label {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #282828;
  }
  .form-google-item {
    margin-bottom: 2px;
  }
  .key-invalid {
    color: red;
  }
  .require::after {
    content: "*";
    color: red;
  }
  .provider {
    min-height: 88px;
    margin-bottom: 24px;
    padding: 12px;

    &.active {
      background: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 24px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .tooltip-google-config {
    .ant-tooltip-content {
      width: 400px;
    }
  }

  .google-config-card {
    border-radius: 24px;
    .ant-card-body {
      background: #ffffff;
      border-radius: 24px;
      padding-top: 24px;
      padding-bottom: 32px;
      min-height: 73.5vh;
    }
  }
  .google-config-row-margin {
    margin-bottom: 32px;
  }

  .google-config-save-btn {
    min-width: 83px !important;
    min-height: 60px !important;
    float: right;
    margin-top: 36px;
    margin-right: -34px;
  }

  .google-map-text-style {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #817cba;
    margin-left: 14px;
  }
  .active {
    .google-map-text-style {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      text-transform: capitalize;
      color: #50429b;
      margin-left: 14px;
    }
  }

  .google-config-tooltip {
    margin-left: 12px;
    margin-bottom: -3px;
    height: 17px;
  }

  .google-config-icon {
    margin-bottom: -7px;
  }

  .google-config-input {
    .ant-input-password-icon {
      color: #50429B;
      width: 24px;
      height: 16px;
      svg {
        width: 24px;
        height: 16px;
      }
    }
  }

  .firebase-config-card {
    .inputFireBaseConfig {
      background: #ffffff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      padding-left: 16px;
      padding-top: 8px;
      display: flex;
      align-items: center;
      letter-spacing: 0.3px;
      border: none;
      resize: none;
      overflow: auto;
      height: 100%;
    }
  }
}
.toolTipGoogleConfig {
  .ant-tooltip-inner {
    width: 386px;
    height: 64px;
    text-align: unset !important;
    padding: 8px 12px;
  }
}
@media (max-width: 576px) {
  .google-config-page {
    .google-config-save-btn {
      margin-top: 24px;
      float: left;
      margin-right: 0px;
    }
  }
  .toolTipGoogleConfig {
    .ant-tooltip-inner {
      width: unset;
      height: unset;
    }
  }
}
