.register-container {
  padding: 30px 0;
  background-image: url("../../../assets/images/background-register-default.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .form-input-info-account {
    position: relative;
    margin: 0 auto;
    margin-right: 180px;
    width: 600px;
    height: fit-content;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 52px;
    padding-right: 52px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    background-color: white;

    .loading-overlay {
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(255, 255, 255, 0.7);

      .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
      }
    }
  }

  .account-information-form-theme1 {
    width: 100%;
    padding: 120px auto;

    .account-info-title {
      display: flex;
      flex-flow: row;
      .form-title {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      .arrow-left-title {
        svg {
          width: 30px;
          height: 25px;
        }
      }

      .acc-info {
        
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: #000000;
      }
    }

    .fnb-input-theme {
      height: 100%;
      font-size: 18px;
      width: 100%;

      .ant-input {
        font-size: 18px;
      }
    }
    .personal-info-theme1 {
      width: 100%;
      margin: 0 auto;
      margin-top: 16px;

      .form-label {
        margin-bottom: 8px;
      }
      .personal-info-password {
        .fnb-input-theme {
          border-radius: 12px;
        }
      }

      .personal-info-fullname,
      .personal-info-email,
      .personal-info-birthday,
      .personal-info-password,
      .personal-info-gender {
        .ant-form-item-control-input-content {
          height: 60px;
          input {
            
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            display: flex;
            align-items: center;
            color: #000000;
          }
        }
      }

      .personal-info-fullname,
      .personal-info-password,
      .personal-info-email {
        .ant-form-item .ant-form-item-explain-error {
          padding: 0px 0px 0px 16px;
          
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          display: flex;
          align-items: center;
          margin: auto;
        }
      }

      .ant-row {
        width: 100%;
      }

      .ant-col .ant-col-22 {
        display: block;
        flex: 0 0 100%;
        max-width: 100%;
      }
      .account-info-save {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 29px 0;
        gap: 16px;
        background: #026f30;
        border-radius: 12px;
        width: 100%;
        
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #fef7ed;
      }

      .ant-btn-default:disabled {
        opacity: 0.5;
      }

      .fnb-input-customize,
      .ant-picker {
        box-shadow: none;
        .ant-picker-input {
          flex-direction: row-reverse;
        }
        .ant-picker-input input {
          
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
        }
        .ant-picker-suffix svg > path {
          fill: #b2b2b2;
          stroke: #b2b2b2;
          rect {
            fill: #b2b2b2;
          }
        }
      }

      .personal-info-gender {
        margin-bottom: 26px;

        .gender-title {
          display: flex;
          margin: auto;
          align-items: center;
          
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
          color: #000000;
        }
        span {
          
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
          color: #000000;
        }

        .ant-form-item {
          margin: 0;
        }

        .ant-row {
          justify-items: center;
        }

        .ant-radio-group {
          display: flex;
          justify-content: space-between;
          color: #000000;
        }

        .ant-form-item-control-input-content {
          height: fit-content;
        }

        .ant-radio-wrapper span.ant-radio + * {
          padding-inline-start: 16px;
          padding-inline-end: 0px;
        }

        .ant-radio-wrapper .ant-radio-inner {
          background: #ffffff;
          border: 1px solid #a5abde;
          width: 24px;
          height: 24px;
        }

        .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
          border: 1px solid #ff8c21;
        }

        .ant-radio-wrapper .ant-radio-inner::after {
          background: #ff8c21;
        }

        .ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
          transform: scale(-0.95);
        }
      }
    }
  }

  .account-info-save {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px 0;
    gap: 16px;
    background: #026f30;
    border-radius: 12px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fef7ed;
  }

  .register-without-otp-message {
    margin-top: 10px;
    * {
      width: 100%;
    }
    .message {
      text-align: center;
      font-size: 16px;
      display: grid;
    }
  }
  
}

@media (min-width: 1650px) {
  .register-container {
    padding: unset;
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
    min-height: 900px;
  }
}

/* Mobile */
@media (max-width: 740px) {
  .register-container {
    padding: 25px 0px;
    background-image: url("");

    .form-input-info-account {
      width: calc(100% - 32px);
      margin: 0px 16px;
      padding-left: 16px;
      padding-right: 16px;
      .account-information-form-theme1 {
        .arrow-left-title {
          
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 0.3px;
          color: #000000;
          display: flex;
          margin-bottom: 22px;
          svg {
            margin-right: 20px;
          }
        }

        .account-info {
          font-size: 18px;
        }
        .ant-form-item-control-input-content input {
          font-size: 16px;
        }

        .personal-info-theme1 {
          width: 100%;
          margin: unset;
          margin-top: 16px;

          .ant-picker-input input {
            font-size: 16px;
            line-height: 20px;
          }
          .fnb-input-customize {
            height: 40px;
          }

          .fnb-date-picker {
            height: 40px;
          }
          .personal-info-gender {
            span {
              font-size: 16px;
            }
            .gender-title {
              justify-content: flex-start;
              margin-bottom: 18px;
              font-size: 16px;
            }
            .ant-radio-group {
              margin: 0;
              justify-content: space-between;
            }

            .ant-radio-wrapper-in-form-item {
              margin: 0;
            }

            .ant-radio-wrapper .ant-radio-inner {
              width: 20px;
              height: 20px;
            }

            .ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
              transform: translate(-2%, 2%) scale(-0.75);
            }

            .ant-radio-wrapper span.ant-radio + * {
              padding-inline-start: 12px;
              padding-inline-end: 0px;
            }
          }

          .fnb-input-customize,
          .ant-picker {
            border-radius: 8px;
          }

          .personal-info-birthday {
            .fnb-date-picker .ant-picker-suffix {
              width: 16px;
            }
          }

          .personal-info-password {
            .fnb-input-theme {
              border-radius: 8px;
            }
          }

          .personal-info-fullname,
          .personal-info-password,
          .personal-info-email {
            .ant-form-item .ant-form-item-explain-error {
              margin-top: 14px;
              font-size: 14px;
              padding: 0;
            }
          }

          .personal-info-fullname {
            margin-bottom: 14px;
          }

          .personal-info-birthday,
          .personal-info-gender,
          .personal-info-password,
          .personal-info-email {
            margin-bottom: 16px;
          }

          .personal-info-fullname,
          .personal-info-birthday,
          .personal-info-gender,
          .personal-info-password,
          .personal-info-email {
            .ant-form-item {
              margin: 0;
            }
            .ant-form-item-control-input-content {
              height: fit-content;
              input {
                font-size: 16px;
              }
            }
          }
        }

        .account-info-save {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .register-container {
    padding: 85px 0px 25px 0;
  }
}