.top-selling-product-card-component-width {
  width: 100%;
  height: 659px;
}

.top-selling-product-scroll {
  .cc-wrapper {
    height: 100%;
    overflow: hidden;
  }

  .ccw-table {
    &--chart {
      min-width: 298.24px;
      display: flex;
      align-items: center;
    }

    &--table {
      max-width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &--full {
      width: 100%;
    }
  }

  .ccw-table-row {
    padding: 0.5rem;
    width: 100%;

    .li-style {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .ccw-table-cell {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0.5rem;

      .name {
        min-width: 140px;
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
      }

      .value {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0.5rem;
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #000000;

        &:first-child {
          width: 50%;
        }

        &:last-child {
          width: 50%;
        }
      }
    }

    .ccwtw {
      width: 100%;
    }
  }

  td.ant-table-column-sort {
    background-color: transparent;
  }

  .ant-table table {
    max-width: 100% !important;
  }

  .ant-table-thead {
    height: 32px;
  }

  .ant-table-row {
    height: 32px;
  }

  .ant-table-column-sorter {
    display: none;
  }

  .top-product-modal-table {
    max-height: 550px;
    overflow-y: scroll;
  }

  .top-product-modal-table::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .top-product-modal-table::-webkit-scrollbar-track {
    border-radius: 2px;
  }

  .top-product-modal-table::-webkit-scrollbar-thumb {
    background: #50429b;
    border-radius: 2px;
  }

  .top-product-modal-table::-webkit-scrollbar-thumb:hover {
    background: #817cba;
  }
}

@media only screen and (max-width: 768px) {
  .table-selling-product-component-item-mobile {
    position: absolute;
    margin-left: -94px;
    text-align: left;
    margin-top: -8px;
  }
}
