.select-background-component {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #282828;
  margin-top: 0 !important;

  .background-color {
    display: flex;
  }
  .ant-form-item {
    margin-bottom: 0 !important;
  }
}
