.use-point-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  background: #eeeeee;
  border-radius: 20px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  .text-left {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 0;
    .text-point {
      color: #fda742;
      margin-left: 5px;
    }
  }
  .use-point-switch {
    height: 31px;
    min-width: 51px;
  }
  .use-point-switch.ant-switch-checked {
    .ant-switch-inner {
      background: #34c759;
    }
    .ant-switch-handle {
      inset-inline-start: calc(100% - 28px);
    }
  }
  .use-point-switch {
    .ant-switch-handle {
      width: 27px;
      height: 27px;
    }
    .ant-switch-handle::before {
      border-radius: 27px;
    }
  }
}

@media screen and (max-width: 576px) {
  .use-point-container {
    height: 56px;
    .text-left {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
