$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;

.search-product-component {
  .select-search-product {
    width: 100%;
    .ant-select-selector {
      border-radius: 16px;
      padding: 16px;
    }
    .ant-select-selection-overflow {
      color: #282828;
      font-size: 18px;
      font-family: "Plus Jakarta Sans";
      line-height: 21px;
      letter-spacing: 0.3px;
      margin-left: 30px;
    }
    .ant-select-selection-placeholder {
      margin-left: 42px;
    }
  }
  .search-input {
    border: none !important;
    height: 60px;
    background: #ffffff;
    border: 1px solid #e2dfef;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    input,
    input:placeholder-shown {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.3px;
      color: #282828;
    }

    .ant-input-prefix {
      padding-right: 5px;
    }
  }
  .search-material-information .ant-select-selector .ant-select-selection-placeholder {
    padding-left: 36px !important;
  }
  .search-product-component:not(.ant-input-affix-wrapper-disabled):hover {
    border: none;
    box-shadow: 0px 1px 4px #50429b;
  }
  .ant-select-selection-overflow {
    .ant-select-selection-overflow-item {
      .ant-select-selection-item {
        display: none;
      }
    }
  }
  .ant-select-selection-search {
    width: 100%;
  }
}

.dropdown-product-data {
  padding: 22px 0px 22px 20px;
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: #ffffff;
  }
  .rc-virtual-list-holder {
    max-height: 52vh !important;

    @media screen and (max-height: $screen-xl) {
      max-height: 46vh !important;
    }

    @media screen and (max-height: $screen-lg) {
      max-height: 36vh !important;
    }

    @media screen and (max-height: $screen-md) {
      max-height: 26vh !important;
    }

    @media screen and (max-height: $screen-sm) {
      max-height: 24vh !important;
    }
  }
  .rc-virtual-list-holder-inner {
    padding-right: 20px;
  }
  .ant-select-item {
    padding: 12px;
  }

  $background-color-item-option: #f7f5ff;
  .ant-select-item-option-grouped {
    padding: 0px;
    padding-right: 12px;
    margin-left: 12px;
    background-color: $background-color-item-option;
  }

  $width-image: 80px;
  .square-frame-pictures {
    width: $width-image !important;
    padding-top: $width-image !important;
    .ant-image-img {
      width: 100%;
      height: 100%;
      border-radius: 11px;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  .name {
    display: flex;
    align-items: center;
    width: calc(100% - $width-image - 20px);
    padding-left: 22px;
  }

  .top-option {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .middle-option {
    .border-custom {
      margin-left: calc($width-image + 22px);
      border-top: 1px solid #e4e4e4;
    }
  }
  .bottom-option {
    .border-custom {
      margin-left: calc($width-image + 22px);
      border-top: 1px solid #e4e4e4;
    }
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 12px;
  }
  .only-option {
    border-radius: 15px;
    margin-bottom: 12px;
  }

  .text {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    display: block;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .size-option {
    height: 50px;
    display: flex;
    align-items: center;
  }
  .size {
    display: flex;
    align-items: center;
    width: calc(100% - $width-image - 20px);
    padding-left: calc($width-image + 22px);
    .text {
      color: #000;
      font-size: 18px;
      font-family: Plus Jakarta Sans;
      font-weight: 500;
      .size-name {
        color: #888a98;
      }
    }
  }
  .size-unit {
    .text {
      color: #000;
      font-size: 18px;
      font-family: Plus Jakarta Sans;
      font-weight: 500;
    }
  }

  .align-items-center {
    display: flex;
    align-items: center;
  }
  .price {
    justify-content: flex-end;
  }
}
