.modal-flash-sale-usage-detail {
  .ant-modal-content {
    border-radius: 32px;
    height: 810px;
    .ant-modal-close {
      margin-top: 24px;
      margin-right: 20px;
    }
    .title-container {
      .modal-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #2b2162;
        text-align: center;
        background: none;
      }
    }
    .table-usage-detail {
      margin-top: 24px;
      width: 1920px;
      .ant-table-tbody > tr > td {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 500px) {
  .modal-flash-sale-usage-detail {
    .ant-modal-content {
      border-radius: 20px;
      .ant-modal-close {
        margin-top: 16px;
        margin-right: 8px;
        .ant-modal-close-x {
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
      .title-container {
        .modal-title {
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          color: #2b2162;
          text-align: left;
        }
      }
    }
  }
}

.popover-flash-sale-usage-detail {
  .ant-popover-inner-content {
    width: 768px;
    border-radius: 32px 32px 0px 0px;
    height: 749px;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.product-flash-sale-usage-col {
  min-width: 100px;
  width: 100px;
}

.product-header-table-flash-sale-usage-detail {
  padding: 12px 16px;
  height: 74px;
  background: #f9f8ff;
  border-radius: 16px;
  color: #463796;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.table-flash-sale-usage-detail-body {
  table tbody tr:nth-of-type(even) {
    background: #f9f8ff;
  }
  table tbody tr:nth-of-type(odd) {
    background: #ffffff !important;
  }
}
.table-selling-product-no-flashSale {
  width: calc(100% - 72px);
}
.table-usage-detail {
  .ant-table-body {
    overflow: auto !important;
  }
}
