.create-notification-campaign {
  .notification-guideline-page-title {
    display: flex;
    margin-right: 12px;
  }

  .color-title {
    color: #2b2162;
  }

  .margin-title {
    margin-top: 25px;
  }

  .w-40 {
    width: 40%;
  }
  .hours-title {
    .ant-form-item-required {
      color: transparent;
    }
    .ant-form-item-required::after {
      color: transparent !important;
    }
    .ant-input-number-out-of-range input {
      color: #000000;
    }
  }

  .title-send-notification {
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 18px;
  }

  .margin-time {
    margin-left: 24px;
  }

  .fnb-date-picker .ant-picker-input {
    flex-direction: row;
  }

  .note {
    textarea {
      min-height: 120px !important;
    }
    .margin-bottom-title {
      margin-bottom: 24px;
    }
  }

  .fnb-title-header {
    height: 60px !important;
    align-items: center;
  }

  .create-notification-campaign-all-customer-checkbox {
    margin-bottom: 12px !important;
  }

  .create-notification-campaign-section {
    display: flex;
    align-items: center;

    .create-notification-campaign-multiple-selection {
      flex: 1;
    }

    .create-notification-campaign-select-multiple-segment {
      width: 100%;
      position: relative;
      .ant-select-selector:hover {
        border: none !important;
      }
      .ant-select-selector {
        border-radius: 12px !important;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
        background: #ffffff !important;
        min-height: 60px !important;
        border: none !important;
      }

      .ant-select-selector .ant-select-selection-search {
        width: 100% !important;

        .ant-select-selection-search-input {
          height: 60px !important;
          font-size: 18px !important;
          padding-left: 5px !important;
        }
      }

      .ant-select-selector .ant-select-selection-placeholder {
        line-height: 60px !important;
        font-size: 18px !important;
        padding-left: 5px !important;
      }

      .ant-select-selector .ant-select-selection-item {
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 18px !important;
        letter-spacing: 0.3px !important;
        color: #000000 !important;
        padding-left: 10px !important;
        border: none !important;
        box-shadow: none !important;
        background: none !important;
      }

      .ant-select-arrow {
        user-select: all !important;
        padding-right: 5px !important;
      }
    }

    .create-notification-campaign-select-multiple-segment.ant-select-focused {
      background: #ffffff !important;
      box-shadow: 0 1px 4px #50429b !important;
      border-radius: 12px !important;
    }

    .create-notification-campaign-select-multiple-segment.ant-select-focused:not(.ant-select-disabled).ant-select:not(
        .ant-select-customize-input
      )
      .ant-select-selector {
      border: none !important;
    }

    .create-notification-campaign-select-multiple-segment.ant-select:not(.ant-select-disabled):hover
      .ant-select-selector {
      border: none !important;
    }

    .create-notification-campaign-select-multiple-segment.ant-select-multiple.ant-select-disabled.ant-select:not(
        .ant-select-customize-input
      )
      .ant-select-selector {
      background: #f6f6f6 !important;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25) !important;
    }

    .create-notification-campaign-select-multiple-segment .ant-select-selector {
      min-height: 60px !important;
      height: auto !important;
    }

    .create-notification-campaign-select-multiple-segment .ant-select-selection-item {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-height: 60px;
      position: relative;
    }

    .create-notification-campaign-select-multiple-segment .ant-select-selection-item-content {
      padding: 12px 30px 12px 16px;
      height: 60px;
      background: #f9f8ff;
      border-radius: 16px;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    .create-notification-campaign-select-multiple-segment .ant-select-selection-item-remove {
      position: absolute;
      right: 15px !important;
      background: #d9d9d9;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dont-show-item .ant-select-selection-item {
      display: none !important;
    }

    .create-notification-campaign-select-multiple-dropdown {
      background: #ffffff !important;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25) !important;
      border-radius: 12px !important;
    }

    .create-notification-campaign-select-multiple-dropdown .ant-select-item-option {
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 18px !important;
      line-height: 24px !important;
      letter-spacing: 0.3px !important;
      color: #5a5a5a !important;
      padding: 10px 15px 0 15px !important;
      height: 48px !important;
    }

    .create-notification-campaign-select-multiple-dropdown
      .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      color: #817cba !important;
      font-weight: 600 !important;
      background-color: #ffffff !important;
    }

    .create-notification-campaign-select-multiple-dropdown
      .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background: #f9fbff !important;
      border-radius: 6px !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }

    .ant-select-selection-overflow-item {
      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .selected-customer-segment-count {
          font-size: 18px;
          position: absolute;
          padding-left: 16px;
          padding-right: 16px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .create-notification-campaign {
    .margin-time {
      margin-left: 20px !important;
    }
    .time-clock-picker {
      span.ant-picker-suffix {
        display: none;
      }
      input#selectTime {
        padding-left: 0 !important;
      }
    }
  }
}

@media (max-width: 576px) {
  .create-notification-campaign {
    .select-hyperlink {
      .ant-select-selection-item {
        margin-top: 5px;
      }
    }
    .time-clock-picker {
      span.ant-picker-suffix {
        display: none;
      }
      input#selectTime {
        padding-left: 0 !important;
      }
    }

    .create-notification-campaign-all-customer-checkbox {
      .all-customer-checkbox span:not([class]) {
        padding-left: 8px !important;
      }
    }
  }
  .fnb-guideline-create-notification {
    width: 98% !important;
    top: 185px !important;
  }
}

$header-background-color: #f9f8ff;
.fnb-guideline-create-notification {
  max-width: 383px;
  .ant-tooltip-inner {
    display: contents;
  }
  .ant-tooltip-arrow {
    .ant-tooltip-arrow-content {
      --antd-arrow-background-color: linear-gradient(
        to right bottom,
        $header-background-color,
        $header-background-color
      );
      background: $header-background-color !important;
      border-radius: 0px !important;
      margin-top: 8px !important;
    }
  }
}
@media only screen and (max-width: 992px) {
  .revert-order-item .ant-space-item:nth-child(2) {
    border: none !important;
  }
}

.create-notification-campaign {
  .select-hyperlink {
    .hyperlink-option {
      .text-name {
        margin-left: 0 !important;
      }
    }
  }
}
.notification-dialog {
  p {
    font-weight: 500;
    font-size: 20px;
  }
  .cancelButton {
    background-color: #ff8c21;
    color: #ffffff;
    min-width: 111px;
  }
}
