.left-column {
  color: #9f9f9f;
  float: left;
}
.right-column {
  float: right;
}
.mb-1 {
  margin-bottom: 20px;
}
.showValidate {
  display: flex;
  flex-wrap: nowrap;
}
.hideValidate {
  display: none;
  flex-wrap: nowrap;
}
.fnb-form-label-right {
  font-size: 18px;
}
