$text_size1: 12px;
$padding_size: 20px;

.check_out_theme2_container {
  * {
    font-family: inherit;
  }
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 20px 0;
  .check_out_product {
    width: calc(70% - 36px);
    margin-right: 36px;
    .product_summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      .total {
        display: flex;
        .shoppingCart {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          color: #db4d29;
          margin-right: 5px;
        }
        .quantity {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          color: #282828;
        }
      }
      .add {
        display: flex;
        .add_icon {
          cursor: pointer;
        }
        .add_button {
          margin-left: 14px;

          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #db4d29;
          cursor: pointer;
        }
      }
    }

    .product_title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #282828;
      height: 48px;
      border-top: 1px solid #f3f3f3;
      border-bottom: 1px solid #f3f3f3;
      margin-bottom: 12px;
      padding-left: 12px;
    }
    .product_title.product-title-mobile {
      display: none;
    }
    .product_detail {
      height: calc(100vh - 58px - 279px);
      min-height: calc(100vh - 58px - 279px);
      overflow-y: auto;
      .noProductInCart {
        margin-top: 127px;
        text-align: center;
      }
      .noProductInCartText {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-top: 24px;
      }
    }
  }

  .check_out_shipping {
    width: 30%;
    ///Apply new UI
    .note {
      margin-bottom: 24px;
      .note-input {
        height: 56px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 12px 18px;
        border-radius: 12px;
        border: 1px solid #e6e6e6;
        border-radius: 12px;
      }
      .ant-input {
        margin-left: 8px;
      }
    }
    .mb-24 {
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 639px) {
  .check_out_theme2_container {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 10px !important;
    padding-right: 10px !important;
    .check_out_product {
      flex: 1;
      width: 100%;
      margin-right: unset;
      .product_summary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 29px;
        .total {
          margin-bottom: 12px;
        }
      }
      .product_title.product-title-web {
        display: none;
      }
      .product_title.product-title-mobile {
        display: flex;
      }
      .product_detail {
        height: unset;
        min-height: unset;
        overflow-y: unset;
      }
    }
    .check_out_shipping {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
