$quantity_margin: 12px;
.product_cart_theme2 {
  height: fit-content;
  background: transparent;
  border-bottom: 1px solid #eaeeef;
  border-top: 1px solid #eaeeef;

  .box_info {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    .box_product_info {
      flex: 2;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .product_image {
        width: 60px;
        height: 60px;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .product_info {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        margin-left: 10px;
        .name {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 125%;
          color: #26262c;
        }
        .description {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          color: #b2b2b2;
        }
        .discount {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 26px;
          color: #ffffff;
          background: #db4d29;
          border-radius: 30px;
          text-align: center;
          padding: 4px 8px;
          width: 60px;
        }
      }
    }
    .box_price {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      .priceWithDiscount {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #db4d29;
        text-align: left;
      }
      .price {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #000000;
        text-decoration: line-through;
        margin-left: 5px;
        text-align: left;
      }
    }
    .box_quantity {
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-left: 10px;
      .down {
        width: 32px;
        height: 32px;
        font-size: 20px;
        background: #f9f1df;
        border-radius: 17.8333px;
        cursor: pointer;
        margin-left: $quantity_margin;
        user-select: none;
      }
      .up {
        width: 32px;
        height: 32px;
        font-size: 20px;
        background: #db4d29;
        border-radius: 17.8333px;
        cursor: pointer;
        margin-left: $quantity_margin;
        user-select: none;
      }
      .quantity {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.3px;
        color: #000000;
        margin-left: $quantity_margin;
      }
    }
    .box_total {
      flex: 1;
      margin-left: 10px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      .totalAmount {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 115%;
        color: #d60707;
      }
      .delete {
        margin-left: 10px;
        cursor: pointer;
      }
      .image_show_combo {
        margin-left: 10px;
      }
      .no_content {
        margin-left: 20px;
      }
    }
  }
  .box_combo {
    background: #f9f9f9;
    border-radius: 12px;
    .box_combo_item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 2px dashed #c1c1c1;
      margin-left: 20px;
      margin-right: 20px;
      .product_image {
        width: 60px;
        height: 60px;
      }
      .box_product {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 20px;
        .product_name {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 30px;
          color: #000000;
        }
        .product_options {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          color: #9f9f9f;
        }
      }
    }

    .box_combo_item:last-child {
      border-bottom: 0 !important;
    }
  }
}

@media screen and (max-width: 639px) {
  .product_cart_theme2 {
    .box_info {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: unset !important;
      .box_quantity {
        margin-top: 15px;
        float: right;
      }
    }
  }
}
