$text_size1: 12px;
$padding_size: 20px;
.checkout-theme2-notify-dialog {
  .confirmation-modal-theme2 .ant-modal-content .ant-modal-body {
    padding: 24px 24px 24px 24px;
  }
  .btn-got-it {
    width: 210px !important;
  }
}
.discount-code-dialog {
  .customize-dialog-modal {
    * {
      font-family: inherit;
    }
    top: 60px !important;
    width: 532px !important;
    .ant-modal-body {
      padding: 24px 0px !important;
    }
  }
}
.check_out_theme2_container {
  * {
    font-family: inherit;
  }
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 20px 0;
  .check_out_product {
    width: calc(70% - 36px);
    margin-right: 36px;
    .product_summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      .total {
        display: flex;
        .shoppingCart {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          color: #db4d29;
          margin-right: 5px;
        }
        .quantity {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          color: #282828;

          .total-quantity {
            padding-right: 5px;
          }
        }
      }
      .add {
        display: flex;
        align-items: center;
        .add_icon {
          cursor: pointer;
          display: flex;
        }
        .add_button {
          margin-left: 14px;

          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #db4d29;
          cursor: pointer;
        }
      }
    }

    .product_title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #282828;
      height: 48px;
      border-top: 1px solid #f3f3f3;
      border-bottom: 1px solid #f3f3f3;
      margin-bottom: 12px;
      padding-left: 12px;
    }
    .product_title.product-title-mobile {
      display: none;
    }
    .product_detail {
      height: calc(100vh - 58px - 279px);
      min-height: calc(100vh - 58px - 279px);
      overflow-y: auto;
      .noProductInCart {
        margin-top: 127px;
        text-align: center;
      }
      .noProductInCartText {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-top: 24px;
      }
    }
  }

  .check_out_shipping {
    width: 30%;
    ///Apply new UI
    .note {
      margin-bottom: 24px;
      .note-input {
        height: 56px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 12px 18px;
        border-radius: 12px;
        border: 1px solid #e6e6e6;
        border-radius: 12px;
      }
      .ant-input {
        margin-left: 8px;
      }
    }
    .available-point {
      padding: 16px;
      gap: 12px;
      width: 100%;
      height: 56px;
      background: #ffffff;
      border: 1px solid #e6e6e6;
      border-radius: 12px;
      margin-bottom: 24px;
    }
    .mb-24 {
      margin-bottom: 24px;
    }
  }

  .button-create-order-and-payment {
    * {
      font-family: inherit;
    }
    .pay-button {
      width: 100%;
      height: 48px;
      background: #db4d29;
      border-radius: 12px;

      span {
        color: #ffffff;

        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .pay-button:disabled {
      background: #ecb9ac;
    }
  }

  .receive-point-text {
    font-style: normal;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 20px 5px;
    display: flex;
    .point-logo {
      vertical-align: middle;
      margin-right: 12px;
    }
    .earn-points {
      color: #ffa318;
      font-weight: 500;
      line-height: 20px;
      font-size: 14px;
    }
  }
}

@media (max-width: 1336px) {
  .check_out_theme2_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 16px 24px;

    .check_out_product {
      width: 100%;
      .product_detail {
        height: auto;
        min-height: auto;
        margin-bottom: 36px;
      }
    }
    .check_out_shipping {
      width: 100%;
    }
  }
}

@media screen and (max-width: 639px) {
  .check_out_theme2_container {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 16px !important;
    padding-right: 16px !important;
    .check_out_product {
      flex: 1;
      width: 100%;
      margin-right: unset;
      .product_summary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 29px;
        .total {
          margin-bottom: 12px;
        }
      }
      .product_title.product-title-web {
        display: none;
      }
      .product_title.product-title-mobile {
        display: flex;
      }
      .product_detail {
        height: unset;
        min-height: unset;
        overflow-y: unset;
      }
    }
    .check_out_shipping {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

@media (max-width: 575px) {
  .check_out_theme2_container {
    .check_out_product {
      .product_detail {
        .noProductInCart {
          margin-bottom: 101.75px;
        }
      }

      .product_summary {
        .total {
          .shoppingCart {
            font-size: 20px;
          }

          .quantity {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .check_out_product {
    .product_summary {
      .total {
        .shoppingCart {
          font-size: 20px !important;
        }

        .quantity {
          font-size: 20px !important;
        }
      }
    }
  }
}
