$momo_background: url("../../../assets/images/checkout-momo-background.png");
.check-out-momo-web-theme2 {
  width: 1415px !important;
  .ant-modal-content {
    background-image: $momo_background;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1415px !important;
    height: 810px !important;
    border-radius: 40px;
    margin: auto;
    .ant-modal-close {
      color: white;
      .ant-modal-close-x {
        font-size: 24px;
      }
    }
    .check-out-momo-qrcode-theme2 {
      background: #ffffff;
      border-radius: 20px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 533px;
      height: 731px;
      align-items: center;
      margin-left: 24px;
      margin-top: 24px;
      .logo {
        width: 120px;
        height: 120px;
        margin-top: 22px !important;
        object-fit: contain !important;
      }
      .qrcode {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .title1 {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        align-items: center;
        text-align: center;
        color: #282828;
        margin-top: 24px;
      }
      .title2 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        align-items: center;
        text-align: center;
        color: #282828;
        margin-top: 24px;
      }
      .amount {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        align-items: center;
        text-align: center;
        color: #b60e6c;
        margin-top: 24px;
      }
      .code {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        align-items: center;
        text-align: center;
        color: #282828;
        margin-top: 14px;
      }
    }
  }
}
