.fnb-text-area-with-count textarea {
  height: 90px !important;
}
.note-purchase-order {
  display: inline-block !important;
}
@media (max-width: 500px) {
  ::-webkit-scrollbar {
    display: block !important;
  }

  .confirm-leave {
    width: 340px !important;
  }

  .ant-modal-title {
    font-size: 24px !important;
  }

  .ant-btn {
    font-size: 16px !important;
    padding: 12px 16px !important;
  }
}
