.order-detail-basic {
  .order-detail-element {
    width: 50%;
  }
  .order-detail-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #50429b;
    letter-spacing: 0.3px;
  }

  .label-left {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    color: #000000;

    h3 {
      color: #737373;
      font-family: "Plus Jakarta Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.3px;
    }
  }

  .label-right {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.3px;
    color: #000000;
  }

  .order-note {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.3px;
    color: #282828;
  }

  .detail-general-card {
    min-height: 520px !important;
    .row-order-status {
      margin-top: 25px;
      margin-bottom: 12px;
    }
    .text-long {
      font-size: 18px;
      font-style: normal;
      letter-spacing: 0.3px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 2;
      font-weight: 500;
      line-height: 24px;
      max-height: 100px;
      padding-bottom: 4px;
    }
  }

  .detail-customer-card {
    min-height: 520px !important;
    height: 100%;
    .order-delivery-card {
      background: #f9f8ff;
      border-radius: 16px 16px 16px 16px;
    }
    .my-33 {
      margin-top: 33px;
      margin-bottom: 33px;
    }
    .accumulatedPoint {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.3px;
      color: #ff8c21;
    }
    .link-customer-detail {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.3px;
      color: #428bc1;
    }
  }
  .delivery-order-id {
    color: #db1b1b;
  }
}

.order-detail-items {
  .hr-dashed {
    border: 1px dashed #9f9f9f;
  }
  .order-detail-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #50429b;
    letter-spacing: 0.3px;
  }

  .item {
    &-name {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      color: #000000;
    }

    &-price-name {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #858585;
    }
  }

  .detail {
    &-price {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;

      color: #000000;
    }
  }
  .item-note {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    overflow-wrap: break-word;
    width: 100%;
    color: #282828;
  }
  .order-items-list {
    .ant-table-container {
      .ant-table-content {
        table {
          table-layout: fixed !important;
        }
      }
    }
  }
}

.sub-total {
  background: #fbfbfb;
  border-radius: 16px;
  padding: 16px 14px;
  font-weight: 500;
  font-size: 18px;
  .gross-total {
    &-label,
    &-data {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.3px;
      color: #000000;
    }
  }
  .ant-collapse-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .shipping-panel {
    .ant-collapse-header {
      padding: 12px 0px;
    }
    .shipping-fee {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
    }
    .ant-collapse-content-box {
      padding: 16px 0px 16px 16px;
      background: transparent;
      border-radius: 8px;
      border: #ffffff;
    }
  }

  .total-amount {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3px;
    color: #ff8c21;
  }

  .profit-amount {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3px;
    color: #50429b;
  }
  .tooltip-info {
    color: #9f9f9f;
  }
  .partner-commission {
    padding-left: 4px;
    color: #ff8c21;
    font-size: 18px;
  }
  .ant-collapse-ghost {
    background-color: transparent !important;
    border: 0;
  }
}
.boxDeliveryOrder {
  .flex-start {
    align-items: flex-start;
  }
  .border-dashed {
    border-top: 1px dashed #e4e1f1;
  }
  .row-right {
    justify-content: flex-end;
  }
  .deliveryOrderId {
    color: #ff8c24;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
  }
  .boxDeliveryMethod {
    margin-right: 12px;
    display: "flex";
    justify-content: "center";
    align-items: "center";

    .textDeliveryMethod {
      margin-bottom: 0;
      overflow: hidden;
      color: #282828;
      text-overflow: ellipsis;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.3px;
      text-transform: uppercase;
    }
  }

  .boxShipperName {
    display: "flex";
    justify-content: "center";
    align-items: "center";
  }
  .textShipperName {
    margin-bottom: 0;
    color: #282828;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
  }
  .ml-12 {
    margin-left: 12px;
  }
  .mr-12 {
    margin-right: 12px;
  }
}

.order-history-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.modal-order-detail-history {
  .ant-modal-content {
    .ant-modal-header,
    .ant-table-header {
      border-bottom: none;
      background-color: #ffffff;
      padding-left: 0;
      .ant-modal-title {
        color: #2b2162;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: unset;
      }
    }
    .ant-table-header {
      border-radius: 16px;
    }

    .ant-table-content > table {
      width: unset !important;
    }
    .ant-modal-body {
      padding-top: 0;
      .ant-table-body > table {
        width: unset !important;
      }
    }
    .ant-modal-close {
      .ant-modal-close-x {
        .ant-modal-close-icon {
          padding-top: 24px;
          padding-right: 24px;
          color: #2b2162;
          svg {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
  .modal-order-detail-time {
    flex-direction: column;
    align-items: center;
  }
  .modal-order-detail-time-minute {
    width: 152px;
    justify-content: center;
  }
}

@media (max-width: 1180px) {
  .order-detail-basic {
    .order-detail-element {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .sub-total {
    .sub-total-element {
      display: block;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media (max-width: 780px) {
  .order-detail-basic {
    .order-detail-element {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .sub-total {
    .sub-total-element {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .row-right {
    justify-content: unset !important;
  }
  .label-right {
    text-align: left !important;
  }
}
@media (max-width: 428px) {
  .order-history-btn {
    position: relative;
    float: right;
  }
  .modal-order-detail-history {
    width: 381px !important;
    .ant-modal-content {
      .fnb-table .ant-table-cell {
        font-size: 12px;
      }
      .ant-table-content > table {
        width: 500px !important;
      }
      .ant-table-thead > tr > th {
        padding: 6px;
      }
      .ant-modal-body {
        padding: 24px 16px;
        .desktop-mode {
          height: 0;
        }
        .ant-table-body > table {
          width: 500px !important;
        }
      }
    }
    .flash-sale-list-date {
      width: 118px;
      height: 31px;
      padding: 0 8px;
      font-size: 12px;
      svg {
        height: 16px;
        width: 16px;
      }
    }
    .modal-order-detail-time-minute {
      width: 118px;
    }
  }
}
