.blog-card-detail-container {
  width: 60.9%;
  padding: 56px 56px 32px 56px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 8px 50px 0px rgba(121, 121, 121, 0.25);
  height: 100%;
  gap: 26px;
  display: flex;
  flex-direction: column;

  .top-image {
    border-radius: 12px;
    border-radius: 16px;
    max-height: 354px;
    img {
      width: 100%;
      border-radius: 16px;
      max-height: 354px;
      object-fit: cover;
    }
  }
  .blog-detail-title {
    color: #000;
    
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }
  .blog-info {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    flex-wrap: wrap;

    .seperator {
      width: 1px;
      background: #d9d9d9;
      margin: 0px 24px;
      height: 20px;
    }

    .blog-date,
    .blog-total-view,
    .blog-creator {
      display: flex;
      align-items: center;
    }
  }
  .blog-content {
    * {
      font-family: inherit !important;
    }
    
    .custom-blog-content {
      color: #000;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      .custom-blog-quote {
        padding: 32px 96px 32px 32px;
        height: 100%;
        border-left: 8px solid #9d9d9d;
        border-radius: 12px;
        position: relative;
        .icon-quote {
          position: absolute;
          right: 47px;
          bottom: 41px;
        }
        .custom-line-box {
          display: flex;
          align-items: center;
          .line {
            width: 69px;
            height: 1px;
            flex-shrink: 0;
            background: #026f30;
            margin-right: 22px;
          }
          .text {
            color: #000;
            font-weight: 700;
            line-height: 32px;
          }
        }
      }
      .custom-title {
        color: #000;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
      }
    }
    .separate-line {
      height: 2px;
      flex-shrink: 0;
      background: #d9d9d9;
      margin-top: 32px;
    }
    .blog-bottom-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 32px;
      .blog-left-content {
        display: flex;
        align-items: center;
        .tag-title {
          color: #000;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
        }
        .tag-name {
          color: #000;
          font-size: 18px;
          font-weight: 500;
          line-height: 36px;
          letter-spacing: 0.3px;
          margin-left: 43px;
        }
      }
      .blog-right-content {
        display: flex;
        align-items: center;
        .share-title {
          color: #000;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
        }
        .icon {
          display: flex;
          align-items: center;
          margin-left: 8px;
        }
      }
    }

    // Avoid break UI when user copy content from another platforms
    article {
      max-width: 100%;
    }
    div {
      max-width: 100%;
    }
    figure {
      max-width: 100%;
    }
    figcaption {
      max-width: 100%;
    }
    img {
      max-width: 100%;
    }

    div {
      figure {
        div {
          padding-bottom: 55% !important;
        }
      }
    }
  }
  .ml-8 {
    margin-left: 8px;
  }
  .mt-24 {
    margin-top: 24px;
  }
  .mt-21 {
    margin-top: 21px;
  }
  .mt-16 {
    margin-top: 16px;
  }
  .mt-32 {
    margin-top: 32px;
  }
  .ml-45 {
    margin-left: 45px;
  }
  .mr-24 {
    margin-right: 24px;
  }
}

//Is customize
.blog-card-detail-container.is-customize {
  width: 66.4%;
  padding: 24px;
}

// Tablet
@media screen and (max-width: 1200px) {
  .blog-card-detail-container {
    width: 100%;
    padding: 24px;
    gap: 16px;
    .top-image {
      max-height: calc(100vw * 0.42);
      img {
        max-height: calc(100vw * 0.42);
      }
    }

    .blog-detail-title {
      font-size: 24px;
      line-height: 38px;
    }
  }
}

// Mobile
@media screen and (max-width: 575px) {
  .blog-card-detail-container {
    width: 100%;
    padding: 16px;
    .blog-info {
      font-size: 13px;
      svg {
        width: 16px;
        height: 16px;
      }
      .seperator {
        margin: 0px 8px;
      }
    }
    .blog-content {
      .custom-blog-content {
        font-size: 15px;
        .custom-blog-quote {
          padding: 16px;
          .icon-quote {
            position: absolute;
            right: 16px;
            bottom: 32px;
            svg {
              width: 16px;
              height: 16px;
            }
          }
          .custom-line-box {
            .line {
              width: 16px;
              margin-right: 10px;
            }
          }
        }
        .custom-title {
          font-size: 20px;
        }
      }
      .separate-line {
        margin-top: 16px;
      }
      .blog-bottom-content {
        margin-top: 16px;
        .blog-left-content {
          .tag-title {
            font-size: 13px;
          }
          .tag-name {
            font-size: 13px;
            margin-left: 24px;
          }
        }
      }
      .blog-right-content {
        .share-title {
          font-size: 13px;
        }
        .icon {
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    .mt-32 {
      margin-top: 16px;
    }
    .mt-24 {
      margin-top: 12px;
    }
    .mt-16 {
      margin-top: 8px;
    }

    .blog-detail-title {
      font-size: 18px;
      line-height: 32px;
    }
  }
}
