.member-offers-theme1 {
  padding: 24px;
  .member-offers-text {
    
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #000000;
  }
  .membership-description {
    color: #000;
    font-size: 15px;
  }
}

@media (max-width: 992px) and (min-width: 576px) {
 .loyalty-point-member-offers {
   width: 740px !important;
 }
 .member-offers-theme1 {
  padding: 8px 24px !important;
  .member-offers-text {
    font-size: 20px !important;
  }
  .membership-description {
    max-width: 720px;
    width: 100%;
    padding: 0px 24px;
    overflow: hidden;
  }
}
}

@media (max-width: 576px) {
  .member-offers-theme1 {
    padding: 0px 12px !important;
    .member-offers-text {
      font-size: 17px !important;
    }
  }
  .membership-description {
    max-width: 340px;
    width: 100%;
    padding: 0px 24px;
    overflow: hidden;
  }
}

